[2022-06-23 01:40] #217 closed

[2022-06-23 16:24] Rabia2219 commented on #101
## All Team Meeting Agenda 2022-06-23

### Prework
- [ ] Check for new questions https://github.com/hackforla/internship/issues/59
- [ ] Review the issue you are assigned to and see if it needs an update: [How to do updates ](https://github.com/hackforla/internship/wiki/How-to-give-updates-on-your-issues)

### Agenda for PMs only
- [ ] Check for updates from Christine #239
- [ ] Check for updates

[2022-06-23 16:55] priyatalwar opened #241 "Empty pages on Wiki"
### Overview
We need to identify empty pages,  incomplete pages and drafts on the wiki, so we can update or delete them.

### Action Items
- [x] Go to wiki
- [x] Identify empty pages
- [x] Identify "DRAFT NOT YET FILLED OUT" pages
- [x] Identify incomplete pages
- [ ] Update relevant WIKI page (See resources)

### Resources/Instructions
https://github.com/hackforla/internship/wiki

[2022-06-23 17:14] priyatalwar commented on #241
[ADA guide](https://github.com/hackforla/internship/wiki/ADA-Guide)
[Content Writer](https://github.com/hackforla/internship/wiki/Content-Writer)
[Data Scientist](https://github.com/hackforla/internship/wiki/Data-Scientist)
[Glossary](https://github.com/hackforla/internship/wiki/Glossary)
[Parent and Guardian Frequently Asked Questions ](https://github.com/hackforla/internship/wiki/Parent-and-Guar

[2022-06-23 17:54] christine-el commented on #239
@Rabia2219 I've created the survey template with the informed consent disclaimer and opt-out option here:  https://docs.google.com/forms/d/1m0rTEzHg2BZcaSqy0rSUvHB5-Oqg2t8jaOimQPX9uVE/edit

[2022-06-23 18:00] christine-el commented on #239
@Rabia2219 Here are the questions that we wanted to ask in the survey to administer to the interns each Friday, when asking for their feedback.  I don't think I'll have time to format it into a google form before tomorrow morning:
@Rabia  The questions for the standup survey that Bonnie wants to give to interns tomorrow--not sure I'll have time to format it before tomorrow morning:
![image](https:

[2022-06-23 19:15] ExperimentsInHonesty commented on #220
Here is our analysis of your activity from last year.  It includes some [skills that you could still tick off this year](https://docs.google.com/spreadsheets/d/1jdEHNEEcpdJI8tVc582-m9sSlr4UJ13kNjw0gAgqWX4/edit#gid=795324587).  If any of them seem like they have been done already, please provide the issue number so we can correct the data

[2022-06-23 19:15] ExperimentsInHonesty commented on #238
Clayton - put in pr but is not sure it went through
Tung - put in pull request
Brian - 90% done
beckett - done with two issues
Riya - finished with second issue
Charity - good progress
Lily - access to google drive
Sakari - GitHub action

[2022-06-24 02:54] #227 closed

[2022-06-24 02:54] MCoding1 commented on #223
.

[2022-06-24 02:54] #223 closed

[2022-06-24 21:19] sniux commented on #208
Sarah & Snig / 24-6
- TWE: [Mentor Survey Draft 90% done. ](https://docs.google.com/document/d/1b8aerTkz2evVezCIuqMUWRrAJHhAcElkk9tU5wwYLfY/edit#)
- Finalized the research plan for the survey

Next up:
- Finalize 'perceived challenges' questions
- Confirm mentor onboarding slides with Bonnie to finish the knowledge items

Blocker:
- Bonnie needs to confirm with the mentors

[2022-06-25 17:42] ExperimentsInHonesty commented on #239
@christine-el please provide the notes you took (just cut and paste them here) on what we were going to ask them about linkedin workshops

[2022-06-25 23:40] Annie-Truong commented on #210
The spreadsheet has been updated with all the meetings and I double checked the attendees as well as the Zoom4 account. It looks good now except for the column "Team meetings".

[2022-06-25 23:57] Rabia2219 commented on #239
1.     Do you feel more/less/same amount of confidence in using LinkedIn after this workshop?

2.     On a scale from 1-5, how confident do you feel in [fill in a specific skill….]

3.     Would you recommend this workshop to other people?  [yes/no]

4.     How could we improve this workshop>

[2022-06-26 00:38] Annie-Truong opened #242 "TWE: Create Parent Consent Form for Surveys/Interviews"
### Overview
We need to create a condensed consent form with questions from all the surveys/interviews on a single form.

### Action Items
- [ ] Create a form.
- [ ] Add sections for each survey.
- [ ] Add screenshots of questions of surveys.
- [ ] Review and finalize.
- [ ] Update relevant WIKI page (See resources)

### Resources/Instructions
- [TWE: Parent Consent Form for Surveys/Interviews - E

[2022-06-26 06:14] Aparna1Gopal commented on #208
**Notes:**

**Consent Forms**

Consent Forms for UX Research: A Starter Template
Do you have permission for that? How to write an easy-to-understand informed consent form, plus the template we use at User Interviews.
https://www.userinterviews.com/blog/how-to-write-research-participant-consent-forms?utm_source=autopilotResearcher&utm_medium=email&utm_campaign=FV&utm_content=220

[2022-06-26 15:07] Rabia2219 commented on #210
@ExperimentsInHonesty
We just need your input on the Team Meetings and then this issue can be closed...thanks...

[2022-06-26 15:08] Rabia2219 commented on #242
@ExperimentsInHonesty
This is the issue for the Parent Consent Form...it is linked in the resources...

[2022-06-26 16:59] ExperimentsInHonesty commented on #242
1.0 Intern #
1.01  Would you like to participate in this LinkedIn Workshop Exit Survey?
2.0 What was the ____ (1st, 2nd, etc.) section covered in today's workshop?
Top (Name, Photo, Title, Organization, City, Email)
About (Description, List of skills)
Featured (Articles and/or portfolio)
Activity (Comments, posts)
Experience
Licenses & Certification
Education
Skills and Endorsements
Recommendation

[2022-06-26 17:00] priyatalwar commented on #239
Linkedin Sections:

- Top (Name, Photo, Title, Organization, City, Email)
- About
- Featured
- Activity
- Experience
- Education
- Skills and Endorsements
- Licenses and Certifications
- Volunteering
- Honors and Awards
- Recommendations
- Courses
- Projects
- Languages
- Interests

**Sections covered on the survey**

- Top (Name, Photo, Title, Organization, City, Email)
- About (Description, List

[2022-06-26 20:00] ExperimentsInHonesty commented on #242
![image](https://user-images.githubusercontent.com/37763229/175831805-6a8b8f31-5ed2-40a3-8179-b64170bfba02.png)

[2022-06-26 20:05] ExperimentsInHonesty commented on #242
![image](https://user-images.githubusercontent.com/37763229/175831960-48bee034-2807-46dd-81a1-8ea15d3a899f.png)

[2022-06-27 00:00] epierotti3 commented on #4
<img width="601" alt="Screen Shot 2022-06-26 at 4 58 12 PM" src="https://user-images.githubusercontent.com/65616818/175839076-8061ee69-ff61-4549-b37c-a57cd45da011.png">

[2022-06-27 01:04] ExperimentsInHonesty commented on #4
![Meeting diagram](https://user-images.githubusercontent.com/37763229/175842172-9109388e-4fc2-44be-84f8-bc005e064a03.png)

[2022-06-27 01:10] ExperimentsInHonesty commented on #4
![Version 4](https://user-images.githubusercontent.com/37763229/175842567-95a3d282-3344-4d26-b0b7-2d687ad22649.png)

[2022-06-27 15:42] Annie-Truong commented on #49
[DATE] Agenda and Notes

### Prework
- [ ] Issue for audit #93
- [ ] Check to see if there are questions, and if yes, add it to agenda #59
- [ ] Check to make sure any issues from this week made [The 2022 Internship Program Process Overview](https://github.com/hackforla/internship/wiki/The-2022-Internship-Program-Process-Overview) on the wiki

### Roll Call
- [ ] Bonnie
- [ ] Rabia
- [ ] Priyanka

[2022-06-27 18:06] Annie-Truong commented on #242
We reviewed the parent consent survey form and found out that we wouldn't be able to embed the survey form in the email for parents because we included pictures in the survey form.
We created a [new survey copy](https://docs.google.com/forms/d/1_WFVIOOufS7JAv6oqrkCsTqCSTnISSRi3TRBh8uPA24/edit) where we deleted the pictures out and placed the survey questions as checkboxes in the survey. This way,

[2022-06-27 18:08] Rabia2219 commented on #238
Monday June 27th

Clayton - finished 1 issue, reviewed 1 PR, working on fixing bugs in code
Tung - finished good 2nd issue, did 1 or 2 PR reviews, wants help on choosing a guide
Brian - good progress (will work on BallotNav)
Beckett - reviewed 1 PR, made an issue and worked on finding on a guide
Charity - good progress (needs to make a template in FigJam)
Lily - finished 1st issue, reviewed 2 PRs

[2022-06-27 18:42] Rabia2219 commented on #242
@Annie-Truong
Bonnie and Elizabeth had already figured out what the problem was and decided to use the images rather that embed the form in the email, so that's solved now :)

[2022-06-27 21:32] Rabia2219 opened #243 "TWE: IS22: Create a form to collect parent emails"
### Overview
We need to create a form to collect parent/guardian emails so that we can send out the consent email and forms to them

### Action Items
- [x] Creata a Google form with relevant information
- [x] Review and finalize
- [x] Update relevant WIKI page (See resources)

### Resources/Instructions
- [TWE: Collect Parent Emails - Edit](https://docs.google.com/forms/d/1_2lrwm5cWpoew_xs7w5BCwu0

[2022-06-28 00:05] bradyse commented on #242
- Edited [End-of-Week Intern Evaluation of Mentor RP and survey](https://docs.google.com/document/d/1OPpNYnRh6Dl1VyyQ6-QuPgUhgahgSX8_pwwh6Kg9ZQA/edit?usp=sharing) inside of [External Communication - Parent](https://drive.google.com/drive/folders/1uKw7lUS-lNiL5cYSUlZPi-98VmcnNiT-?usp=sharing) folder, per Bonnie and Rabia's request.
- Had quick meeting with Bonnie and @Rabia2219 about parental conse

[2022-06-28 00:51] bradyse commented on #208
### Notes:
@christine-el  (please fix Wiki)

#### Tasks to Complete, UXRs currently working on:

Research Plan (Aparna G)
**RP12:** Surveys – post onboarding, weekly, transfer from Google .doc to .form (Sara.B, Snigdha)
Consent forms – for mentors & interns to participate in various interviewing activities, audio/video/writing (Angela, Aparna G.)
Other research needed -- could be an asset to **RP1

[2022-06-28 00:56] bradyse opened #244 "Create and Send Mentor Post-Onboarding Survey"
### Dependencies
[Consent Forms_Mentor Program #245](https://github.com/hackforla/internship/issues/245)

### Overview
We need to create a post-onboarding survey for the TWE mentors to assess the extent to which they understand their role as a mentor, gaps they experienced during the onboarding, and perceived challenges or barriers to being an effective mentor.

### Action Items
- [x] Create Resea

[2022-06-28 01:27] Aparna1Gopal opened #245 "Consent Forms_Mentor Program"
### Overview
We need to create Consent Form templates for the following:
Mentors to participate in various interviewing activities, audio+video+surveys + for interns to be recorded during their interaction with their mentors

### Action Items

- [x] Identify Best Practices, Consent form templates
- [x] Examples to collect: From RP6, Code for America, UserInterviews, IRB etc.
- [x] Create Email req

[2022-06-28 01:36] Aparna1Gopal commented on #245
**Notes:**

**Consent Forms**

Consent Forms for UX Research: A Starter Template
Do you have permission for that? How to write an easy-to-understand informed consent form, plus the template we use at User Interviews.
https://www.userinterviews.com/blog/how-to-write-research-participant-consent-forms?utm_source=autopilotResearcher&utm_medium=email&utm_campaign=FV&utm_content=220

[2022-06-28 08:23] Aparna1Gopal opened #246 "Create Interview Guide - Mentor Exit Interview"
### Overview
We need to create an Exit Interview Guide for the TWE mentors to assess the extent to which they understand their role as a mentor. Any gaps they experienced during the course of their mentorship and perceived challenges or barriers to being an effective mentor.

### Action Items
- [ ] Create Research Plan
- [ ] Create Interview Guide (knowledge, gaps, and perceived challenges)
- [ ]

[2022-06-28 08:38] Aparna1Gopal commented on #208
@lkawentel Just an FYI, I have created a new issue for the Interview Guide: Exit Interviews and assigned you. The issue can be found here https://github.com/hackforla/internship/issues/246

(I was cleaning up and streamlining our current above workspace #208).

Please feel free to make any updates/changes/edits as you work through the Interview Guide: Exit Interviews issue.

[2022-06-28 18:10] ExperimentsInHonesty commented on #238
Tung - waiting for 2nd pr review
Charity - figjam changes
Brian - working on making issues
Lilly - waiting on pr reviews
Clayton - working on small issue
Beckett - waiting on pr review on small issue
Lilly - waiting for 2 reviews (one reviewer assigned)

[2022-06-28 18:42] christine-el commented on #208
I have updated the Wiki page to add all of the new research projects we discussed yesterday here:  https://github.com/hackforla/internship/wiki/Research-Output-Overview.  Please go in and fill out the description of each project you're working on, along the lines of what I've done here:  https://github.com/hackforla/internship/wiki/Research-Plan-6:-Intern-Intake-Interviews.  New google drive folde

[2022-06-28 18:43] christine-el commented on #208
I have also created a new label for each research project, so please go ahead and add or change the labels for each of the issues that you have been assigned.

[2022-06-28 18:45] christine-el commented on #208
@Aparna1Gopal @bradyse I'm wondering if we should actually create new issues for each new research project, as I think each issue is supposed to only have one feature label.  What do you think?  I'm happy to do this if you agree, although I may need your help.

[2022-06-28 22:43] ExperimentsInHonesty commented on #238
missing response from some of the students
https://docs.google.com/forms/d/1_2lrwm5cWpoew_xs7w5BCwu0bsho5gNJRDGYCI8o6co/edit#responses

[2022-06-29 05:12] Annie-Truong opened #247 "Interns Skill dashboard requirements"
### Overview
We need to identify and list out the requirements for the Skill dashboard in order to facilitate the work for a developer. We will recruit a developer to help us with creating labels (via GitHub Action) for the skills that interns develop during their internship.

### Action Items
- [ ] Provide list of data:
    - Group (e.g. IS22)
    - Intern #
    - Name of Intern
    - GitHub hand

[2022-06-29 05:14] Annie-Truong commented on #247
Issue related to this issue: Extrapolate the skills for the interns #63

[2022-06-29 05:18] Annie-Truong commented on #49
# 2022-06-29 Agenda and Notes

### Prework
- [ ] Issue for audit #93
- [ ] Check to see if there are questions, and if yes, add it to agenda #59
- [ ] Check to make sure any issues from this week made [The 2022 Internship Program Process Overview](https://github.com/hackforla/internship/wiki/The-2022-Internship-Program-Process-Overview) on the wiki

### Roll Call
- [ ] Bonnie
- [ ] Rabia
- [ ] Pri

[2022-06-29 16:20] #179 closed

[2022-06-29 16:22] priyatalwar commented on #82
Christine is the new research lead. We don't have a need for co-leads, but we need additional UX researchers.

[2022-06-29 16:23] ExperimentsInHonesty commented on #188
The letter has been revised and can be found on this wiki page along with the other consent information for parents/guardians https://github.com/hackforla/internship/wiki/Intern-Research-Plans-and-Goals

[2022-06-29 16:23] #188 closed

[2022-06-29 16:28] ExperimentsInHonesty commented on #198
@epierotti3 please update the https://github.com/hackforla/internship/wiki/The-2022-Internship-Program-Process-Overview with the deck and mention that it contains icebreakers

[2022-06-29 16:31] #198 closed

[2022-06-29 16:33] ExperimentsInHonesty commented on #205
Update the https://github.com/hackforla/internship/wiki/The-2022-Internship-Program-Process-Overview page to have a link to a link to we setup a dedicated research page https://github.com/hackforla/internship/wiki/Research-Output-Overview

[2022-06-29 16:34] #204 closed

[2022-06-29 16:38] ExperimentsInHonesty commented on #209
Added to wiki, changes for next time on this page https://github.com/hackforla/internship/wiki/The-2022-Internship-Program-Process-Overview
[code]

The reason for this, is that it ended up taking tons of time to get their availability, and then they still didn't provide as much as would have been needed to complete the internship, which then required us to write letters to them.  All of that could

[2022-06-29 17:19] bilkishgautham commented on #93
- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
   - Created a new issue, did not add labels
- [x] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] role, ending at 7/0
   - [x] size, ending at 8/2

[2022-06-29 18:41] ExperimentsInHonesty commented on #238
Bonnie - don't forget to ask about linkedin

[2022-06-30 15:56] Annie-Truong commented on #101
## All Team Meeting Agenda 2022-06-30

### Prework
- [ ] Check for new questions https://github.com/hackforla/internship/issues/59
- [ ] Review the issue you are assigned to and see if it needs an update: [How to do updates ](https://github.com/hackforla/internship/wiki/How-to-give-updates-on-your-issues)

### Agenda for PMs only
- [ ] Check for updates from Christine
- [ ] Check for updates from

[2022-06-30 16:36] epierotti3 commented on #59
Add your questions here, move to In Progress, and assign Bonnie

[2022-06-30 16:41] epierotti3 commented on #42
![Hero Sample 12](https://user-images.githubusercontent.com/44823677/175969451-fb04aca8-87d7-4236-9d65-04c96484d8c6.png)

[2022-06-30 16:43] epierotti3 opened #248 "Create project card image for HfLA website (600 x 400)"
### Dependencies
- https://github.com/hackforla/website/issues/2288

### Overview
We need to have an image to put on the project card for the hackforla website, so that we can get our project listed

### Action Items
- [x] Make a 600 x 400 image out of the logo with appropriate white padding on the sides.

### Resources/Instructions
https://hackforla.org/projects
[internship figma](https://www.fig

[2022-06-30 16:47] #185 closed

[2022-06-30 17:07] #207 closed

[2022-06-30 17:27] ExperimentsInHonesty commented on #62
- Discuss with Christine https://github.com/hackforla/internship/issues/208

[2022-06-30 17:43] epierotti3 commented on #49
Rabia and Bonnie need to figure out why Elizabeth and Bilkish aren't in the PM github repo (has it been removed from onboarding because COP wasn't happening?)

[2022-06-30 17:45] #190 closed

[2022-06-30 17:54] bradyse commented on #245
Hi @Aparna1Gopal and @adarosh

I am currently working on updating this page on the Wiki so that Bonnie can use it during the mentor onboarding process:
[Mentor Research Plans and Goals](https://github.com/hackforla/internship/wiki/Mentor-Research-Plans-and-Goals).

In order to add some of the Consent materials to this page, I copied the intern parent consent Google Form into this [Google Drive fol

[2022-06-30 18:29] Rabia2219 commented on #238
@ExperimentsInHonesty add link to wiki in the resources

[2022-06-30 19:22] adarosh commented on #245
Hi @bradyse

Thanks for the update!

Yes, the folder should contain Code for America’s example consent form and template (pulled from their Qualitative Research Practice Guide, 2020). I also included a version of their template that I edited based on the mentorship program research.

I’m happy to fill in the templates in time for others to review before Tuesday, but have a few clarifying questions

[2022-07-01 06:36] Aparna1Gopal commented on #208
**Notes from Slack**

[To Christine El Ouardani]
 Yes, we did decide to create new issues for each new research project. I did go ahead and create new issues for each project yesterday. As I was cleaning up and streamlining the #208 project workspace. I have also updated each issue with the newly created feature labels, so we are all set. Thanks for creating the labels!

[2022-07-01 14:31] ale22arevalo commented on #248
![Project Card](https://user-images.githubusercontent.com/44823677/176914496-545eb0fb-d84d-411e-9710-308b3e7ca6ff.png)

[2022-07-01 15:17] Aparna1Gopal commented on #245
@bradyse  Many thanks for the update! And for sharing the onboarding timeline for Tuesday. I will review the above details and get back to you if I have any further questions.

[2022-07-01 22:25] bradyse commented on #245
@adarosh, I finished writing the items for the mentor intake surveys and included consent information in the document: [here](https://docs.google.com/document/d/1Y2f6_PQd4Gyo7rOwgFm7OYg7FAUg_1yIrsww2MCrsGE/edit#heading=h.ljd18g2tzhed). It might be a bit over-the-top, but I can't seem to get past my academic training. 😂

Feel free to give me feedback on it, use it, or suggest revisions before the o

[2022-07-01 22:30] bradyse commented on #244
@sniux  and @christine-el

Here is a [draft of the survey](https://docs.google.com/document/d/1Y2f6_PQd4Gyo7rOwgFm7OYg7FAUg_1yIrsww2MCrsGE/edit#heading=h.zgpmukqxk19)for the Mentor Intake Survey. Feel free to review, revise, and/or provide feedback. The onboarding is supposed to happen Tuesday July 5, but I have not heard whether that is still happening or not. In any case, it would be good to sti

[2022-07-02 15:17] Aparna1Gopal commented on #245
**Notes**

Current production pipeline for the Consent Forms

Angela: Currently working on draft of Consent Form
Aparna: Finalizing Email template to send to mentors. Will review Consent form draft and transfer to google form and email template.

[2022-07-02 15:31] ExperimentsInHonesty commented on #205
I have updated the relevant wiki page and am closing this issue https://github.com/hackforla/internship/wiki/Research-Plan-6:-Intern-Intake-Interviews

[2022-07-02 15:31] #205 closed

[2022-07-02 16:10] ExperimentsInHonesty commented on #202
I have copied all the relevant links and notes to the wiki page
https://github.com/hackforla/internship/wiki/Research-Plan-6:-Intern-Intake-Interviews
and am closing this issue

[2022-07-02 16:10] #202 closed

[2022-07-02 16:21] ExperimentsInHonesty commented on #187
@christine-el all that remains to do on this issue is to

- [ ] update the wiki page with the answer to "Question".
- Create the following issues (with the dependency of the consent process being completed)
  - [ ] TWE: RP6: Intern Intake: Data Analysis
  - [ ] TWE: RP6: Intern Intake: Data Presentation

When you have done that, you can close this issue.

[2022-07-02 16:41] ExperimentsInHonesty commented on #188
I have added a link to the parent/guardian page on consent to the rp006 wiki page
https://github.com/hackforla/internship/wiki/Research-Plan-6:-Intern-Intake-Interviews#consent

[2022-07-02 16:42] ExperimentsInHonesty commented on #207
I have added all the links to the https://github.com/hackforla/internship/wiki/Research-Plan-6:-Intern-Intake-Interviews page

[2022-07-02 17:19] adarosh commented on #245
@Aparna1Gopal I have uploaded a draft Consent Form for the post-onboarding survey to the Consent Forms_Mentor Interviews/Surveys folder on Google Drive. The title of the document is Mentorship Survey Informed Consent. Let me know if you have any questions/concerns!

[2022-07-03 14:54] Rabia2219 commented on #211
Updated https://github.com/hackforla/internship/wiki/The-2022-Internship-Program-Process-Overview/_edit with onboarding deck and day 1 activities spreadsheet.

[2022-07-03 14:54] #211 closed

[2022-07-03 15:10] Rabia2219 commented on #210
I just need Mateos' project name to add to the spreadsheet and then this issue can be closed.

[2022-07-03 15:30] Rabia2219 commented on #243
Updated the [The 2022 Internship Program Process Overview]
(https://github.com/hackforla/internship/wiki/The-2022-Internship-Program-Process-Overview) with this information and form.

[2022-07-03 15:30] #243 closed

[2022-07-03 18:29] bradyse commented on #245
@Aparna1Gopal and @adarosh ,

Thank you for your hard work on the consent forms. I have taken what Angela wrote in the survey template and adapted it for use in the [mentor intake survey instructions](https://docs.google.com/document/d/1Y2f6_PQd4Gyo7rOwgFm7OYg7FAUg_1yIrsww2MCrsGE/edit#heading=h.zgpmukqxk19).

If we are going to do use similar procedures as the Parental Consent process, then we nee

[2022-07-04 03:20] Annie-Truong commented on #213
@Rabia2219 @bilkishgautham @bonniewolfe

1. I made some edits to the [Time Sheet (Recorded)](https://docs.google.com/spreadsheets/d/10oqrFfqMELuBUPwQQGgBscmdF7FTG61aSLbXqju3wSM/edit#gid=2026057936):
-    The "All Data (incl. makeup) form" consolidates the "makeup" time data and the "normal" time data. The consolidation process is automated - no need to edit anything in the "All Data (incl. makeup)

[2022-07-05 14:38] Aparna1Gopal commented on #245
@adarosh @bradyse

Mentor Informed Consent – Google Form is ready to go!

I have collated all the information from Angela’s consent form, Sara’s feedback on structure, the parental consent forms, added info regarding interviews/audio/video from existing intern docs to keep all language and formatting consistent.

The following has been completed:
- [ ] The consent form (broad consent across all ca

[2022-07-05 16:05] Aparna1Gopal commented on #208
**Notes from Slack**

[From: Aparna Gopal, To: Sara Brady]

Based on our Teams call, the following has been updated:

Details regarding Mentor Intake Interviews (or rather, lack thereof due to time constraints) have been updated in RP8, https://docs.google.com/document/d/1ywAYj0NMXQy53kVuEOmtVUdvGy51HqT67xak0EJrFXE/edit

These details have been updated in the Mentor Intake Interviews’ Wiki, as wel

[2022-07-05 16:31] Rabia2219 commented on #63
- PR review page still needs to be anonymized
- spreadsheet: new format page : needs the GitHub handle from the Skill Audit page
-  If column E has no related issue, write null
- Populate column F with Complexity from PR (on PR the label is called Size)
- In row 8, column G it says False, but it is a PR review so please double check that whole column against the PR Review Audit tab

[2022-07-05 23:02] Rabia2219 commented on #63
@ExperimentsInHonesty
Met with Tin. He can work on all the points above except the last as there is a descripancy between the PRs in the PR Review Audit and  the New Format Sheet. I can explain further when we meet.

[2022-07-05 23:23] bradyse commented on #237
@Rabia2219 :

Using the internship gmail account, I emailed the following requesting if they were available tomorrow at either 5pm or 7pm PST for an onboarding session:
- Satyajit C.
- Jonathan K.
- Emerson C.

Did not email the following respondents:
- Robert E. -- Said that they had not been a Hack for LA volunteer before
- Garima C. -- Did not respond to HfLA questions or provide a Slack handle

[2022-07-06 15:49] epierotti3 commented on #49
# 2022-07-06 Agenda and Notes

### Prework
- [ ] Issue for audit #93
- [ ] Check to see if there are questions, and if yes, add it to agenda #59
- [ ] Check to make sure any issues from this week made [The 2022 Internship Program Process Overview](https://github.com/hackforla/internship/wiki/The-2022-Internship-Program-Process-Overview) on the wiki

### Roll Call
- [ ] Bonnie
- [ ] Rabia
- [ ] Pri

[2022-07-06 15:56] epierotti3 commented on #93
Date:  2022-07-06
- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] role, ending at 3/0
   - [x] size, ending at 25/2
   - [x] feature, ending

[2022-07-06 18:04] ExperimentsInHonesty commented on #238
- Sakari: out June 27th to July 1st
- Clayton
- Mateo
- Tung
- Riya
- Lily
- Charity
- Brian
- Beckett - waiting for review, working on github actions
- Asher - not here

[2022-07-06 23:39] bradyse commented on #244
Thank you @sniux for helping put the survey items into the Google Form!! 🤩

[2022-07-07 01:10] bilkishgautham commented on #49
Draft of [Weekly Audit of labels and milestones](https://github.com/hackforla/internship/issues/93)

**Overview**
We need to perform a weekly check on issues to make sure they all conform to our label and milestone schema.

**Action Items**
- [ ] Below are the Links for checking to make sure that the below issues have the "missing label" added for the specific category.

  - [ ] [Role](https://git

[2022-07-07 17:11] ale22arevalo commented on #126
Update 7/7: Looked over Hack for LA's design system, started working on color system for our design system, reached out to Design Systems to team to attend their next weekly meeting to get a better understanding of their design process and how we can apply it to our own system.

[2022-07-07 17:13] bonniewolfe commented on #49
Elizabeth will be out on Monday and Thursday next week

[2022-07-07 17:36] bradyse commented on #244
- Finalized informed consent documents and intake survey items for the wiki (mentor view).
- Need to create a GitHub issue for finalizing exit survey research plan, updating wiki, etc.

[2022-07-07 17:36] #244 closed

[2022-07-07 17:57] bradyse commented on #245
@adarosh @Aparna1Gopal

During the UX lead/PM meeting on July 6 and in preparation for the [mentor onboarding](https://docs.google.com/presentation/d/1k7vWfOaXEnVebC5qkU9n7WLp_PLCfT0vcLkKC96e1J4/edit?usp=sharing), Bonnie, Rabia, and I worked on the following:
- Rebranded [informed consent document](https://docs.google.com/document/d/1c6SKPty8dP6J58x5n7FrcomH6ryc0iZW_ZrvrE58M0Q/edit) using TWE temp

[2022-07-07 18:01] bradyse commented on #244
During the UX lead/PM meeting on July 6, I did the following to prepare for the mentor onboarding:
- Took the [Google Form](https://docs.google.com/forms/d/1eQou3oATIYXoeApkD1ftY37HVNrIPOTUCyzsQfgbPGY/edit) that @sniux created and revised it, including doing the following:
   - Numbered the questions
   - Added mentor # to the top of the survey
   - Added informed consent question
   - Revised (wi

[2022-07-07 18:08] bradyse commented on #237
@Rabia2219 I believe this issue is done with the exception of the one mentor that Ava mentioned that could potentially be onboarded by Bonnie separately. If you think this issue is done, then please close. Thank you!

[2022-07-07 18:33] ExperimentsInHonesty commented on #238
12pm sat with Charity, send invite
2pm sunday with Brian

[2022-07-09 20:50] Rabia2219 commented on #242
Sent out on July 6th and July 7th (to Sakari's parents)

As of July 9th, we have consent from Asher's, Riya's and Sakari's parent(s)

[2022-07-09 21:02] Rabia2219 commented on #4
@tonydo95

[2022-07-10 17:26] bradyse commented on #208
- Restructured epic issue to keep track of all relevant mentor issues.
- Some new issues need to be created as a result.

[2022-07-11 00:55] bilkishgautham commented on #49
[DATE] Agenda and Notes

### Prework
- [ ] Issue for audit #93
- [ ] Check to see if there are questions, and if yes, add it to agenda #59
- [ ] Check to make sure any issues from this week made [The 2022 Internship Program Process Overview](https://github.com/hackforla/internship/wiki/The-2022-Internship-Program-Process-Overview) on the wiki

### Roll Call
- [ ] Bonnie
- [ ] Rabia
- [ ] Priyanka

[2022-07-11 04:37] Rabia2219 commented on #49
@bilkishgautham items to add to the agenda:
- check responses from parents regarding consent
- board cleanup
- give Tin feedback on his issue

Please make sure you add the appropriate issues to the agenda items where applicable...thanks :)

[2022-07-11 18:19] ExperimentsInHonesty commented on #238
- Sakari: got pr merged, have a new issue, worked on docker guide,   blockers are docker guides issue, finished react portion
- Clayton: got merged and took up a medium issue and will meet with mentor tonight
- Mateo - not here
- Tung: crashing issues medium
- Riya: has not picked up a guide yet
- Lily: reset working environment
- Charity: having internet issues today
- Brian: will work on hfla is

[2022-07-12 13:39] Aparna1Gopal opened #249 "TWE' 22: Create and send Mentor Interest Form_Mentor outreach and recruitment"
### Dependencies

https://github.com/hackforla/internship/issues/208

### Overview

This issue keeps track of the Mentor Recruitment Strategy deployed in 2022. The mentors also serve as the target research participants for the Mentor research program.

This issue can serve as the baseline for Mentor/research participant recruitment and outreach.

This issue also serves in the documentation process

[2022-07-12 15:17] ale22arevalo commented on #126
Update 7/12: Met with Design Systems team. They provided me with several resources to build our own design system.

- https://docs.google.com/document/d/14BZYFEa5s5FESeASNorEDLH6zEW0LTYcpD1NVyE66iM/edit
- https://www.figma.com/community/file/928108847914589057
- https://www.smashingmagazine.com/provide/eBooks/design-systems.pdf

I decided to start with the color palette. I input all over primary c

[2022-07-12 15:42] Aparna1Gopal commented on #249
**Notes**
Summer 2022 Internship Mentor Interest Form
https://docs.google.com/forms/d/1rs530vY6vVZ3nonHqEbWxpt4rBf0zgBdXiRAlTVkafo/edit

LinkedIn Outreach:

[2022-07-12 15:49] Aparna1Gopal commented on #249
**Notes:**

This issue is currently being cleaned up to align with Epic Issue #208

[2022-07-12 15:58] Aparna1Gopal opened #250 "Create Slide Deck for dissemination of research results"
### Dependencies
- #329

### Overview

We need to create a slide deck template to be able to disseminate research results and insights to all internal and external stakeholders in order to communicate the value of this research. Stakeholders include the product owner, designers, mentors, mentees.

### Action Items

- [ ] Identify the branding of TWE22 and decide on a Slide Deck design and format
-

[2022-07-12 18:25] raswani2023 commented on #236
Here is my resume content builder: https://docs.google.com/spreadsheets/d/1OUshgI4g2KdQhULUWIT732VrhlqqYdX-PRt3S2GRRvI/edit?usp=sharing

[2022-07-12 18:40] ExperimentsInHonesty commented on #238
- Sakari: holding on issue until team meeting
- Clayton: met with mentor and no blockers
- Mateo: not
- Tung: fixed computer and is going to make a guide for how to test GHAs
- Riya: PR issue will address during meeting - will help her pick a guide
- Lily: got unstuck from the too large medium issue and is now on a new issue
- Charity: flow charts for migration project, reconciliation process of t

[2022-07-12 21:25] christine-el opened #251 "Create Mentor Exit Survey"
### Overview
We need to create a mentor exit survey to administer to mentors during mentor offboarding in order to get feedback on what the mentoring experience was like and how the mentorship program can be improved upon on in the future.

### Action Items

- [x] Draft a survey
- [ ] Discuss with UX lead and/or Bonnie
- [ ] Revise survey
- [ ] Update relevant WIKI page (See resources)

### Resour

[2022-07-12 22:16] ExperimentsInHonesty commented on #238
ask interns if they can do Friday the 29th at 11am for exit interviews or if they can do later

[2022-07-13 01:57] #245 closed

[2022-07-13 15:58] epierotti3 commented on #49
2022-07-13 Agenda and Notes

### Prework
- [ ] Issue for audit #93
- [ ] Check to see if there are questions, and if yes, add it to agenda #59
- [ ] Check to make sure any issues from this week made [The 2022 Internship Program Process Overview](https://github.com/hackforla/internship/wiki/The-2022-Internship-Program-Process-Overview) on the wiki

### Roll Call
- [ ] Bonnie
- [ ] Rabia
- [ ] Priya

[2022-07-13 16:00] epierotti3 commented on #93
Date: 2022-07-13
- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] role, ending at 5/0
   - [x] size, ending at 24/2
   - [x] feature, ending a

[2022-07-13 16:22] ExperimentsInHonesty commented on #153
#### Onboard
- [ ] Slack channel membership
  - [ ] ```#internship```
  - [ ] ```#interns``` (if necessary)
     - [ ] not needed
- [ ] Add to Google calendar invites
   - [ ] Tuesday BA meeting (if necessary)
      - [ ] not needed
   - [ ] Tuesday UX Research meeting (if necessary)
      - [ ] not needed
   - [ ] Thursday All-team meeting
- [ ] Google Drive
   - [ ] Add to drive as Content Manag

[2022-07-13 16:48] ExperimentsInHonesty commented on #123
Bilkish
#### Offboard
- [x] Remove from Google calendar invite
   - [x] Monday PM meeting
   - [x] Tuesday BA meeting
   - [x] Tuesday UX Research meeting
   - [x] Wednesday PM meeting (ad-hoc)
   - [x] Thursday All-team meeting
 - [x] 1password setup
    - [x] remove from team vaults
       - [x] Internship program
       - [x] Internship - UI/UX
- [x] Google Drive
   - [x] demote to viewer
- [x]

[2022-07-13 16:54] #241 closed

[2022-07-13 16:58] epierotti3 commented on #123
Seena
#### Offboard
- [ ] Remove from Google calendar invite
   - [] Monday PM meeting
   - [ ] Tuesday BA meeting
   - [ ] Tuesday UX Research meeting
   - [ ] Wednesday PM meeting (ad-hoc)
   - [ ] Thursday All-team meeting
 - [ ] 1password setup
    - [ ] remove from team vaults
       - [ ] Internship program
       - [ ] Internship - UI/UX
- [ ] Google Drive
   - [ ] demote to viewer
- [ ] Ro

[2022-07-13 17:18] epierotti3 commented on #123
Grace
#### Offboard
- [x] Remove from Google calendar invite
   - [x] Monday PM meeting
   - [x] Tuesday BA meeting
   - [x] Tuesday UX Research meeting
   - [x] Wednesday PM meeting (ad-hoc)
   - [x] Thursday All-team meeting
 - [ ] 1password setup
    - [ ] remove from team vaults
       - [ ] Internship program
       - [ ] Internship - UI/UX
- [x] Google Drive
   - [x] demote to viewer
- [x] R

[2022-07-13 17:19] epierotti3 commented on #123
@ExperimentsInHonesty Hi Bonnie, when you have a chance can you complete these two off-boardings for Seena and Grace (above) by removing them from 1password? Thanks

[2022-07-14 16:04] christine-el opened #252 "Recruit UX Researchers for Exit Interviews"
### Overview
We need to recruit UX researchers to conduct the intern exit interviews.

### Action Items

- [x] Determine the date/time of the exit interviews
- [x] Create message to send to researchers who conducted onboarding interviews, to see who is available to conduct an interview
- [x] Conduct Training on Tuesday, June 26 from 3-5 pm
- [x] For those who are interested, send an additional mes

[2022-07-14 17:12] Rabia2219 commented on #238
Reminder:
ask interns if they can do Friday the 29th at 11am for exit interviews or if they can do later

[2022-07-14 18:15] ExperimentsInHonesty commented on #238
- Sakari: will go to office hours on the issue he has a blocker
- Clayton: will go to office hours tonight
- Mateo
- Tung: will go to office hours
- Riya: can't come today on a flight
- Lily: waiting for review
- Charity:
- Brian - hfla website, will add roster info
- Beckett: 2 prs, ava helped with guides outreach, waiting on a test to run, blocker able to test on ghpages repo, will discuss durin

[2022-07-14 22:10] bradyse commented on #251
@sniux and @christine-el, I put a[ draft of the survey and the research plan](https://docs.google.com/document/d/1bHYxFmFTX0px0XkgPCXU_FiOQ34v4WFpECpipYrM3vo/edit?usp=sharing) in the resources. Please let me know if these goals are in line with what you all were thinking.

@lkawentel, I included you on this comment so that you can be in the loop regarding alignment for the interview script. If my

[2022-07-14 23:41] christine-el commented on #252
@ExperimentsInHonesty We will need the date/time of the intern exit interviews before sending out the availability poll to the UX interviewers.

[2022-07-15 00:04] Rabia2219 opened #253 "IS22 Mentor Standup"
### Overview
We need a place to take notes during the Mentor Standup and for the mentors to add their updates.

### Action Items

- [x] Roll Call
- [x] Take Notes (PMs)
- [x] Add updates (Mentors)
- [ ] Update relevant WIKI page (See resources)

[code]
### Resources
- [TWE: End of Week Feedback from Mentor Survey](https://docs.google.com/forms/d/e/1FAIpQLSeR3ntOrFKh--Ni2xWwmAWiG2_jrY8K_pPB3wQSB7Cj

[2022-07-15 00:21] Rabia2219 commented on #253
Roll Call
- Satya
- Jonathan

[2022-07-15 00:30] s4tya commented on #253
* Clayton and I met on Monday/meeting him again today in 10 mins
* Bonnie mentioned needing to let the interns know how important it is to communicate blockers early. Will bring that up with Clayton.
* We will possibly continue our relationship after 3 weeks.
* Need to have a catch-up meeting with Bonnie re: LinkedIn profile
* Could have joined the LinkedIn meeting on Tuesday even if I was delayed

[2022-07-15 20:47] Rabia2219 commented on #240
Emails were sent out on July 6th 2022 and July 9th 2022

[2022-07-15 21:04] Rabia2219 commented on #192
Please see #208 for details as this was taken up by the researchers.

[2022-07-15 21:04] #192 closed

[2022-07-15 21:15] Rabia2219 commented on #162
We used the Cuckoo timer during the intern onboarding. Haven't been using it much after that. Do we like it enough to add it to the Product Management Wiki?

[2022-07-15 21:34] Rabia2219 commented on #215
Please see note at the beginning of the issue description.

[2022-07-15 21:34] #215 closed

[2022-07-15 21:40] #214 closed

[2022-07-15 22:17] Rabia2219 commented on #210
We have all the information in the spreadsheet so closing this.

[2022-07-15 22:17] #210 closed

[2022-07-15 22:45] Rabia2219 commented on #162
We have decided on Cuckoo and added it to the PM Wiki

[2022-07-15 22:45] #162 closed

[2022-07-16 03:56] Rabia2219 commented on #203
Done and used during onboarding. Added to Wiki.

[2022-07-16 03:56] #203 closed

[2022-07-16 04:22] Rabia2219 commented on #213
Unfortunately, this did not work.
1. The Time Card is NOT automated and does require manual manipulation at the end of every day.
2. The week formula was changed and not working as was the concat formula.
3. The Dashboards displayed differently and/or were broken.

I worked on both the time card and creating individual dashboards as per Org requirements. All the work linked in this issue is still

[2022-07-16 04:28] Rabia2219 opened #254 "TWE: IS22: Create a customized time card dashboard"
### Overview
We need to create an individual dashboard for each intern so that the hours they put in (using the time card) can be visually displayed.

### Action Items

- [x] Gather requirements
- [x] Create charts/tables using data in time card
- [x] Add design elements
- [x] Customize for each intern
- [x] Share with respective intern
- [x] Update relevant WIKI page (See resources)

### Resource

[2022-07-16 04:31] Rabia2219 commented on #254
Notes:
I had to add another sheet to the existing spreadsheet that contained the expectations (added manually) for each week, intern ID (added manually), week number (pulled from the PD sheet through a formula) and the total for each intern per week (pulled and calculated from the PD sheet).

For the next cohort, I would suggest collecting the commitment vs expectation for each week through a form

[2022-07-16 04:34] #254 closed

[2022-07-16 04:36] Rabia2219 commented on #193
Will give Elizabeth a tutorial on how to do the manual part for the makeup data on Monday so this can be maintained.

[2022-07-16 04:36] #193 closed

[2022-07-18 16:31] ExperimentsInHonesty commented on #98
This issue has been unassigned from Maria and there are two known documents that will need to be cleaned up as well as this issue, before it can be reassigned

[Folder](https://drive.google.com/drive/u/0/folders/1uNAqQebl2N9RV3zj_9u2ps1XW7EStg2G)
- [(testing colors) Copy of Simple Business Plan by Slidesgo](https://docs.google.com/presentation/d/1V8QX5AI2S76NzQ_jr4go2x7ZPQ-Bxex_s13eCT02qlI/edit?us

[2022-07-18 16:35] ExperimentsInHonesty commented on #59
Kelly (former lead designer who helped us create a brand book) asked
Q: Is it possible to setup a deck and presentation in a keynote or Pitch (presentation software with existing formats?)
A: We standardize on Google Docs (including slides)

[2022-07-18 16:45] ExperimentsInHonesty commented on #184
Brand Personality for our project is: Tech Work Experience has an inclusive, supportive, welcoming, experimental, fun, collaborative, forgiving, can-do personality.

[2022-07-18 17:07] ExperimentsInHonesty commented on #4
![Uploading IMG_0705 2.png…]()

[2022-07-18 17:10] Rabia2219 opened #255 "Update the brand platform page by changing all the heading text to Calibri"
### Overview
We need to update the Brand Platform document in Figma to match the fonts that we use.

### Action Items
- [x] Follow instructions on how to add Calibri font to Figma
- [x] Update the Brand Platform page by changing the heading font to Calibri
- [x] Save PDF of each brand book page
- [x] *ADD INSTRUCTIONS TO ADD pdf pages to team drive
- [x] Add link to Brand Book PDF (in Google Drive

[2022-07-18 18:28] ExperimentsInHonesty commented on #238
- Sakari: reviewed a few pull requests, and took on a CSS issue, blocker is spent a bunch of time with cleaning up files that get added to all your branches.
- Clayton:  front end, medium
- Mateo:  no here
- Tung:  working on the issue, there is no template, she will make one.
- Riya: issue got merged, busy this week with
- Lily, will need to figure out location issue
- Charity:  working on video,

[2022-07-19 00:13] Rabia2219 opened #256 "Update TWE Brand Book"
### Overview
We need to update the brand book so that it reflects our chosen mission, personality, attributes, etc.

### Action Items
- [ ] Review the brand book page on the wiki
- [ ] Update as needed
- [ ] Update relevant WIKI page (See resources)

### Resources/Instructions
- [TWE Brand Book Wiki Page](https://github.com/hackforla/internship/wiki/Internship-Brand-Book)
- Find WIKI page for your

[2022-07-19 02:17] christine-el commented on #252
Needs to be discussed with @ExperimentsInHonesty / @epierotti3 / @Rabia2219 at next meeting:
-At what time will UX Researchers need to log on to offboarding?
-Assigned Google Forms at the event?
-Can we use the same "Finishing Up Form" as we did for the Onboarding?
-Easy Retro Board

[2022-07-19 02:17] christine-el commented on #252
@christine-el Make sure to add new UX researchers to UXR sheet and assign them a number.

[2022-07-19 02:32] christine-el opened #257 "TWE: RP006: Intern Intake Interviews: Data Analysis"
### Overview
We need to analyze the intern onboarding interviews.  Some of this analysis will also require data from the the exit interviews to be conducted July 29th.

### Action Items

- [ ] Locate the data and make sure that it is all de-identified
- [ ] Use Otter.ai to transcribe interviews
- [ ] Review research goals/interview questions
- [ ] Decide on a plan of action for analysis
- [ ] Carr

[2022-07-19 13:18] Rabia2219 commented on #238
@ExperimentsInHonesty
reminder: meet with Tung after standup https://github.com/hackforla/website/issues/2816

[2022-07-19 13:28] #248 closed

[2022-07-19 20:49] emecas commented on #253
Report: We meet with Tung 07/12/2022 for about 1 hour, mainly a session based on open dialog and active listening, attempting to address it toward her main goals, which we are also trying to identify and prioritize, hoping it is an ideal approach and is being useful for her.

Personally I am enjoying this approach, even more than mentoring teammates at work, it feels like more openness and less re

[2022-07-19 23:44] christine-el opened #258 "RP 16: Intern Productivity Dashboard Survey"
### Overview
We need to gather feedback about the productivity dashboard, in order to improve the usability of the product.

### Action Items
- [x] Draft Survey Questions
- [x] Create Google Form to Distribute
- [ ] Send out to interns
- [ ] Update relevant WIKI page (See resources)

### Resources/Instructions
- [LinkedIn Weekly Survey](https://docs.google.com/forms/d/16QcDQtLTPEct44sJ_RIudj6XuKK0

[2022-07-20 01:23] epierotti3 commented on #49
2022-07-20 Agenda and Notes

### Prework
- [ ] Issue for audit #93
- [ ] Check to see if there are questions, and if yes, add it to agenda #59
- [ ] Check to make sure any issues from this week made [The 2022 Internship Program Process Overview](https://github.com/hackforla/internship/wiki/The-2022-Internship-Program-Process-Overview) on the wiki

### Roll Call
- [ ] Bonnie
- [ ] Rabia
- [ ] Priya

[2022-07-20 01:30] epierotti3 commented on #93
Date: 2022-07-20
- [ ] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
   - [ ] We need to update the tags for size (0.25, 0.50) and feature (research)
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   -

[2022-07-20 16:28] ExperimentsInHonesty opened #259 "Create agenda for intern offboarding"
### Overview
We need to create an agenda for offboarding the inters
### Action Items
- [x] Review the onboarding issue and see which items need to be reversed.
- [x] Identify other resources they need to be removed from
- [x] Identify information we want to give them on exit

### Resources/Instructions
- [intern onboarding issue](https://github.com/hackforla/internship/issues/new?assignees=&labels

[2022-07-20 16:33] ExperimentsInHonesty opened #260 "Create an offboarding issue template for the interns"
### Dependencies
- #259
- Determination that it is going to be helpful

### Overview
WE NEED TO DO X FOR Y REASON

### Action Items
A STEP BY STEP LIST OF ALL THE TASK ITEMS THAT YOU CAN THINK OF NOW EXAMPLES INCLUDE: Research, reporting, etc.

### Resources/Instructions
REPLACE THIS TEXT -If there is a website which has documentation that helps with this issue provide the link(s) here.

[2022-07-20 16:38] ExperimentsInHonesty commented on #259
#### Slack
You can stay in channel (if you want to communicate with other interns) or remove yourself

#### Google Drive
- [ ] Confirm access to Google Drive folders
  - [ ] Your Intern folder
  - [ ] TWE: All Interns

#### GitHub
- [ ] View GitHub Tutorial
- [ ] Create a GitHub account
- [ ] Make sure you have a professional name  (if you have a GitHub account already you can rename)
- [ ] Setup

[2022-07-20 17:00] ExperimentsInHonesty commented on #238
Ask them to take [linkedin survey](https://docs.google.com/forms/d/e/1FAIpQLSdNByzgUK19HlWSmdyuegaMwHrVGTe4d1Phq0pJZ9DCtjs-sw/viewform)
Ask them to update [linkedin issues](https://github.com/hackforla/internship/issues?q=is%3Aissue+is%3Aopen+label%3A%22role%3A+intern%22+label%3A%22p-feature%3A+Linkedin+profile%22+)

[2022-07-20 17:09] ExperimentsInHonesty commented on #124
#### Onboard - not a lead
- [ ] Google Drive
   - [ ] Add to drive as Manager -1
- [ ] Roster
  - [ ] Send link
  - [ ] Team member adds themselves
  - [ ] Check for Public
  - [ ] Check for 2FA
- [ ] GitHub
     - [ ] Add to team write team
     - [ ] Add to read vault
     - [ ] Confirm that their name is on their Github
- [ ] Figma
  - [ ] invite
  - [ ] acceptance
- [ ] 1password
     - [ ] in

[2022-07-20 17:27] epierotti3 commented on #124
@ExperimentsInHonesty Hi Bonnie, please add Koyel Ranu (koyelranu@gmail.com) to one password when you have a moment. Thanks!

[2022-07-20 17:41] epierotti3 opened #261 "Create intern off-boarding form"
### Dependencies
- #259

### Overview
We need to create a Google form that will collect interns' intended level of involvement with their HfLA project after the internship ends (e.g., leaving project, staying on as volunteer).

### Action Items
- [x] Create google form using TWE template
- [x] Populate with questions discussed here #259
- [x] Administer form to interns during Standup Wednesday 7/2

[2022-07-20 17:45] epierotti3 opened #262 "Create Intern off-boarding slide deck"
### Dependencies
- #259

### Overview
We need to create a deck that will guide the off-boarding process for IS22 interns.

### Action Items
- [x] Copy onboarding slide deck as template
- [x] Populate with topics/structure discussed here #259
- [x] Update relevant WIKI page (See resources)

### Resources/Instructions
- [Offboarding slide deck](https://docs.google.com/presentation/d/1C08sZCUHEcW9Lwd

[2022-07-21 00:08] ExperimentsInHonesty commented on #238
Who can confirm Friday 3-4 pm for exit interviews
we will schedule with the Thursday people individually early next week

[2022-07-21 15:22] epierotti3 commented on #101
## All Team Meeting Agenda [2022-07-21]

### Prework
- [ ] Check for new questions https://github.com/hackforla/internship/issues/59
- [ ] Review the issue you are assigned to and see if it needs an update: [How to do updates ](https://github.com/hackforla/internship/wiki/How-to-give-updates-on-your-issues)

### Agenda for PMs only

### FYI

### Roll Call:

- [ ] Bonnie
- [ ] Rabia
- [ ] Priyanka

[2022-07-21 18:01] ExperimentsInHonesty commented on #126
Resource from another project

### Accessibility standards
Title III of the Americans with Disabilities Act (ADA) requires that all websites be accessible to people with disabilities. The World Wide Web (W3C) Consortium's Web Content Accessibility Guidelines (WCAG) 2.0 Level AA function as the current legal standard for website accessibility.

Get acquainted with accessibility: https://www.ada.gov

[2022-07-21 18:24] ExperimentsInHonesty commented on #238
- Sakari:  still working on his isssue, crushing errors, pr reviews, can do friday
- Clayton: working on the issue, no blockers, friday
- Mateo: not here
- Tung: not here
- Riya: working on issues, no blockers, can't get access to dashboard, can do friday
- Lily: working on issues and prs, can do thursday (as early as you want (because its daytime in france) no later than 12pm.
- Charity: video an

[2022-07-22 01:39] christine-el opened #263 "IS22: Make Intern Exit Interviews Issues"
### Overview
We need to create an issue for each person we are interviewing to make sure we get all the steps uniform

### Action Items

- [ ] Create an issue for each interview
- [x] After interviews occur, confirm recordings are saved on Google Drive
- [x] Email interviewers to confirm recordings are deleted.
- [ ] Update relevant WIKI page (See resources)

### Resources/Instructions
- [Intern O

[2022-07-22 13:53] emecas opened #264 "Add Missing Link "TWE: End of Week Mentor Survey" in the Mentor WIKI"
### Dependencies
No Blockers or Dependencies

### Overview
Wiki documentation for mentors is missing the link for the survey regarding to "TWE: End of Week Mentor Survey"

### Action Items

- [ ] Update relevant [WIKI page](https://github.com/hackforla/internship/wiki/Mentor-Research-Plans-and-Goals)
- [ ]  Check and update any other place where the link could be required

[2022-07-23 01:30] christine-el opened #265 "Schedule and Conduct Mentor Exit Interviews"
### Overview
We need to schedule and conduct mentor exit interviews in order to collect the final wave of data for this project.

### Action Items
- [x] Contact mentors to figure out when their availability for a 30-60 minute interview to be conducted this week (between July 25-29, although we could probably do it next week, too, if that's easier for them).
- [x] Match each mentor to an interviewe

[2022-07-23 01:53] christine-el opened #266 "RP 14: Create Mentor Exit Interview Guide"
### Overview
We need to create a mentor exit interview guide in order to collect feedback on the mentors' experience with the HFLA interns.

### Action Items

- [x] Create and finalize the RP14 research plan, including interview questions
- [x] Create a google form to be used by interviewers during the interviews
- [x] Update relevant WIKI page (See resources)

### Resources/Instructions
-[RP14: M

[2022-07-23 11:01] Rabia2219 commented on #264
@ExperimentsInHonesty
Bonnie...I think there's a misunderstanding of who this survey is meant for...
Let's talk about it today...

[2022-07-23 22:21] bradyse opened #267 "IS22 Mentor Exit Interviews: Make Issues"
### Dependency
 We need to schedule Mentor Exit Interviews first, see #265

### Overview
We need to create an issue for each person we are interviewing to make sure we get all the steps uniform

### Action Items
- [x] Create an issue for each interview
   - [x] #268
   - [x] #269
   - [x] #270
   - [x] #272
- [x] Add this info to interviewer spreadsheet

### Resources/Instructions
For **INTERN** e

[2022-07-23 22:39] bradyse commented on #265
**2022.07.23**
- Slacked messaged 4 mentors
- Created and edited epic issued modeled after #142

[2022-07-24 17:05] bradyse opened #268 "IS22 Mentor Exit Interview: # 1"
### Overview
We need to track the interview for Mentor # 1 so that we don't drop the ball or lose data about it.

### Action Items
- [x] Go to 1Password
  - [x] open zoom spreadsheet
    - [x] add time of interview and find a zoom room account that is free (zoom1-4)
- [x] Go to the Zoom Account that you found to be free
  - [x] Create a non recurring 1 hour meeting for that time
- [x] Add the zoom

[2022-07-24 17:21] bradyse opened #269 "IS22 Mentor Exit Interview: # 2"
### Overview
We need to track the interview for Mentor # 2 so that we don't drop the ball or lose data about it.

### Action Items
- [x] Go to 1Password
  - [x] open zoom spreadsheet
    - [x] add time of interview and find a zoom room account that is free (zoom1-4)
- [x] Go to the Zoom Account that you found to be free
  - [x] Create a non recurring 1 hour meeting for that time
- [x] Add the zoom

[2022-07-24 17:21] bradyse opened #270 "IS22 Mentor Exit Interview: # 3"
### Overview
We need to track the interview for Mentor # 3 so that we don't drop the ball or lose data about it.

### Action Items
- [x] Go to 1Password
  - [x] open zoom spreadsheet
    - [x] add time of interview and find a zoom room account that is free (zoom1-4)
- [x] Go to the Zoom Account that you found to be free
  - [x] Create a non recurring 1 hour meeting for that time
- [x] Add the zoom

[2022-07-24 17:27] christine-el commented on #258
@ExperimentsInHonesty @koyelranu:   Here is a link to a draft of the email that needs to be sent out to parents:  https://docs.google.com/document/d/1oZ9MFTkVF4D28MzTp8FqPcUCA-WODO2MgQRspgQilx8/edit

1.)  The questions need to be added to the email.  2.)  The research plan and google form need to be added to the Guardians WIKI page.  3.)  The link to the WIKI may also be added to the email, once #

[2022-07-24 17:44] koyelranu commented on #258
Intern Productivity Dashboard Survey was created on Google Forms ([https://forms.gle/EckgGUXzTaVcyiV7A]. Survey Questions were taken from here: [https://docs.google.com/document/d/1__fdDhcOBPjtnwNQaQv3xR1pPkKJvZAAaB181YlhllA/edit#]

[2022-07-24 18:35] christine-el opened #271 "RP 17: Productivity Dashboard Sakari Interview Upload"
### Overview
We need to upload Sakari's interview on the productivity dashboard to a Google Folder in order to further analyze the interview.

### Action Items
- [x] Create folder called `sakari productivity dashboard interview` insie RP17
- [x] Bonnie needs to upload Sakari's interview on the productivity dashboard to the folder
- [x] add role: ux research and remove org rep
- [x] Update relevant

[2022-07-24 21:32] ExperimentsInHonesty commented on #258
Example document with the goals: https://docs.google.com/document/d/11owu6zVKn2KkonqngAef5wXYQi3OEe6Q6x6fqn8Huts/preview

Document you are editing
https://docs.google.com/document/d/1__fdDhcOBPjtnwNQaQv3xR1pPkKJvZAAaB181YlhllA/edit#

Original email: https://docs.google.com/document/d/1fvZ-SpEfYzu-GaRAOyemi5Gn5pCfkoncBtejAOuqYCo/edit

Email we are editing
https://docs.google.com/document/d/1oZ9MFTk

[2022-07-25 00:00] Rabia2219 commented on #253
@emecas
Hi Emerson...the form is linked in the resources above...

[2022-07-25 00:00] Rabia2219 commented on #264
@emecas
Hi Emerson,
The form has been updated and linked under the resources in #253

[2022-07-25 00:02] #264 closed

[2022-07-25 13:29] ale22arevalo commented on #126
Wiki color contrast review outcomes:
- [aXe](https://www.deque.com/axe/): tool couldn't analyze wiki
- [SiteImprove](https://chrome.google.com/webstore/detail/siteimprove-accessibility/efcfolpjihicnikpmhnmphjhhpiclljc): didn't identify issues with current color contrasts
- [Tenon](https://tenon.io/): didn't show any issues
- [WAVE](https://wave.webaim.org/extension/): approved color contrasts
<img

[2022-07-25 16:50] Rabia2219 commented on #238
@ExperimentsInHonesty
Putting the updated/fixed [TWE: End of Week Mentor Survey](https://docs.google.com/forms/d/e/1FAIpQLSe1iAi5xpOW5EXyAAKHbjdDUt_scR02Oy0bkiligSyuQEi1dw/viewform) here if you want to ask the mentee students to fill it in...

[2022-07-25 18:28] ExperimentsInHonesty commented on #238
- Sakari: b-day: refactor skills
- Clayton: testing your GHA issue
- Mateo: testing issue
- Tung:
- Riya: has not read new issue
- Lily: reviewing prs and looking for new issue
- Charity: trying to find a free video editor
- Brian:  hidden drive issue
- Beckett: reviewing prs and working on guides - mentioned this https://github.com/nektos/act
- Asher: waiting for issue to be merged

[2022-07-25 20:49] bradyse opened #272 "IS22 Mentor Exit Interview: # 5"
### Overview
We need to track the interview for Mentor # 5 so that we don't drop the ball or lose data about it.

### Action Items
- [x] Go to 1Password
  - [x] open zoom spreadsheet
    - [x] add time of interview and find a zoom room account that is free (zoom1-4)
- [x] Go to the Zoom Account that you found to be free
  - [x] Create a non recurring 1 hour meeting for that time
- [x] Add the zoom

[2022-07-25 21:04] bradyse commented on #266
Hi @christine-el and @lkawentel,

Bonnie reviewed the [research plan](https://docs.google.com/document/d/14oTKedGpwAHo-UWFiaCkHY1i-BohQsbu1eoKo1qMHMA/edit) and made some edits to it. I also furthered those edits according to what Bonnie and I discussed on Monday 07-25 in both the research plan and[ google form](https://docs.google.com/forms/d/1oJIf5Me_ZpfGL0cMRFle8dujcY_d-IZYjsGiSlrpXFs/edit).

I

[2022-07-25 21:54] bradyse commented on #251
@christine-el @epierotti3

Since the mentor exit surveys are now being rolled into the exit interviews, can we close this issue?

[2022-07-25 22:08] epierotti3 commented on #251
See issues #266 and #267 for updates related to this issue.

[2022-07-25 22:08] #251 closed

[2022-07-26 16:17] christine-el commented on #238
@ExperimentsInHonesty @epierotti3 The following interns have not yet responded "yes" to the calendar invite for their exit interview.  Please remind them to respond.  I will also follow up on Slack this evening if I don't hear from them.

- Lily-Interview scheduled for Thursday from 9:30-10:30 am PST
- Riya-Interview scheduled for Friday from 3-4 pm PST
- Clayton-Interview scheduled for Friday fro

[2022-07-26 17:54] christine-el opened #273 "Create Intern Exit Interview Training"
### Overview
We need to create an intern exit interview training so that the new UX researchers know how to conduct the research interviews on Friday.

### Action Items
- [x] Create slide deck, using RP6 training deck as template
- [x] Update exit interview instructions
- [x] Create new links to easy retro
- [x] Update relevant WIKI page (See resources)

### Resources/Instructions
- [RP12 Intern E

[2022-07-26 17:56] christine-el commented on #273
@ExperimentsInHonesty @epierotti3 The free Easy Retro account only allows you to create three free boards.  I created an account for the training using my personal gmail address, but realize this is not ideal.  Let me know if you would prefer me to do something else, but I need to finish the slide deck right now.

[2022-07-26 18:23] ExperimentsInHonesty commented on #238
- Sakari: finished issue and looking for new one,
- Clayton: working with running GHAs locally
- Mateo: not here
- Tung: have a question X
- Riya: new issue, have a question X
- Lily: not here
- Charity: making video
- Brian: double check worksheet
- Beckett: PRs and waiting for review (will ask about it in
- Asher: often has water polo practice

[2022-07-26 19:40] christine-el opened #274 "IS22 Exit Interviews: Intern #2"
### Overview
We need to track the interview for Intern # 2 so that we don't drop the ball or lose data about it.

### Action Items
- [ ] Go to 1Password
  - [ ] open zoom spreadsheet
    - [ ] add time of interview and find a zoom room account that is free (zoom1-4)
- [ ] Go to the Zoom Account that you found to be free
  - [ ] Create a non recurring 1 hour meeting for that time
- [ ] Add the zoom

[2022-07-26 20:04] raswani2023 commented on #236
Resume content building tool: https://docs.google.com/spreadsheets/d/1nMo3XiJnZm3HM3Pv_x5t3--soV96Xy1mNb54iJcY88w/edit#gid=1869629152

[2022-07-26 20:06] Zak234 commented on #225
LinkedIn Profile:
https://www.linkedin.com/in/sakari-salminiitty/

[2022-07-26 20:26] ExperimentsInHonesty commented on #236
remaining
- add HfLA info to the linkedin profile
- getting endorsements
- Adding something to the feature and/or activity section (optional)
- Getting a letter of recommendation added to your profile (desired)

[2022-07-26 20:31] ExperimentsInHonesty commented on #233
remaining

- add remainder of HfLA info to the linkedin profile
- getting endorsements
- Adding something to the feature and/or activity section (optional) - a link to the video
- Getting a letter of recommendation added to your profile (desired)

[2022-07-26 20:35] ExperimentsInHonesty commented on #232
remaining
- add HfLA info to the linkedin profile
- add skills
- getting endorsements
- Getting a letter of recommendation added to your profile (desired)

[2022-07-26 20:40] ExperimentsInHonesty commented on #238
Book time with Bonnie if your linkedin experience section still needs work

[2022-07-26 20:40] ExperimentsInHonesty commented on #230
https://www.linkedin-makeover.com/linkedin-text-formatter/
https://fsymbols.com/signs/bullet-point/

[2022-07-26 20:49] ExperimentsInHonesty commented on #229
meet with bonnie to review bullets.
get endorsements

[2022-07-27 00:14] bradyse commented on #246
This issue is being tracked in RP 14: Create Mentor Exit Interview Guide #266 instead

[2022-07-27 00:14] #246 closed

[2022-07-27 14:08] epierotti3 commented on #49
2022-7-27 Agenda and Notes

### Prework
- [ ] Issue for audit #93
- [ ] Check to see if there are questions, and if yes, add it to agenda #59
- [ ] Check to make sure any issues from this week made [The 2022 Internship Program Process Overview](https://github.com/hackforla/internship/wiki/The-2022-Internship-Program-Process-Overview) on the wiki

### Roll Call
- [ ] Bonnie
- [ ] Rabia
- [ ] Priyan

[2022-07-27 14:09] epierotti3 commented on #93
Date: 2022-07-27
- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [ ] role, ending at
   - [ ] size, ending at
   - [ ] feature, ending at
   - [

[2022-07-27 16:20] epierotti3 commented on #259
Figure out the exit interview schedule (Christine knows)
Finish form (text Bonnie when done)

[2022-07-27 16:39] epierotti3 commented on #238
@ExperimentsInHonesty [intern off-boarding form](https://docs.google.com/forms/d/160XMPcu_b2vDCKFYSUjwC_qC2ZdLBbGcgrfXZoFYO34/viewform) to send out during standup

[2022-07-27 17:40] epierotti3 commented on #260
Example of onboarding issue #218

[2022-07-27 17:50] epierotti3 commented on #259
Information to provide on exit:
- Thank you for participating
- Learned skills and new connections made
- How to continue with HfLA (come back as volunteer?)
- How to stay in touch with us/other interns/mentors

[2022-07-27 18:30] epierotti3 commented on #261
Form sent out during today's stand up and in the interns slack channel.

[2022-07-27 20:14] ExperimentsInHonesty commented on #238
lilly and charity have filled out the form

[2022-07-27 23:15] epierotti3 commented on #238
Ask Lily at standup on Thursday 7/28 about scheduling her exit interview

Form update: all but Sakari and Mateo have filled out the off-boarding form

[2022-07-28 02:18] bradyse commented on #270
@epierotti3 This issue is complete and the interview recording has been uploaded. Is it okay if we close this issue?

[2022-07-28 02:33] epierotti3 commented on #270
Yes should be fine to close!

Sent from my iPhone

[2022-07-28 07:09] CharityLai6 commented on #233
PM skills (check with Bonnie):
- communication
- time management
- collaboration/teamwork
- organization
- project planning
-

Featured section:
- ["How to move files you have created" video](https://vimeo.com/734256976)

[2022-07-28 15:05] epierotti3 commented on #261
All interns have responded except for Sakari and Mateo

[2022-07-28 15:11] epierotti3 commented on #259
Going to create an issue where we can track interns' off-boarding status (if applicable) based on their [off-boarding form responses ](https://docs.google.com/spreadsheets/d/1-VC8lmBpYVjsl--ZK1YuHWIDIceFbwhuaxYPldM7DeI?resourcekey=&usp=forms_web_b#gid=958870979)

[2022-07-28 15:11] #259 closed

[2022-07-28 15:14] epierotti3 opened #275 "Intern off-boarding status tracker"
### Dependencies
- #261

### Overview
For interns who are leaving HfLA, we need to keep track of their off-boarding activities to make sure nothing falls through the cracks.

### Action Items
- [x] Create off-boarding template (see comment below)
- [x] Make a copy of the template for each intern who is leaving after the internship, based on [off-boarding form responses](https://docs.google.com/spr

[2022-07-28 15:26] epierotti3 commented on #275
### Beckett Off-Boarding

#### Meetings
Remove calendar invites from:
- [ ] Standup (automatically)
- [ ] All Team Meetings (if applicable)
- [ ] LinkedIn Workshop (automatically)
- [ ] CoPs (if applicable)

#### Figma
- [ ] Change to view-only access

#### Exit Internview
- [ ] Scheduled
- [ ] Recording uploaded to this [folder](https://drive.google.com/drive/folders/1VQLpKVRhFpPYoTSvjMhtly8X9NkZ

[2022-07-28 15:26] epierotti3 commented on #275
### Sakari Off-Boarding

#### Meetings
Remove calendar invites from:
- [ ] Standup (automatically)
- [ ] All Team Meetings (if applicable)
- [ ] LinkedIn Workshop (automatically)
- [ ] CoPs (if applicable)

#### Figma
- [ ] Change to view-only access

#### Exit Internview
- [ ] Scheduled
- [ ] Recording uploaded to this [folder](https://drive.google.com/drive/folders/1VQLpKVRhFpPYoTSvjMhtly8X9NkZp

[2022-07-28 15:26] epierotti3 commented on #275
### Lily Off-Boarding

#### Meetings
Remove calendar invites from:
- [ ] Standup (automatically)
- [ ] All Team Meetings (if applicable)
- [ ] LinkedIn Workshop (automatically)
- [ ] CoPs (if applicable)

#### Figma
- [ ] Change to view-only access

#### Exit Internview
- [ ] Scheduled
- [ ] Recording uploaded to this [folder](https://drive.google.com/drive/folders/1VQLpKVRhFpPYoTSvjMhtly8X9NkZp8m

[2022-07-28 15:26] epierotti3 commented on #275
### Charity Off-Boarding

#### Meetings
Remove calendar invites from:
- [ ] Standup (automatically)
- [ ] All Team Meetings (if applicable)
- [ ] LinkedIn Workshop (automatically)
- [ ] CoPs (if applicable)

#### Figma
- [ ] Change to view-only access

#### Exit Internview
- [ ] Scheduled
- [ ] Recording uploaded to this [folder](https://drive.google.com/drive/folders/1VQLpKVRhFpPYoTSvjMhtly8X9NkZ

[2022-07-28 15:27] epierotti3 commented on #275
### Clayton Off-Boarding

#### Meetings
Remove calendar invites from:
- [ ] Standup (automatically)
- [ ] All Team Meetings (if applicable)
- [ ] LinkedIn Workshop (automatically)
- [ ] CoPs (if applicable)

#### Figma
- [ ] Change to view-only access

#### Exit Internview
- [ ] Scheduled
- [ ] Recording uploaded to this [folder](https://drive.google.com/drive/folders/1VQLpKVRhFpPYoTSvjMhtly8X9NkZ

[2022-07-28 15:27] epierotti3 commented on #275
### Tung Off-Boarding

#### Meetings
Remove calendar invites from:
- [ ] Standup (automatically)
- [ ] All Team Meetings (if applicable)
- [ ] LinkedIn Workshop (automatically)
- [ ] CoPs (if applicable)

#### Figma
- [ ] Change to view-only access

#### Exit Internview
- [ ] Scheduled
- [ ] Recording uploaded to this [folder](https://drive.google.com/drive/folders/1VQLpKVRhFpPYoTSvjMhtly8X9NkZp8m

[2022-07-28 15:27] epierotti3 commented on #275
### Asher Off-Boarding

#### Meetings
Remove calendar invites from:
- [ ] Standup (automatically)
- [ ] All Team Meetings (if applicable)
- [ ] LinkedIn Workshop (automatically)
- [ ] CoPs (if applicable)

#### Figma
- [ ] Change to view-only access

#### Exit Internview
- [ ] Scheduled
- [ ] Recording uploaded to this [folder](https://drive.google.com/drive/folders/1VQLpKVRhFpPYoTSvjMhtly8X9NkZp8

[2022-07-28 15:28] epierotti3 commented on #275
### Mateo Off-Boarding

#### Meetings
Remove calendar invites from:
- [ ] Standup (automatically)
- [ ] All Team Meetings (if applicable)
- [ ] LinkedIn Workshop (automatically)
- [ ] CoPs (if applicable)

#### Figma
- [ ] Change to view-only access

#### Exit Internview
- [ ] Scheduled
- [ ] Recording uploaded to this [folder](https://drive.google.com/drive/folders/1VQLpKVRhFpPYoTSvjMhtly8X9NkZp8

[2022-07-28 16:15] #270 closed

[2022-07-28 16:43] epierotti3 commented on #195
UPDATE: we didn't necessarily follow these steps as we didn't recruit enough mentors for all interns. Ended up assigning mentors based on who was a college student and when they were available

[2022-07-28 16:43] #195 closed

[2022-07-28 16:45] epierotti3 commented on #199
Mentors only assigned to college students, this was handled by Rabia and Bonnie

[2022-07-28 16:45] #199 closed

[2022-07-28 16:45] #186 closed

[2022-07-28 16:46] #239 closed

[2022-07-28 18:18] ExperimentsInHonesty commented on #238
- Sakari:
- Clayton
- Mateo
- Tung: issue with no labels https://github.com/hackforla/website/pull/3428, https://github.com/hackforla/website/pull/3024
- Riya
- Lily
- Charity
- Brian
- Beckett
- Asher: often has water polo practice

[2022-07-28 18:38] #228 closed

[2022-07-28 19:05] epierotti3 commented on #213
Feedback from IS22 Off-boarding:
- Time card provides structure in asynchronous internship format
- Looked at tracker at the end of the day to get a sense of how much work had been done each day
- Helpful even though not good with it
- Sometimes would log in but not log off
- Not always accurate but still gave rough estimate of how much they are working and how time was spent
- Liked pie chart of

[2022-07-28 19:05] #213 closed

[2022-07-28 19:12] epierotti3 commented on #260
We used [this issue](https://github.com/hackforla/internship/issues/275) to track off-boarding activities for each intern and went through this with them during the last stand up.

[2022-07-28 19:12] #260 closed

[2022-07-28 19:13] #262 closed

[2022-07-28 19:15] #191 closed

[2022-07-29 16:25] #222 closed

[2022-07-29 16:25] #234 closed

[2022-07-29 16:26] #218 closed

[2022-07-29 16:27] #219 closed

[2022-07-29 16:27] #220 closed

[2022-07-29 16:27] #221 closed

[2022-07-29 16:27] #235 closed

[2022-07-29 16:29] ExperimentsInHonesty commented on #233
instructional design
testing

[2022-07-29 18:12] ExperimentsInHonesty commented on #4
![image](https://user-images.githubusercontent.com/37763229/181819540-44094c99-2811-4dd8-aed5-03be754a6eca.png)
<img width="482" alt="Finalized Logo" src="
https://user-images.githubusercontent.com/37763229/181819540-44094c99-2811-4dd8-aed5-03be754a6eca.png">

[2022-08-01 15:00] #261 closed

[2022-08-02 18:51] bradyse commented on #272
Hi @Aparna1Gopal, see interview details for all the information that you need. I will log into the zoom account and do the recording and interview itself. Thank you for helping!

[2022-08-03 01:53] Aparna1Gopal commented on #208
**Notes**

- This RP 008 (#208) serves as the project roadmap. Need to clarify with the PM and UX Lead on the nomenclature for this issue (whether epic or project roadmap or something else). To align with the overall naming and numbering pattern utilized by the PM Team in this project.
- Comments made in the RP 8 document for RP8 clean-up https://docs.google.com/document/d/1ywAYj0NMXQy53kVuEOmtVUd

[2022-08-03 19:19] #164 closed

[2022-08-03 19:21] #206 closed

[2022-08-03 19:23] #268 closed

[2022-08-03 19:23] #269 closed

[2022-08-03 19:23] #272 closed

[2022-08-08 15:15] epierotti3 commented on #49
2022-8-8 Agenda and Notes

### Prework
- [ ] Issue for audit #93
- [ ] Check to see if there are questions, and if yes, add it to agenda #59
- [ ] Check to make sure any issues from this week made [The 2022 Internship Program Process Overview](https://github.com/hackforla/internship/wiki/The-2022-Internship-Program-Process-Overview) on the wiki

### Roll Call
- [ ] Bonnie
- [ ] Rabia
- [ ] Priyank

[2022-08-08 15:19] epierotti3 commented on #93
Date: 2022-08-08
- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
   - a few research/interview related issues not on a project board. Do these go on the program management board?
- [ ] Report what the numbers are on issues that are missing labels

[2022-08-08 16:07] Rabia2219 commented on #49
@epierotti3
Snigdha is no longer a contributing member and needs to be offboarded...thanks :)
Also, Maria Salio is still on the as a manager...please check that she is offboarded properly...it would be a good idea to double check all members who have left...

[2022-08-08 16:48] epierotti3 commented on #49
@Rabia2219 Bonnie asked for source of information about Snigdha - we are sure she's no longer active on this project?

[2022-08-08 17:00] epierotti3 commented on #62
@christine-el please make sure that all of the issues on [this link](https://github.com/hackforla/internship/issues?q=is%3Aissue+is%3Aopen+no%3Aproject+) are assigned to the Program Management project board

[2022-08-08 17:02] Rabia2219 commented on #49
@epierotti3
Yes...she reached out to me and let me know...she has left the internship channel and has declined all meetings...

[2022-08-08 17:25] #212 closed

[2022-08-08 17:46] epierotti3 commented on #124
#### Offboard Snigdha (UX not lead)
  - [ ] 1password setup
    - [ ] remove from team vaults
       - [ ] Internship - ux program
       - [ ] Zoom vault
- [ ] Revoke access from Zoom Meeting Setup spreadsheet
- [ ] Google Drive
   - [ ] demote to viewer
- [ ] Roster
  - [ ] mark as inactive
- [ ] GitHub
     - [ ] demote member to read only team and remove from write team
- [ ] Figma
  - [ ] rem

[2022-08-09 23:22] Aparna1Gopal commented on #208
**Notes**

To clean-up this issue for documentation kit the following need to be done

- [ ] Create issue for RP 8 - Mentor Intake interview, and document the reasons for not conducting interview this year
- [ ] Create label RP 19- To document this above Mentor Research Roadmap
- [ ] Update the RP 8 label for Mentor Intake Interview
- [ ] Update RP 19 Label for all relevant issues pertaining to th

[2022-08-09 23:26] Aparna1Gopal commented on #250
**Updated following under Resources section:**

UX Research Guides Templates https://github.com/hackforla/internship/wiki/UX-Research-Guides-Templates
Create a Guide: Synthesizing Research https://github.com/hackforla/UI-UX/issues/46
Guide: How to Present Your Work (UX Research) https://github.com/hackforla/UI-UX/issues/24

[2022-08-10 00:10] bradyse opened #276 "Organize Research Output Wiki Pages"
### Overview
We need to update all internship research documentation on the wiki so that future iterations of the internship can copy HfLA processes without disruption.

### Action Items

- [ ] Create Research Documents by overview pages
    - [ ] Create Intern Research Documents by overview page
    - [ ] Create Team Member Research Documents by overview page
    - [ ] Create HfLA Website Team Me

[2022-08-10 00:11] bradyse opened #277 "Update RP14: Mentor Exit Interviews wiki page"
### Overview
We need to review and update the wiki page for RP14 so that future HfLA volunteers can replicate our processes.

### Action Items

- [x] Review/Update Research Date
- [x] Review/Update Summary of Research
    - [x] Update Research Question
    - [x] Update Purpose
    - [x] Update Methods
- [x] Review/Update Current Status
- [x] Search all issues to make sure that there are no mislabe

[2022-08-10 00:12] bradyse opened #278 "TWE: IS22: RP009: Weekly Standup Surveys Wiki Page: Update"
### Overview
We need to review and update the wiki page for RP9 so that future TWE team knows what has been completed and what needs to be done to replicate this research plan.

### Action Items

- [x] Review/Update Research Date
- [x] Review/Update Summary of Research
    - [x] Update Research Question
    - [x] Update Purpose
    - [x] Update Methods
- [x] Review/Update Current Status
- [x] Sear

[2022-08-10 00:12] bradyse opened #279 "Update RP8: Mentor Intake Interviews wiki page"
### Overview
We need to review and update the wiki page for RP8 so that future HfLA volunteers can replicate our processes.

### Action Items

- [x] Review/Update Research Date
- [x] Review/Update Summary of Research
    - [x] Update Research Question
    - [x] Update Purpose
    - [x] Update Methods
- [x] Review/Update Current Status
- [x] Search all issues to make sure that there are no mislabel

[2022-08-10 00:12] bradyse opened #280 "Update RP6: Intern Intake Interviews wiki page"
### Overview
We need to review and update the wiki page for RP6 so that future HfLA volunteers can replicate our processes.

### Action Items

- [x] Review/Update Research Date
- [x] Review/Update Summary of Research
    - [x] Update Research Question
    - [x] Update Purpose
    - [x] Update Methods
- [x] Review/Update Current Status
- [x] Search all issues to make sure that there are no mislabel

[2022-08-10 00:13] bradyse opened #281 "Create Intern Research Documents by overview page"
### Overview
We need to create a wiki page for all intern research plans so that future HfLA volunteers can easily find all associated research plans for interns in one place.

### Action Items
- [x] Create New page on Internship Wiki
- [x] Name it "Intern Research Overview"
- [x] Copy and paste from below the Research Roadmap Template
- [x] Click "Save page" to create the new page
- [x] Edit the

[2022-08-10 01:29] bradyse commented on #281
@christine-el, please add Shima to the GitHub internship team so that Shima can be assigned to this issue. Thanks!

[2022-08-10 15:32] epierotti3 commented on #49
2022-8-10 Agenda and Notes

### Prework
- [ ] Issue for audit #93
- [ ] Check to see if there are questions, and if yes, add it to agenda #59
- [ ] Check to make sure any issues from this week made [The 2022 Internship Program Process Overview](https://github.com/hackforla/internship/wiki/The-2022-Internship-Program-Process-Overview) on the wiki

### Roll Call
- [ ] Bonnie
- [ ] Rabia
- [ ] Priyan

[2022-08-10 15:38] epierotti3 commented on #93
Date: 2022-08-10
- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
   - [ ] need to add p to p-feature: wiki on the feature link (we changed that on 8/8/2022)
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at

[2022-08-10 16:56] ExperimentsInHonesty commented on #276
Make an issue template for research not yet started
Template name: Research: Create
Template description: The start of a new research plan
Title: TWE: Research Plan for [name of research]

### Dependencies
ANY ISSUE NUMBERS THAT ARE BLOCKERS OR OTHER REASONS WHY THIS WOULD LIVE IN THE ICEBOX

### Overview
We need to create a research plan to [describe what and why]

### Action Items
- [ ] Create a

[2022-08-10 17:06] christine-el commented on #281
@bradyse I have not yet been trained on how to add people to the team, but will ask Bonnie today how to do this.

[2022-08-10 17:10] christine-el opened #282 "Update RP12: Intern Exit Interviews wiki page"

[2022-08-10 17:21] christine-el commented on #282
### Overview
We need to review and update the wiki page for RP6 so that future HfLA volunteers can replicate our processes.

### Action Items

- [ ] Review/Update Research Date
- [ ] Review/Update Summary of Research
    - [ ] Update Research Question
    - [ ] Update Purpose
    - [ ] Update Methods
- [ ] Review/Update Current Status
- [ ] Search all issues to make sure that there are no mislabel

[2022-08-10 17:22] ExperimentsInHonesty commented on #276
Make an issue template for research not yet started
Template name: Research: Roadmap
Template description: The start of a new roadmap
Title: TWE: Research Plan for [name of roadmap]

### Dependencies
ANY ISSUE NUMBERS THAT ARE BLOCKERS OR OTHER REASONS WHY THIS WOULD LIVE IN THE ICEBOX

### Overview
We need to create a research roadmap to [describe what and why]

### Action Items
- [ ] Create a ne

[2022-08-10 18:26] #273 closed

[2022-08-10 18:28] #252 closed

[2022-08-10 18:45] christine-el opened #283 "Update RP10: Weekly Intern Survey Assessing Mentorship wiki page"

[2022-08-10 18:46] christine-el opened #284 "Update RP11: Weekly LinkedIn Workshop Survey wiki page"
### Overview
We need to review and update the wiki page for RP6 so that future HfLA volunteers can replicate our processes.

### Action Items

- [x] Review/Update Research Date
- [x] Review/Update Summary of Research
    - [x] Update Research Question
    - [x] Update Purpose
    - [x] Update Methods
- [x] Review/Update Current Status
- [x] Search all issues to make sure that there are no mislabel

[2022-08-10 18:54] christine-el commented on #62
@epierotti3

Done!

[2022-08-10 18:57] christine-el commented on #124
@epierotti3 @ExperimentsInHonesty Koyel has left HFLA, so should not be onboarded to this project.

[2022-08-11 16:26] epierotti3 commented on #101
## All Team Meeting Agenda [2022-08-11]

### Prework
- [ ] Check for new questions https://github.com/hackforla/internship/issues/59
- [ ] Review the issue you are assigned to and see if it needs an update: [How to do updates ](https://github.com/hackforla/internship/wiki/How-to-give-updates-on-your-issues)

### Agenda for PMs only

### FYI

### Roll Call:

- [ ] Bonnie
- [ ] Rabia
- [ ] Priyanka

[2022-08-11 18:54] ExperimentsInHonesty commented on #167
We no longer need to do this.  We have made a slide deck template and used it a few times.

[2022-08-11 18:54] #167 closed

[2022-08-11 18:56] ExperimentsInHonesty commented on #166
We have created a spreadsheet template, doc template and slide template

[2022-08-11 18:56] #166 closed

[2022-08-12 15:57] shimahoush commented on #281
Page has been created. Linked to "Intern" under Research Output Overview page

[2022-08-12 21:05] ExperimentsInHonesty commented on #4
[Slide deck](https://docs.google.com/presentation/d/1szPQJjH1U2QAkphnogfjexXOUMX07Zr0TfAfbq3saAo) I used to create these images

### Documents
- [Template](https://docs.google.com/document/d/16GP2QU_41dOBBadLUxEurdHh3FjzbkRMKTScr66pSIQ/template/preview)
- Screenshot ![image](https://user-images.githubusercontent.com/37763229/184222300-0e427ad9-5b3c-4b3f-ab23-09ffa6dfdfd0.png)

### Spreadsheets
- [

[2022-08-12 22:46] Rabia2219 opened #285 "TWE: Research Roadmap [name of type]"
### Dependencies
ANY ISSUE NUMBERS THAT ARE BLOCKERS OR OTHER REASONS WHY THIS WOULD LIVE IN THE ICEBOX

### Overview
We need to create a research roadmap to [describe what and why]

### Action Items
- [ ] Create a new page on the wiki for the roadmap called: `[type name] Research Overview` using the template for Research Roadmap
  - [ ] link it to the Research Output Overview wiki page
- [ ] Go t

[2022-08-13 15:48] #266 closed

[2022-08-13 18:03] #284 closed

[2022-08-15 15:54] epierotti3 commented on #49
2022-08-15 Agenda and Notes

### Prework
- [ ] Issue for audit #93
- [ ] Check to see if there are questions, and if yes, add it to agenda #59
- [ ] Check to make sure any issues from this week made [The 2022 Internship Program Process Overview](https://github.com/hackforla/internship/wiki/The-2022-Internship-Program-Process-Overview) on the wiki

### Roll Call
- [ ] Bonnie
- [ ] Rabia
- [ ] Priya

[2022-08-15 16:08] #275 closed

[2022-08-15 16:54] epierotti3 commented on #53
A role design label has been added so that this deck can get updated with the new project template. While doing that, please put a comment on any data that would seem to require more de-identification (e.g. "Princeton").

[2022-08-16 21:10] Aparna1Gopal commented on #276
@bradyse @christine-el

I have the following questions as I create the Mentor document kit and clean-up the documentation/issues:

**RP10:** Do we need to document RP10 under Mentor Research? Since it is a connected issue and is also documented under the Project Roadmap epic issue.

**Consent Forms:** Since the type of Consent obtained was different for interns and mentors, do we need to document

[2022-08-16 21:14] Aparna1Gopal commented on #251
**Notes:**

Relevant Issues:
https://github.com/hackforla/internship/issues/265
https://github.com/hackforla/internship/issues/266
https://github.com/hackforla/internship/issues/267

[2022-08-16 21:50] Aparna1Gopal commented on #249
**Notes:**

Document the email recruitment message
Document the LinkedIn recruitment message

[2022-08-16 22:22] Vyshiali opened #286 "TWE: Research Structure for RP18: Weekly Feedback from Mentors"
### Dependencies
ANY ISSUE NUMBERS THAT ARE BLOCKERS OR OTHER REASONS WHY THIS WOULD LIVE IN THE ICEBOX

### Overview
We need to create a wiki structure and task list to support our [name of research plan] so that we can stay organized across all team member and working times

### Action Items
- [ ] Add the milestone: 06.01.01 Research Plan Create Wiki Pages
- [ ] Link the roadmap and its issue fo

[2022-08-16 22:43] adarosh opened #287 "TWE: Research Structure for RP16: Intern Productivity Dashboard Survey"
### Dependencies
ANY ISSUE NUMBERS THAT ARE BLOCKERS OR OTHER REASONS WHY THIS WOULD LIVE IN THE ICEBOX

### Overview
We need to create a wiki structure and task list to support our [name of research plan] so that we can stay organized across all team member and working times

### Action Items
- [ ] Add the milestone: 06.01.01 Research Plan Create Wiki Pages
- [ ] Link the roadmap and its issue fo

[2022-08-16 22:43] ale22arevalo opened #288 "TWE: Research Structure for Intern Interaction with HfLA teams"
### Dependencies
ANY ISSUE NUMBERS THAT ARE BLOCKERS OR OTHER REASONS WHY THIS WOULD LIVE IN THE ICEBOX

### Overview
We need to create a wiki structure and task list to support our [name of research plan] so that we can stay organized across all team member and working times

### Action Items
- [ ] Add the milestone: 06.01.01 Research Plan Create Wiki Pages
- [ ] Link the roadmap and its issue fo

[2022-08-16 22:43] epierotti3 opened #289 "TWE: Research: Technical Skills of Incoming Interns: Research Structure: Create"
#### Dependency
- #375
- #781 will ensure the content in RP019 that belongs in RP027 gets moved inside the [TWE: Research Roadmap: Interns](https://docs.google.com/document/d/1BKFiKRcqDovcaKsEqtWMPU8vUs_Mq3gjNYLU6A5E7dQ/edit?tab=t.0#heading=h.4qi601o1qcet) document. And RP019 in that doc get re-written and approved.

### Overview
We need to create a wiki structure and task list to support the deve

[2022-08-16 22:43] epierotti3 opened #290 "TWE: Research Structure for [name of research]"
### Dependencies
ANY ISSUE NUMBERS THAT ARE BLOCKERS OR OTHER REASONS WHY THIS WOULD LIVE IN THE ICEBOX

### Overview
We need to create a wiki structure and task list to support our [name of research plan] so that we can stay organized across all team member and working times

### Action Items
- [ ] Add the milestone: 06.01.01 Research Plan Create Wiki Pages
- [ ] Link the roadmap and its issue fo

[2022-08-16 22:44] shimahoush opened #291 "TWE: Research Structure for RP 17: Productivity Dashboard Interviews"
### Dependencies
ANY ISSUE NUMBERS THAT ARE BLOCKERS OR OTHER REASONS WHY THIS WOULD LIVE IN THE ICEBOX

### Overview
We need to create a wiki structure and task list to support our [name of research plan] so that we can stay organized across all team member and working times

### Action Items
- [ ] Add the milestone: 06.01.01 Research Plan Create Wiki Pages
- [ ] Link the roadmap and its issue fo

[2022-08-16 22:48] Aparna1Gopal commented on #208
To clean up this issue and create the complete documentation kit, the following steps have been completed pertaining to this issue:

- [ ] Cleaned-up Epic Issue: Reworked on naming Action Items with action verbs and direction of research
- [ ] Cleaned-up Epic Issue: Identifying and tagging all Research Plans (RP labels) related to this Project Roadmap
- [ ] Creating Project Roadmap Wiki
- [ ] Cros

[2022-08-16 22:52] lkawentel opened #292 "TWE: Research Structure for IP: Personas"
### Dependencies
ANY ISSUE NUMBERS THAT ARE BLOCKERS OR OTHER REASONS WHY THIS WOULD LIVE IN THE ICEBOX

### Overview
We need to create a wiki structure and task list to support our [name of research plan] so that we can stay organized across all team member and working times

### Action Items
- [ ] Add the milestone: 06.01.01 Research Plan Create Wiki Pages
- [ ] Link the roadmap and its issue fo

[2022-08-16 22:57] ale22arevalo opened #293 "Update RP13: Mentor Intake Survey wiki page"
### Overview
We need to review and update the wiki page for [Research Plan number and title] so that future HfLA volunteers can replicate our processes.

### Action Items
- [x] Add milestone: 06.01.02 Research Audit and update wiki page
- [x] Review/Update Research Date
- [x] Review/Update Summary of Research
    - [x] Update Research Question
    - [x] Update Purpose
    - [x] Update Methods
- [x

[2022-08-16 22:59] epierotti3 opened #294 "TWE: Research Structure for RP021: Personas, targets, reasons"
### Dependencies
ANY ISSUE NUMBERS THAT ARE BLOCKERS OR OTHER REASONS WHY THIS WOULD LIVE IN THE ICEBOX

### Overview
We need to create a wiki structure and task list to support our [name of research plan] so that we can stay organized across all team member and working times

### Action Items
- [ ] Add the milestone: 06.01.01 Research Plan Create Wiki Pages
- [ ] Link the roadmap and its issue fo

[2022-08-16 23:01] shimahoush opened #295 "Update RP1: IS21 Interns"
### Overview
We need to review and update the wiki page for [Research Plan number and title] so that future HfLA volunteers can replicate our processes.

### Action Items
- [ ] Add milestone: 06.01.02 Research Audit and update wiki page
- [ ] Review/Update Research Date
- [ ] Review/Update Summary of Research
    - [ ] Update Research Question
    - [ ] Update Purpose
    - [ ] Update Methods
- [

[2022-08-16 23:01] ale22arevalo opened #296 "Update RP7: Onboarding TWE team volunteers"
### Overview
We need to review and update the wiki page for [Research Plan number and title] so that future HfLA volunteers can replicate our processes.

### Action Items
- [ ] Add milestone: 06.01.02 Research Audit and update wiki page
- [ ] Review/Update Research Date
- [ ] Review/Update Summary of Research
    - [ ] Update Research Question
    - [ ] Update Purpose
    - [ ] Update Methods
- [

[2022-08-16 23:02] adarosh opened #297 "Update RP2 wiki: Hack for LA volunteers transferrable skills"
### Overview
We need to review and update the wiki page for RP2: Hack for LA volunteers transferrable skills so that future HfLA volunteers can replicate our processes.

### Action Items
- [x] Add milestone: 06.01.02 Research Audit and update wiki page
- [x] Review/Update Research Date
- [x] Review/Update Summary of Research
    - [x] Update Research Question
    - [x] Update Purpose
    - [x] Upd

[2022-08-16 23:03] rachelita2 opened #298 "TWE: Research Structure for Personas, targets, reasons"
### Dependencies
ANY ISSUE NUMBERS THAT ARE BLOCKERS OR OTHER REASONS WHY THIS WOULD LIVE IN THE ICEBOX

### Overview
We need to create a wiki structure and task list to support our [name of research plan] so that we can stay organized across all team member and working times

### Action Items
- [ ] Add the milestone: 06.01.01 Research Plan Create Wiki Pages
- [ ] Link the roadmap and its issue fo

[2022-08-16 23:09] rachelita2 opened #299 "Update RP15: Mentor Exit Surveys wiki page"
### Overview
We need to review and update the wiki page for [Research Plan number and title] so that future HfLA volunteers can replicate our processes.

### Action Items
- [ ] Add milestone: 06.01.02 Research Audit and update wiki page
- [ ] Review/Update Research Date
- [ ] Review/Update Summary of Research
    - [ ] Update Research Question
    - [ ] Update Purpose
    - [ ] Update Methods
- [

[2022-08-16 23:09] epierotti3 opened #300 "Update RP004: Hypothesis: HfLA Internship leads to stem retention"
### Overview
We need to review and update the wiki page for [Research Plan number and title] so that future HfLA volunteers can replicate our processes.

### Action Items
- [ ] Add milestone: 06.01.02 Research Audit and update wiki page
- [ ] Review/Update Research Date
- [ ] Review/Update Summary of Research
    - [ ] Update Research Question
    - [ ] Update Purpose
    - [ ] Update Methods
- [

[2022-08-16 23:09] shimahoush opened #301 "Update RP5: Brand / Website Audience Alignment"
### Overview
We need to review and update the wiki page for RP5: Brand / Website Audience Alignment so that future HfLA volunteers can replicate our processes.

### Action Items
- [x] Add milestone: 06.01.02 Research Audit and update wiki page
- [x] Review/Update Research Date
- [x] Review/Update Summary of Research
    - [x] Update Research Question
    - [x] Update Purpose
    - [x] Update Metho

[2022-08-16 23:12] ale22arevalo opened #302 "Update RP3: LinkedIn Recommendation"
### Overview
We need to review and update the wiki page for RP003: LinkedIn Recommendation so that future HfLA volunteers can replicate our processes.

### Action Items
- [x] Add milestone: 06.01.02 Research Audit and update wiki page
- [x] Review/Update Research Date
- [x] Review/Update Summary of Research
    - [x] Update Research Question
    - [x] Update Purpose
    - [x] Update Methods
- [x]

[2022-08-17 01:43] Aparna1Gopal commented on #237
**Notes:** Removed RP008 label and added Dependencies https://github.com/hackforla/internship/issues/208 in keeping with the current documentation kit clean-up for Mentor Research

[2022-08-17 01:44] Aparna1Gopal commented on #249
Notes: Removed RP008 label and added Dependencies https://github.com/hackforla/internship/issues/208 in keeping with the current documentation kit clean-up for Mentor Research

[2022-08-17 02:32] Aparna1Gopal commented on #212
**Notes:** Removed RP008 label and added Dependencies https://github.com/hackforla/internship/issues/208 in keeping with the current documentation kit clean-up for Mentor Research

[2022-08-17 02:36] Aparna1Gopal commented on #245
**Notes:** Removed RP008 label and added Dependencies https://github.com/hackforla/internship/issues/208 in keeping with the current documentation kit clean-up for Mentor Research

[2022-08-17 15:52] epierotti3 commented on #49
2022-08-17 Agenda and Notes

### Prework
- [ ] Issue for audit #93
- [ ] Check to see if there are questions, and if yes, add it to agenda #59
- [ ] Check to make sure any issues from this week made [The 2022 Internship Program Process Overview](https://github.com/hackforla/internship/wiki/The-2022-Internship-Program-Process-Overview) on the wiki

### Roll Call
- [ ] Bonnie
- [ ] Rabia
- [ ] Priya

[2022-08-17 15:54] epierotti3 commented on #93
Date: 2022-08-17
- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [ ] role, ending at 3/0
   - [ ] size, ending at 1/0
   - [ ] feature, ending at

[2022-08-17 16:07] epierotti3 opened #303 "TWE: Research Structure for IP Personas"
### Dependencies
ANY ISSUE NUMBERS THAT ARE BLOCKERS OR OTHER REASONS WHY THIS WOULD LIVE IN THE ICEBOX

### Overview
We need to create a wiki structure and task list to support our [name of research plan] so that we can stay organized across all team member and working times

### Action Items
- [ ] Add the milestone: 06.01.01 Research Plan Create Wiki Pages
- [ ] Link the roadmap and its issue fo

[2022-08-17 16:46] epierotti3 opened #304 "TWE: Research Roadmap: TWE Volunteers"
### Overview
We need to create a research roadmap for all research plans involving TWE Team Volunteers so that future team researchers can carry out the research.

### Action Items
- [x] Add milestone: 06.01.00 Research Roadmap Create Wiki Page
- [x] Create a new page on the wiki for the roadmap called: `[type name] Research Overview` using the template for Research Roadmap
  - [x] link it to the

[2022-08-18 00:46] christine-el commented on #124
#### Onboard - Sara Brady (UX Co-Lead)  8-17-22
- [ ] Google Drive
   - [ ] Add to drive as Manager
- [ ] Roster
  - [ ] Send link
  - [ ] Team member adds themselves
- [ ] GitHub
     - [ ] Add to team write team
        - [ ] Change membership to maintainer
     - [ ] Add to read vault
        - [ ] Change membership to maintainer
     - [ ] Confirm that their name is on their Github
- [ ] Figma

[2022-08-18 00:55] bradyse opened #305 "Update Other HfLA Team Research Overview page"
### Dependencies
- [ ] #380

### Overview
We need to create a research roadmap to plan out research on other HfLA team volunteers who worked with the interns. This should be prioritized before these volunteers leave the organization.

### Action Items
- [x] Add milestone: 06.01.00 Research Roadmap Create Wiki Page
- [x] Create a new page on the wiki for the roadmap called: `[type name] Research Ov

[2022-08-18 04:23] bradyse commented on #263
@christine-el I wasn't sure where to put the documentation that I emailed the interviewers to delete the recordings. So I put it in here. Perhaps when things settle down you can update this issue, as well as the issues that were created from this one.

[2022-08-18 04:32] bradyse commented on #265
Hi @epierotti3 can we close this issue? I'm not sure if it's labeled properly given the new milestones.

[2022-08-18 04:33] bradyse commented on #267
@epierotti3, can we close this issue? I don't know if it's labeled properly.

[2022-08-18 04:41] christine-el commented on #263
@bradyse I think this is the right place!  I never created these issues because I ran out of time (except for 1:  https://github.com/hackforla/internship/issues/274).  Is it worth it to recreate them now to have a record of each one?

[2022-08-18 04:42] #282 closed

[2022-08-18 04:43] christine-el commented on #258
This survey was never carried out because we ran out of time.

[2022-08-18 16:30] #265 closed

[2022-08-18 16:30] #267 closed

[2022-08-18 16:32] epierotti3 commented on #101
## All Team Meeting Agenda [2022-08-18]

### Prework
- [ ] Check for new questions https://github.com/hackforla/internship/issues/59
- [ ] Review the issue you are assigned to and see if it needs an update: [How to do updates ](https://github.com/hackforla/internship/wiki/How-to-give-updates-on-your-issues)

### Agenda for PMs only

### FYI

### Roll Call:

- [ ] Bonnie
- [ ] Rabia
- [ ] Priyanka

[2022-08-18 16:40] epierotti3 commented on #124
#### Offboard Koyel Ranu (UX not lead) from HfLA
  - [] 1password setup
    - [] remove from team vaults
       - [x] Internship - ux program
       - [x] Zoom vault
- [x] Google Drive
   - [x] demote to viewer
- [x] Roster
  - [x] mark as inactive
- [x] GitHub
     - [x] demote member to read only team and remove from write team
- [x] Figma
  - [x] remove from team
- [x] WIKI
  - [x] move to new

[2022-08-18 16:41] epierotti3 commented on #124
#### Onboard - Natalia V (Not UX Lead, based on template above)
- [x] Google Drive
   - [x] Add to drive as Content Manager
- [x] Roster
  - [x] Send link
  - [x] Team member adds themselves
  - [x] Check for Public
  - [x] Check for 2FA
- [ ] GitHub
     - [x] Add to team write team
     - [ ] Add to read vault
     - [x] Confirm that their name is on their Github
- [x] Figma
  - [x] invite
  - [

[2022-08-18 16:52] epierotti3 commented on #183
This is complete see WIKI

[2022-08-18 16:52] #183 closed

[2022-08-18 17:04] epierotti3 commented on #153
#### Onboard Natalia 2022-08-18
- [ ] Slack channel membership
  - [ ] ```#internship```
  - [ ] ```#interns``` (if necessary)
     - [ ] not needed
- [ ] Add to Google calendar invites
   - [ ] Tuesday BA meeting (if necessary)
      - [ ] not needed
   - [ ] Tuesday UX Research meeting (if necessary)
      - [ ] not needed
   - [ ] Thursday All-team meeting
- [ ] Google Drive
   - [ ] Add to dri

[2022-08-18 17:24] epierotti3 commented on #153
#### Offboard Koyel Ranu 2022-08-18
- [ ] Remove from Google calendar invite
   - [ ] Monday PM meeting
   - [ ] Tuesday BA meeting
   - [ ] Tuesday UX Research meeting
   - [ ] Wednesday PM meeting (ad-hoc)
   - [ ] Thursday All-team meeting
 - [ ] 1password setup
    - [ ] remove from team vaults
       - [ ] Internship program
       - [ ] Internship - UI/UX
- [ ] Google Drive
   - [ ] demote t

[2022-08-18 17:48] epierotti3 commented on #281
@bradyse please ask UXRs to self-assign issues from this [link](https://github.com/hackforla/internship/projects/1?card_filter_query=label%3A%22role%3A+ui%2Fux+research%22) starting from the top of the column

[2022-08-18 18:02] ExperimentsInHonesty commented on #276
@bradyse please ask UXRs to self-assign issues from this [link](https://github.com/hackforla/internship/projects/1?card_filter_query=label%3A%22role%3A+ui%2Fux+research%22) starting from the top of the column

[2022-08-18 18:03] #281 closed

[2022-08-18 18:41] ale22arevalo commented on #126
Update 8/18: I've been working on iconography, typography and layout for web and mobile interfaces. Our design system uses [HfLA's website design system](https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3464%3A3) as reference, but other resources to continue this work include [Material UI](https://mui.com/) and [Figma's design system](https://www.figma.com/community/fi

[2022-08-18 23:39] epierotti3 opened #306 "Populate Glossary Wiki Page"
### Dependencies
ANY ISSUE NUMBERS THAT ARE BLOCKERS OR OTHER REASONS WHY THIS WOULD LIVE IN THE ICEBOX

### Overview
We need to find terms to fill into the TWE Glossary Wiki Page so that this page is no longer empty.

### Action Items
- [x] Define places to look for glossary words
- [x] Create spreadsheet within Google Drive
- [ ] Look in resources below for terms that might need to be defined an

[2022-08-19 00:03] epierotti3 opened #307 "Correspondence with Vinay, Capital Placement"
### Overview
This issue is to track our communication with Capital Placement in a chronological order so that we know what has been said at any given time.

### Action Items
- [ ] Create a timeline format for everyone to use
- [ ] Elizabeth go through emails and add to the time timeline (can be done at anytime)
- [ ] Go through internship account and add to the timeline (can be done at anytime, no

[2022-08-19 00:04] epierotti3 opened #308 "Correspondence with Marlborough School"
### Overview
This issue is to track our communication with Capital Placement in a chronological order so that we know what has been said at any given time.

### Action Items
- [ ] Create a timeline format for everyone to use
- [ ] Elizabeth go through emails and add to the time timeline (can be done at anytime)
- [ ] Go through internship account and add to the timeline (can be done at anytime, no

[2022-08-19 20:42] ExperimentsInHonesty commented on #201
We would need to reach out to Harvard Westlake and ask if we could use their logo and name for this years internship summer 2022.  We would have to do same with UCLA

[2022-08-20 01:51] bradyse commented on #280
@epierotti3, there is one blocker on this issue before it can be marked done:

Current status: Did we every get parental consent to analyze data from minors? If not, then we should delete their [recordings](https://drive.google.com/drive/folders/1VQLpKVRhFpPYoTSvjMhtly8X9NkZp8mmrhmtDCnhFOR1CCRL-YmCB95xcH6bZ21HO_Nq7gcr?usp=sharing).

[2022-08-20 02:04] bradyse opened #309 "TWE: Create Roadmap: Intern Research"
### Overview
We need to create the Roadmap Google Doc for Intern Research so that we can keep track of basic details across all intern research plans.

### Action Items
- [x] Add milestone: 06.01.00 Research Roadmap Create Wiki Page
- [x] Create a new page on the wiki for the roadmap called: `[type name] Research Overview` using the template for Research Roadmap
  - [x] link it to the Research Out

[2022-08-20 08:19] Nat-nn commented on #306
Great. Thank you. I will look into it.

[2022-08-22 15:37] epierotti3 commented on #280
@bradyse We have consent from parents of Asher, Riya, Beckett, Brian, Lily, and Sakari. I am not sure if we have consent from Charity's parents yet (she may or may not be 18 yet). Charity is still actively working with Bonnie so this would be a good thing to double check with her.
The other interns are all 18+ so as long as they consented to the interview then I think we are fine.

[2022-08-22 15:40] epierotti3 commented on #49
2022-08-22 Agenda and Notes

### Prework
- [ ] Issue for audit #93
- [ ] Check to see if there are questions, and if yes, add it to agenda #59
- [ ] Check to make sure any issues from this week made [The 2022 Internship Program Process Overview](https://github.com/hackforla/internship/wiki/The-2022-Internship-Program-Process-Overview) on the wiki

### Roll Call
- [ ] Bonnie
- [ ] Rabia
- [ ] Priya

[2022-08-22 16:04] epierotti3 commented on #307
# Timeline
- 2022-05-16: We reached out to Capital Placement via email to ask if we could list their internship program on our website for TWE internship applicants who were not accepted into our program.
  - We also asked clarification on logistics of their internship program: do they offer academic credit? What are your hours and process of providing support to interns e.g mentoring?
- 2022-05-1

[2022-08-23 22:15] shimahoush commented on #291
The blocker on this issue is that there is no research plan in the Google Drive for this

[2022-08-23 22:58] bradyse commented on #62
## 2022.08.23 Research Meeting Agenda

### prework

### Recurring Action Items
- [ ]  Accountability and Support Check.
  - [ ]  Review assignments for each Research & Analysis team member (starting with those present)
     - [ ] [Natalia](https://github.com/hackforla/internship/issues/assigned/nat-nn)
     - [ ] [Angela](https://github.com/hackforla/internship/issues/assigned/adarosh)
     - [ ]

[2022-08-23 23:03] shimahoush commented on #289
The blocker on this issue is that there is no research roadmap for RP19 in the Google Drive.

[2022-08-23 23:39] shimahoush commented on #286
A blocker for this is that there is no overall research roadmap on Google Drive for RP 18

[2022-08-23 23:43] shimahoush commented on #294
A blocker on this is that there is no research roadmap on Google Drive for RP 21

[2022-08-24 15:46] epierotti3 commented on #93
Date: 2022-08-24
- [ ] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [ ] role, ending at
   - [ ] size, ending at
   - [ ] feature, ending at
   - [

[2022-08-24 23:33] bradyse commented on #293
@epierotti3 This issue is done now. Thanks!

[2022-08-24 23:36] bradyse commented on #277
@epierotti3 This issue is done. Thanks!

[2022-08-24 23:47] bradyse commented on #299
@epierotti3 This issue is done. Thanks!

[2022-08-25 00:05] bradyse commented on #280
@adarosh and @epierotti3 --

I confirmed the recordings of all the interns who provided informed consent. To make sure that I kept track of everyone, I edited Elizabeth's comment above to mask the intern's names. I do know that Charity is not underage but accidentally got put on the mail merge for parental consent.

I updated the wiki page with the relevant info. So this issue is done and should b

[2022-08-25 14:43] ale22arevalo commented on #53
8/25: [Slide deck](https://docs.google.com/presentation/d/1i83YamHc64eBGIjtkb9PJ-Gnhwkafo-uRFD0qjTZKWo/edit?usp=sharing) has been updated with our current brand theme

[2022-08-25 15:52] epierotti3 commented on #101
## All Team Meeting Agenda [2022-08-25]

### Prework
- [x] Check for new questions https://github.com/hackforla/internship/issues/59
- [ ] Review the issue you are assigned to and see if it needs an update: [How to do updates ](https://github.com/hackforla/internship/wiki/How-to-give-updates-on-your-issues)

### Agenda for PMs only
- Off-boarding Elizabeth #123

### FYI

### Roll Call:

- [ ] Bonn

[2022-08-25 15:53] epierotti3 commented on #123
#### Offboard Elizabeth
- [ ] Remove from Google calendar invite
   - [ ] Monday PM meeting
   - [ ] Tuesday BA meeting
   - [ ] Tuesday UX Research meeting
   - [ ] Wednesday PM meeting (ad-hoc)
   - [ ] Wedneday UX lead/PM meeting
   - [ ] Thursday All-team meeting
 - [ ] 1password setup
    - [ ] remove from team vaults
       - [ ] Internship program
       - [ ] Internship UI/UX
       - [ ]

[2022-08-25 17:48] bradyse commented on #309
@shimahoush - I have almost everything done in this issue, but we just need to collect all the relevant info and put into the Google doc that I started here: [TWE: Research Roadmap: Interns Google Doc](https://docs.google.com/document/d/1BKFiKRcqDovcaKsEqtWMPU8vUs_Mq3gjNYLU6A5E7dQ/edit?usp=sharing).

I will go through it and add all the document headings first. Then we can copy and paste the relev

[2022-08-25 17:50] bradyse commented on #153
#### Onboard Shima 2022-08-25
- [ ] Slack channel membership
  - [ ] ```#internship```
  - [ ] ```#interns``` (if necessary)
     - [ ] not needed
- [ ] Add to Google calendar invites
   - [ ] Tuesday BA meeting (if necessary)
      - [ ] not needed
   - [ ] Tuesday UX Research meeting (if necessary)
      - [ ] not needed
   - [ ] Thursday All-team meeting
- [ ] Google Drive
   - [ ] Add to drive

[2022-08-25 17:56] #277 closed

[2022-08-25 17:56] #293 closed

[2022-08-25 18:00] epierotti3 commented on #308
Update:
1. Progress: issue created based on other correspondence issues (see #307 )
2. Blockers: N/A, could be easily worked on by a new PM
3. Availability: I am leaving HfLA (for the time being), so I can not work on this any longer! It needs to be picked up by another PM.
4. ETA: N/A

[2022-08-25 18:03] epierotti3 commented on #307
Update:
1. Progress: issue created based on other correspondence issues (see #116 ). Made note of all correspondence between this partner and internship@hackforla.org.
2. Blockers: needs Bonnie to fill in any missing emails (if applicable). Otherwise, this issue is done!
3. Availability: I am leaving HfLA (for the time being), so I can not work on this any longer! It needs to be followed up on by

[2022-08-25 18:07] epierotti3 commented on #306
Update:
1. Progress: Issue created by @epierotti3 - left role as missing because this could be worked by any new team member regardless of role. @Nat-nn is working on this as of now after we reviewed the issue and addressed the blocker of what kind of terms should be put into the glossary. Answer: any term that is unclear to a TWE team member!
3. Blockers: N/A (Natalia - you can add blockers if th

[2022-08-25 18:15] epierotti3 commented on #128
Update:
1. Progress: made correspondence issues #307 and #308, updated the links for the mentor off- boarding issues, started working on the empty wiki pages issue and created #306 which has been assigned to a new UX team member. Many other empty wiki pages mentioned on that issue have since been tackled through the epic #276 .
2. Blockers: unsure of next step on empty wiki pages - there may be so

[2022-08-25 18:25] bradyse commented on #153
#### Offboard Rachel N. - 2022-08-25
- [ ] Remove from Google calendar invite
   - [ ] Monday PM meeting
   - [ ] Tuesday BA meeting
   - [ ] Tuesday UX Research meeting
   - [ ] Wednesday PM meeting (ad-hoc)
   - [ ] Thursday All-team meeting
 - [ ] 1password setup
    - [ ] remove from team vaults
       - [ ] Internship program
       - [ ] Internship - UI/UX
- [ ] Google Drive
   - [ ] demote

[2022-08-26 20:47] bradyse commented on #288
## 2022.MM.DD Meeting Agenda

### Attendees
- [ ] Bonnie
- [ ] Sara

### New agenda items
- Discuss goals of RP20: Interaction with HfLA teams
     - What is the interview going to tell us that we don't already know from the interns and mentors?
     - Is the goal of this research to improve the internship for the interns, for everyone else, or both?
     - Possible answers:
          - What did t

[2022-08-29 22:46] ExperimentsInHonesty commented on #288
Place the interns on a scale from 1-5 with 5 significantly more effective than ordinary volunteers and 1 being significantly less
Did it impact the website team differently than having regular volunteers, if yes, how?
To what extent did ~the HfLA volunteers~ you interact with the interns? (frequency and engagement)
Who else should we talk to that had interaction, or was affected by the interns?

[2022-08-30 15:56] bradyse commented on #288
@ExperimentsInHonesty , thanks so much for providing your thoughts. I think we should be good without a meeting.

Just to clarify, our ultimate goal is to explore the HfLA volunteers' perspectives on how it was working with the interns. Once we ask them these preliminary questions, we'll get a better sense of how we should proceed with the internship.

Since there were only a couple interns workin

[2022-08-30 21:56] bradyse commented on #62
## 2022.08.23 Research Meeting Agenda

### prework
- Review status of #276

### Recurring Action Items
- [ ]  Accountability and Support Check.
  - [ ]  Review assignments for each Research & Analysis team member (starting with those present)
     - [ ] [Natalia](https://github.com/hackforla/internship/issues/assigned/nat-nn)
     - [ ] [Angela](https://github.com/hackforla/internship/issues/assig

[2022-08-31 00:46] shimahoush commented on #309
I went through the various RPs and added in all the information that I could find. The main blocker is that many of the RPs are not written yet. I'll continue to mine the wiki for more info.

[2022-08-31 04:18] bradyse commented on #309
@ExperimentsInHonesty please see this Research Roadmap template that we're using: https://docs.google.com/document/d/1_4ihjsfKFiRNEZQnlihhRMYwPaM7WoSZNauY3GTbdpI/edit?usp=sharing

[2022-08-31 16:34] ExperimentsInHonesty commented on #309
FYI @shimahoush  - @bradyse and I updated the template last night and here is the URL to easily make a copy: [Research Roadmap template](https://docs.google.com/document/d/1_4ihjsfKFiRNEZQnlihhRMYwPaM7WoSZNauY3GTbdpI/template/preview)

[2022-08-31 16:37] ExperimentsInHonesty commented on #309
@bradyse @shimahoush This issue is in the prioritized backlog, and it's assigned to both of you.   Please read the notes below and decide on next action

Please note:
1. items in the prioritized backlog column are not assigned yet
2. items that are assigned should be in the In progress column
3. only one person should be assigned to each issue (exception: multiple people can be assigned to an agen

[2022-08-31 16:50] bradyse commented on #309
@ExperimentsInHonesty thanks for the reminders and the link to the template. I have added this link to the wiki page overview of templates: [UX Research Guides Templates](https://github.com/hackforla/internship/wiki/UX-Research-Guides-Templates)

[2022-08-31 16:54] bradyse commented on #62
## 2022-09.06 Research Meeting Agenda

### prework
#### Reminders on Issue Assignment:

1. items in the prioritized backlog column are not assigned yet
2. items that are assigned should be in the In progress column
3. only one person should be assigned to each issue (exception: multiple people can be assigned to an agenda)
4. only one issue should be assigned to a person (exception: you can be ass

[2022-09-01 15:10] ExperimentsInHonesty opened #310 "test"
### Dependencies
    - [ ] TWE: Research Structure: Template Issue : `Create Research Plan (internal)`
ANY ISSUE NUMBERS THAT ARE BLOCKERS OR OTHER REASONS WHY THIS WOULD LIVE IN THE ICEBOX

### Overview
WE NEED TO DO X FOR Y REASON

### Action Items
A STEP BY STEP LIST OF ALL THE TASK ITEMS THAT YOU CAN THINK OF NOW EXAMPLES INCLUDE: Research, reporting, etc.

- [ ] Update relevant WIKI page (See

[2022-09-01 15:23] ExperimentsInHonesty commented on #288
@bradyse you are are are done with this product, signoff at this point.  So I am going to mark this complete in the reach out to Bonnie form queue.

I have removed the people assigned to this @lkawentel @shimahoush and put the issue in the icebox, until the issues I added to the dependency can be removed.

Additionally, here is a list of all the issues that need to be made so that this issue will

[2022-09-01 15:29] ExperimentsInHonesty commented on #83
@ale22arevalo Thanks for your work on this.  I am closing this issue.  Your work was fantastic!

[2022-09-01 15:29] #83 closed

[2022-09-01 16:24] bradyse commented on #309
@shimahoush I updated the document according to the most recent version of our Google Doc Roadmap Template. If you have time, could you review the parts where there is a gap and you could fill it in? For example, you'll notice that instead of "Text" there are general instructions (e.g., "Provide the goals....").

Could you go through and see if there are any obvious holes that you could provide so

[2022-09-01 16:31] bradyse commented on #305
@priyatalwar @ExperimentsInHonesty

Creating the overview page is done, but the roadmap document needs to be revised as we fill in the research plans.  Should this issue be closed or is there a dependency on updating the Roadmap Google Doc?

[2022-09-01 16:58] ExperimentsInHonesty opened #311 "Create a template structure for new issue templates"
# Instructions for creating this issue
The person who creates this issue should use these links to add links to the resources section and customize this issue
- [x] Add the milestone: Project Management
- [x] Add a feature label specific to what the template is related to, if available.  If not clear what you should use, ask product.
- [x] Find WIKI page for this issue by looking at role pages [In

[2022-09-01 16:58] ExperimentsInHonesty commented on #311
### Action Items
- [ ] Add a draft of your template into the comment below and include the following
  - [ ] Copy template below (which tells us labels, titles, etc.) and fill out
  - [ ]

- [ ] Update relevant WIKI page (See resources)

### Resources/Instructions

#### Front Matter Fields and meaning
- name: (name that appear on the new issue tab)
- about: (is the description that appears next to

[2022-09-01 17:35] bradyse commented on #153
#### Onboard Alaisha
- [ ] Slack channel membership
  - [ ] ```#internship```
  - [ ] ```#interns``` (if necessary)
     - [ ] not needed
- [ ] Add to Google calendar invites
   - [ ] Tuesday BA meeting (if necessary)
      - [ ] not needed
   - [ ] Tuesday UX Research meeting (if necessary)
      - [ ] not needed
   - [ ] Thursday All-team meeting
- [ ] Google Drive
   - [ ] Add to drive as Conte

[2022-09-01 17:42] ExperimentsInHonesty commented on #306
I updated the spreadsheet to have the branding.

[2022-09-01 20:24] ExperimentsInHonesty commented on #311
I have reached out to Sarah on Slack at 2022-09-01 1:25pm to connect with her so she can try out the template.

[2022-09-02 16:58] bradyse opened #312 "TWE: Create Template Issue: Research Plan"
# Instructions for creating this issue
The person who creates this issue should use these links to add links to the resources section and customize this issue
- [x] Add the milestone: Project Management
- [x] Add a feature label specific to what the template is related to, if available.  If not clear what you should use, ask product.
- [ ] Find WIKI page for this issue by looking at role pages [In

[2022-09-02 17:13] bradyse commented on #312
---
name: TWE: Create Template Issue: Research Plan
about:
title: TWE: Create Research Plan
labels: 'feature: board / google drive / tools', 'feature: missing', 'size: missing', 'role: missing', 'milestone: missing'
assignees:
---
# Instructions for creating this issue
The person who creates this issue should use these links to add links to the resources section and customize this issue
- [ ] Find

[2022-09-02 18:00] ExperimentsInHonesty commented on #311
---
name: Create a template issue
about: This issue helps you structure your template issue to be consistent with our
  other template issues
title: 'TWE: Create Template Issue: [name of template]'
labels: 'feature: board / google drive / tools, feature: missing, milestone: missing,
  role: missing, size: missing'
assignees: ''

---

# Instructions for creating this issue
The person who creates th

[2022-09-02 18:19] bradyse opened #313 "TWE: Create Template Issue: Research Plan"
### Overview
We need to create a template issue for Research Plan so that we have consistent, transparent, defined and self-supporting structure for people creating them.

### Action Items
- [x] Add the milestone: Project Management
- [x] Add a feature label specific to what the template is related to, if available.  If not clear what you should use, ask product.
- [x] Find WIKI page for this issu

[2022-09-02 18:25] bradyse commented on #313
Draft of Research Plan template issue
---
name: TWE: Create Template Issue: Research Plan
about:
title: TWE: [action verb] [name of template]
labels: 'feature: board / google drive / tools', 'feature: missing', 'size: missing', 'role: missing', 'milestone: missing'
assignees:
---
# Instructions for creating this issue
The person who creates this issue should use these links to add links to the res

[2022-09-04 00:25] bradyse commented on #313
## 2022.09.03 Meeting Agenda

### Prework to prep for meeting
- [ ] Review draft of [Draft of Google Doc of Research Plan Template](https://docs.google.com/document/d/1SDW6n086PnSrrVSmPgQZWhlkz5_yC70vDvp7Lx7u0Wo/edit?usp=sharing)
- [ ] Review action items in the [Template Draft ](https://github.com/hackforla/internship/issues/313#issuecomment-1235791661)comment of #313

### Agenda Items
- [ ] Comp

[2022-09-05 16:18] shimahoush commented on #309
I went through the [TWE: Research Roadmap: Interns](https://docs.google.com/document/d/1BKFiKRcqDovcaKsEqtWMPU8vUs_Mq3gjNYLU6A5E7dQ/edit#) and updated everything that I could find. The blocker remains the same: lack of adequate information on RPs to actually fill out the roadmap.

Not sure what exactly what is needed for #276.

[2022-09-06 18:48] bradyse commented on #309
@priyatalwar This issue is done and all the action items have been completed. The document is not completely finished, but has been created and updated.

[2022-09-06 19:29] bradyse commented on #53
@priyatalwar This work is done and Bonnie has reviewed it.

[2022-09-06 19:33] priyatalwar commented on #53
Thanks @bradyse. Feel free to close this issue then.

[2022-09-06 19:33] #53 closed

[2022-09-06 19:41] bradyse commented on #295
@priyatalwar This issues is complete (please let me know if I should be closing these myself. I want to be sure PMs have an opportunity to review). Thank you!

[2022-09-06 19:54] bradyse commented on #304
@priyatalwar This issue is complete but the roadmap document itself is not yet finished.

[2022-09-06 20:37] adarosh commented on #287
@bradyse RP16 Wiki Page ready for review with Research Lead

[2022-09-07 12:58] bradyse opened #314 "TWE: Create Guide for Card Sorting Thematic Analysis"
### Overview
WE NEED TO DO X FOR Y REASON

### Action Items
A STEP BY STEP LIST OF ALL THE TASK ITEMS THAT YOU CAN THINK OF NOW EXAMPLES INCLUDE: Research, reporting, etc.

- [ ] Update relevant WIKI page (See resources)

### Resources/Instructions
REPLACE THIS TEXT -If there is a website which has documentation that helps with this issue provide the link(s) here.
](https://docs.google.com/documen

[2022-09-08 00:18] bradyse commented on #101
## All Team Meeting Agenda 2022-09-07

### Prework
- [ ] Check for new questions https://github.com/hackforla/internship/issues/59
- [ ] Review the issue you are assigned to and see if it needs an update: [How to do updates ](https://github.com/hackforla/internship/wiki/How-to-give-updates-on-your-issues)

### Agenda for PMs only

### FYI

### Roll Call:

- [ ] Bonnie
- [ ] Rabia
- [ ] Priyanka
-

[2022-09-08 16:51] ExperimentsInHonesty commented on #311
- get update from Sara on https://github.com/hackforla/internship/issues/313
  - added to agenda

[2022-09-08 16:52] ExperimentsInHonesty commented on #271
I need to know when it was conducted so that I can find it.

[2022-09-08 17:14] bradyse commented on #306
@Nat-nn
Please provide update
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be completed?"
5. Pictures (if necessary): "Add any pictures that will help illustrate wha

[2022-09-08 17:18] bradyse commented on #62
## 2022-09-13 Research Meeting Agenda

### Prework

### Recurring Action Items
- [ ]  Accountability and Support Check.
  - [ ]  Review assignments for each Research & Analysis team member (starting with those present)
     - [ ] [Natalia](https://github.com/hackforla/internship/issues/assigned/nat-nn)
     - [ ] [Angela](https://github.com/hackforla/internship/issues/assigned/adarosh)
     - [ ]

[2022-09-08 17:20] Nat-nn commented on #306
1. Progress:  Added 25 more terms, discussed some terms with the team on a prior meeting.
2. Blockers:  Need to confirm how many terms we want to include, need to verify the scope.
3. Availability: 1-2 hours
4. ETA:  2 weeks (by 09/22/22)
5. Pictures (if necessary): N/A

[2022-09-08 17:56] ExperimentsInHonesty commented on #306
Notes from meeting 2022-09-08
- add where term appeared
- add who benefits categorization

[2022-09-08 18:00] ExperimentsInHonesty commented on #297
@alaishasayed Please provide update
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be completed?"
5. Pictures or links* (if necessary): "Add any pictures or links that

[2022-09-08 18:04] alaishasayed commented on #297
1. Progress:
2. Blockers:
3. Availability:
4. ETA:
5. Pictures or links (if necessary):

[2022-09-09 00:00] ExperimentsInHonesty commented on #274
This interview was already completed.  This issue was never filled out.  Next steps
1. Find the spreadsheet that tells you who intern #2 is
2. Find the interview recording, make sure it's in a folder for that candidate and link the text above that says `[candidates recording folder]` to the folder location URL
3. Find the [candidates folder] URL and link it
4. Add the date and time the interview w

[2022-09-09 00:09] ExperimentsInHonesty commented on #101
We need a new agenda issue for UX lead and PM
Add discussing the fact that without the child issues, we are just searching around in the dark trying to remember where the recording went.  I am pretty sure I know, and Christine knows, but that is not the way we do things around here.  Let's discuss what our cleanup work on this will be.

[2022-09-09 00:20] ExperimentsInHonesty commented on #182
- This issue has been replaced by https://github.com/hackforla/internship/issues/276

[2022-09-09 00:20] #182 closed

[2022-09-09 04:14] Aparna1Gopal commented on #249
**Notes:** Updated Resources/Instructions section. Closed issue as complete.

[2022-09-09 04:14] #249 closed

[2022-09-09 04:58] Aparna1Gopal commented on #279
@bradyse This issue is done and can be closed. Thanks!

[2022-09-09 06:16] Aparna1Gopal commented on #279
**Notes:** @Aparna1Gopal

To refer: Good example/ best practice for the following:
- Making a Wiki related GitHub Issue
- Details on the related Wiki Page

[2022-09-09 21:05] priyatalwar opened #315 "UX Lead and PM Agenda"
### Overview
This issue tracks the agenda for the UX lead and PM meetings for the  Internship Project

### Action Items
- [ ] Add your items to the next agenda
- [ ] Make a link to the agenda in the list below

[code]

[2022-09-09 21:19] priyatalwar commented on #101
@ExperimentsInHonesty @bradyse here is the agenda #315 for the UX lead + PM meeting. Feel free to add or edit.

[2022-09-11 19:21] ExperimentsInHonesty commented on #315
## All Team Meeting Agenda 2022-09-08

### Prework
- [ ] Check for new questions https://github.com/hackforla/internship/issues/59
- [ ] Review the issue you are assigned to and see if it needs an update: [How to do updates ](https://github.com/hackforla/internship/wiki/How-to-give-updates-on-your-issues)

### Roll Call:

- [ ] Bonnie
- [ ] Priyanka
- [ ] Sara

### Recurring Action Items
- [ ]  Ac

[2022-09-11 19:43] ExperimentsInHonesty commented on #287
@adarosh Sarah has a bit of a backlog. We are going to release you from this issue and put it in the prioritized backlog for her to review.

[2022-09-11 19:46] #258 closed

[2022-09-11 19:48] ExperimentsInHonesty commented on #287
- @bradyse Angela was assigned to another issue https://github.com/hackforla/internship/issues/258 but it was closed because we did not conduct the research.  When you review the wiki.  Let's make sure that its complete enough that we could perform the research next cycle.

[2022-09-11 19:55] ExperimentsInHonesty commented on #250
This issue needs to be cleaned up so that we can have a template for making an analysis template issue (which will require a deck template).

[2022-09-12 16:24] priyatalwar commented on #49
2022-09-12 Agenda and Notes

### Prework
- [ ] Issue for audit #93
- [ ] Check to see if there are questions, and if yes, add it to agenda #59
- [ ] Check to make sure any issues from this week made [The 2022 Internship Program Process Overview](https://github.com/hackforla/internship/wiki/The-2022-Internship-Program-Process-Overview) on the wiki

### Roll Call
- [ ] Bonnie
- [ ] Rabia
- [ ] Priya

[2022-09-12 16:26] priyatalwar commented on #93
ate: 2022-09-13
- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [x] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] role, ending at 4/0
   - [x] size, ending at 1/0
   - [x] feature, ending at

[2022-09-12 16:46] priyatalwar opened #316 "UCLA Correspondence: Follow up with Tung"
### Overview
We need to follow up with UCLA so Tung at UCLA can continue as an intern in the fall

### Action Items
- [x] Find the pages on UCLA website by looking at prior issues with UCLA (document them in resources)
- [x] Determine next steps (possible steps include)
  - [ ]  Send placement form to UCLA
- [ ] Check to see if UCLA sent any email
- [x] Follow up with Tung, and get exactly what sh

[2022-09-12 16:48] priyatalwar commented on #316
Slack message from Tung
"Hi Priyanka, Elizabeth told me to reach to you for any questions regarding the internship. She sent a [Placement Form](https://www.psych.ucla.edu/undergraduate/fieldwork/psychology-195b-fieldwork-in-cognitive-science/psychology-195b-fieldwork-form/) for my fieldwork credit at UCLA. I was wondering if the internship team has received any emails about it?
UCLA Department of

[2022-09-12 16:49] ExperimentsInHonesty commented on #165
Closed this issue.  Bonnie looked around, to find examples of what makes a good wiki and that's how we ended up with our wiki design.  Here are some of the links she looked at

### HfLA
- HfLA Data Science team https://github.com/hackforla/data-science/wiki

### Other wikis
- https://nimblehq.co/compass/development/documentation/github-wiki/
- https://github.com/thinkaurelius/titan/wiki
- https://

[2022-09-12 16:49] #165 closed

[2022-09-12 16:53] ExperimentsInHonesty commented on #165
From https://nimblehq.co/compass/development/documentation/github-wiki/
---
GitHub Wiki 📖Hero image for GitHub Wiki 📖
[Purpose](https://nimblehq.co/compass/development/documentation/github-wiki/#purpose)
[Time allocation](https://nimblehq.co/compass/development/documentation/github-wiki/#time-allocation)
[Organization](https://nimblehq.co/compass/development/documentation/github-wiki/#organization

[2022-09-12 16:54] ExperimentsInHonesty commented on #165
from: https://github.com/thinkaurelius/titan/wiki

[screencapture-github-thinkaurelius-titan-wiki-2022-09-12-09_53_54](https://user-images.githubusercontent.com/37763229/189712158-6c1e9e7a-8aaa-48c3-8a6e-45aef8a48310.png)

[2022-09-12 16:56] ExperimentsInHonesty commented on #165
from: https://github.com/d3/d3/wiki
<img src="(https://user-images.githubusercontent.com/37763229/189712502-fff777ae-e40b-47d6-b728-b4d904ba36f7.png">

[2022-09-12 16:58] ExperimentsInHonesty commented on #165
from https://github.com/Netflix/Hystrix/wiki
![screencapture-github-Netflix-Hystrix-wiki-2022-09-12-09_57_30](https://user-images.githubusercontent.com/37763229/189712852-5c3397ab-7c37-4e21-9bf1-23d204fe9cd3.png)

[2022-09-12 17:17] priyatalwar commented on #316
Email communication to Tung:
Hi Tung,
Thanks for reaching out. Yes, we see that the placement form has been already filled out and we are listed. We have only done it for you and once you've accepted the placement we need to close it out as soon as possible since we've been getting a ton of emails from other students. Let us know the next steps since this is time sensitive.

Thank you,
Priyanka

[2022-09-12 17:19] ExperimentsInHonesty commented on #168
![image](https://user-images.githubusercontent.com/37763229/189716339-ca86c9bf-cd72-49a0-9726-543f9b500222.png)

https://www.instagram.com/skims/
![image](https://user-images.githubusercontent.com/37763229/189716543-8468a818-52cd-4017-8617-e16e0c259889.png)

[2022-09-12 17:48] priyatalwar opened #317 "Create Social Media Accounts"
### Dependencies
ANY ISSUE NUMBERS THAT ARE BLOCKERS OR OTHER REASONS WHY THIS WOULD LIVE IN THE ICEBOX

### Overview
We need to create social media accounts so we can have a social media presence

### Action Items
A STEP BY STEP LIST OF ALL THE TASK ITEMS THAT YOU CAN THINK OF NOW EXAMPLES INCLUDE: Research, reporting, etc.

- [ ] Update relevant WIKI page (See resources)

### Resources/Instructi

[2022-09-12 22:34] adarosh commented on #314
Issue update: Reached out to Snigdha to set up a meeting. She said she will be attending the Internship UX Meeting tomorrow (9/13/2022)

[2022-09-13 16:16] adarosh commented on #287
@bradyse Added draft email to guardians to Wiki

[2022-09-13 20:00] ale22arevalo commented on #126
1. Progress: Came up with three issues to breakdown into smaller tasks this big issue and make it easier to tackle + currently making updates to design system (adding on hover states, error messages and modals)
2. Blockers: No blockers
3. Availability: ~6hours
4. ETA: Sep. 14

[2022-09-14 02:02] Aparna1Gopal commented on #208
Notes:

UX Research Minutes of Meetings recorded here: https://github.com/hackforla/internship/issues/62

[2022-09-14 13:20] bradyse opened #318 "Review or Update Consent Process on Research Output Overview Page"

[2022-09-14 20:44] alaishasayed commented on #297
Progress: complete
Blockers: some documents have not been completed
Availability: no more needed, will address new issue
ETA: done
Pictures or links (if necessary):

[2022-09-14 21:22] bradyse opened #319 "IS22 Intern Exit Interviews: Make Issues"
### Dependencies
- #273
- #252

### Overview
We need to create an issue for each intern exit interview to make sure we are getting all the steps uniform.

### Action Items
- [x] Create an issue for each interview.
     - [x] #274
     - [x] IS22 Exit Interviews: Intern # 3
     - [x] IS22 Exit Interviews: Intern # 4
     - [x] IS22 Exit Interviews: Intern # 5
     - [x] IS22 Exit Interviews: Inter

[2022-09-14 21:59] bradyse commented on #263
This issue is being closed because it was rewritten into:
- #319

[2022-09-14 21:59] #263 closed

[2022-09-14 22:02] bradyse commented on #274
The work in this issue was completed on 07-29-22 (Elizabeth P was the interviewer). This issue is being closed and is also being tracked in:
- #319

[2022-09-14 22:02] #274 closed

[2022-09-15 17:27] Nat-nn commented on #313
My update 09/15/22 :
1. Progress:   Updated who benefits  and added links; Added several new terms.
2. Blockers:   Who benefits - need some clarification; Where located: Are we trying to find only 1 location or want to add all locations where we have it coming up?
3. Availability: 2-3 hours
4. ETA:  2 weeks (by 09/22/22)
5. Pictures (if necessary): N/A

[2022-09-15 17:35] Nat-nn commented on #306
My update 09/15/22 :
1. Progress:   Updated who benefits  and added links; Added several new terms.
2. Blockers:   Who benefits - need some clarification; Where located: Are we trying to find only 1 location or want to add all locations where we have it coming up?
3. Availability: 2-3 hours
4. ETA:  2 weeks (by 09/22/22)
5. Pictures (if necessary): N/A

[2022-09-15 17:56] alaishasayed commented on #297
Interview script, questions, and form have been created, but not yet administered yet. Participants have not been recruited.

[2022-09-15 17:58] Nat-nn commented on #306
Discussed during the meeting: Scope of the project, terms needed.
Next Steps: To update sources/ links

[2022-09-15 18:19] bradyse commented on #278
This issue is being closed because the wiki page has been updated.

[2022-09-15 18:22] bradyse commented on #297
@alaishasayed

Thanks for the progress on this issue. Please make sure that you complete the following, as you check off the remaining items off this issue:

- If a particular Research Plan was not conducted during the Internship 2022, note why under "Current Status".
- Tips for identifying mislabeled GitHub issues
     - In the search bar, type keywords that might be related to this research plan

[2022-09-15 18:22] priyatalwar commented on #62
## 2022-09-15 Research Meeting Agenda

### Prework
- [ ] Review your issues and update issues with the following comment template:
[code]

### Recurring Action Items
- [ ]  Accountability and Support Check.
  - [ ]  Review assignments for each Research & Analysis team member (starting with those present)
     - [ ] [Natalia](https://github.com/hackforla/internship/issues/assigned/nat-nn)
     - [

[2022-09-15 19:30] bradyse commented on #287
@ExperimentsInHonesty

1. Progress: Completed all steps of this issue until Product sign-off
2. Blockers: Need to have product review wiki page and accompanying documentation
3. Availability: As needed
4. ETA: Whenever the research plan issue can be finalized
5. Pictures or links (if necessary): Wiki page for [RP16](https://github.com/hackforla/internship/wiki/Research-Plan-16:-Intern-Productivity

[2022-09-16 23:59] Aparna1Gopal commented on #279
@bradyse This issue is done and can be closed. Thanks!
- [RP8 Wiki Page](https://github.com/hackforla/internship/wiki/Research-Plan-8-:-Mentor-Intake-Interviews)

[2022-09-17 00:16] bradyse commented on #62
## 2022-09-16 Research Meeting Agenda

### Prework

### Recurring Action Items
- [ ]  Accountability and Support Check.
  - [ ]  Review assignments for each Research & Analysis team member (starting with those present)
     - [ ] [Natalia](https://github.com/hackforla/internship/issues/assigned/nat-nn)
     - [ ] [Angela](https://github.com/hackforla/internship/issues/assigned/adarosh)
     - [ ]

[2022-09-17 01:29] bradyse commented on #279
@Aparna1Gopal
Recommended updates to this wiki page:
- [ ] Move some of the summary of research information on the reasons why this research was not conducted in 2022 to the "Current Status" section
- [ ] Move the relevant information from the research roadmap document to the various subsections of the wiki page.
- [ ] Add placeholders for missing documentation (e.g., Research Plan)
- [ ] Leave mi

[2022-09-17 02:05] Aparna1Gopal commented on #208
**Notes:**

Following up after one-on-one meeting with Sara B, UXR Lead on 09/17/2022
Relevant Resources:
Research Roadmap Template: https://docs.google.com/document/d/1kUteb9OtMmKFX422HkomiJr6JkSU4XNBlauw4_EqjBY/edit

[2022-09-17 06:45] Aparna1Gopal commented on #279
@bradyse I have completed the above task items. Could you please review [RP8 Wiki Page](https://github.com/hackforla/internship/wiki/Research-Plan-8-:-Mentor-Intake-Interviews)
and let me know if any further changes need to be made? Thanks!

[2022-09-20 16:50] adarosh commented on #296
Blocker: Google Drive for this research plan is empty

[2022-09-20 17:39] adarosh commented on #314
Issue update:
1. Progress: Found resources from Brigade Organizer’s Playbook Project on Internship drive
2. Blockers: Reached out to Snigdha with possible days/times to meet this week, waiting for response to set meeting time
4. Availability: 4-6 hrs
5. ETA: TBD after meeting
6. Pictures (if necessary): N/A

Resources from the Brigade Organizer’s Playbook Project (How To: Synthesize Research to Ge

[2022-09-20 20:14] bradyse commented on #313
1. Progress: Updated Research Plan Template and created a guide for how to write a research plan (link in resources)
2. Blockers: Need Bonnie to review
3. Availability: 1-3 hours per week
4. ETA: After next UX PM meeting
5. Pictures or links (if necessary):

_* remember to add links to the top of the issue if they are going to be needed again._

[2022-09-20 21:14] alaishasayed commented on #297
A related issue was located - [Review Interview Instructions for Research Plan 2: find transferable skills #50
](https://github.com/hackforla/internship/issues/50) - to review the instructions of the interview questions, however it appears as if this task was not yet completed. This was put "in the icebox with the dependency for the script questions to be finalized"

@bradyse

[2022-09-20 22:33] Nat-nn commented on #306
Progress: Updated Glossary (added additional terms, Updated links and added term reference pages)
Blockers: Need Team Lead to review, to confirm Ok to add to WIKI
Availability: 1-3 hours per week
ETA: After next UX team meeting
Pictures or links:
https://docs.google.com/spreadsheets/d/10omnFb1L8lM4n4Rz610UzI1E51ZMRG6tuVnphrYnay0/edit#gid=0

[2022-09-20 22:38] bradyse commented on #297
@alaishasayed

Find related research assets in #50 and put those assets in RP2's Google Drive folder

[2022-09-20 23:11] bradyse commented on #279
@priyatalwar This issue is complete. I will unassign @Aparna1Gopal and wait for your approval to close it.

[2022-09-21 19:42] alaishasayed commented on #297
Progress: almost complete! Found a related page in icebox with "dependency" label.  This page shared that instructions of interview questions needed to be reviewed and finalized, but never were.  Moved the asset related to this page to RP2 Google Drive.
Blockers: Interview Instructions were never finalized which is why interviews were never conducted.  It appears as though preparation for intervie

[2022-09-21 23:54] ExperimentsInHonesty commented on #319
We can close this issue after we have made it into a template (removing all the stuff that is not necessary), and updating the session table to include a place for an issue numbers.

[2022-09-22 15:47] priyatalwar commented on #316
Response from Tung:
I have filled out the contract I'm suppose to submit. I was wondering who would be signing as "Site Supervisor".
Here's the [contract](https://drive.google.com/file/d/1o0l2aEpVyPNc36CfV3tIecVlP4iU8Izd/view?usp=sharing). I have to submit by the 24th.

[2022-09-22 16:01] ExperimentsInHonesty commented on #316
@priyatalwar I can sign as the site supervisor, please let her know.  Please contact UCLA asap and get the opening listed on their site closed.

[2022-09-22 16:50] bradyse commented on #101
## All Team Meeting Agenda 2022-09-22

### Prework
- [ ] Check for new questions https://github.com/hackforla/internship/issues/59
- [ ] Review the issue you are assigned to and see if it needs an update: [How to do updates ](https://github.com/hackforla/internship/wiki/How-to-give-updates-on-your-issues)

### Agenda for PMs only

### FYI

### Roll Call:

- [ ] Bonnie
- [ ] Rabia
- [ ] Priyanka
-

[2022-09-22 17:01] priyatalwar commented on #316
@ExperimentsInHonesty I just let Tung know and I'll work on getting the listing removed.

Working on drafting a response now.

[2022-09-22 17:23] ExperimentsInHonesty commented on #306
Notes from meeting
- We can link the where found, to the location it was found in
- official link, refers to either the domain holder or a wiki article, etc.
- line returns can be made in sheets by using alt-enter

[2022-09-22 17:28] priyatalwar commented on #316
@ExperimentsInHonesty Here is my response to Dylan at UCLA. Please feel free to review and/ or edit before I send it.

Hi Mr Dylan,

Hope you're doing well. Thank you so much for posting our internship on your website:

https://www.psych.ucla.edu/undergraduate/fieldwork/psychology-195b/?wpv_aux_current_post_id=2362&wpv_aux_parent_post_id=2362&wpv_view_count=2361.

I am now writing to request that

[2022-09-22 17:57] ExperimentsInHonesty commented on #237
We finished the mentorship for summer 2022.

The draft for messaging mentors is linked into the https://github.com/hackforla/internship/wiki/The-2022-Internship-Program-Process-Overview page

[2022-09-22 17:59] ExperimentsInHonesty commented on #316
Letter is good to send

[2022-09-22 18:00] priyatalwar commented on #317
Please provide update
1. Progress: Still working on it
2. Blockers: need to figure out how to use tiktok since I've never used it
3. Availability: 2-3 hours
4. ETA: by Monday PM meeting 9/25

[2022-09-22 18:07] priyatalwar commented on #316
@ExperimentsInHonesty Just sent it via the internship email address. Please sign the contract before 24th and I'll let Tung know then.

[2022-09-23 00:43] priyatalwar commented on #316
listing has been removed as per Dylan's response to my email:

Thank you for letting me know – I have removed the listing from the listings on our department website.

@ExperimentsInHonesty I can work on a draft to send to the students who applied and we can review on Monday.

[2022-09-26 15:27] priyatalwar commented on #49
2022-09-26 Agenda and Notes

### Prework
- [ ] Issue for audit #93
- [ ] Check to see if there are questions, and if yes, add it to agenda #59
- [ ] Check to make sure any issues from this week made [The 2022 Internship Program Process Overview](https://github.com/hackforla/internship/wiki/The-2022-Internship-Program-Process-Overview) on the wiki

### Roll Call
- [ ] Bonnie
- [ ] Priyanka
- [ ] Sh

[2022-09-26 15:33] priyatalwar commented on #93
Date: 2022-09-22
- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [x] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] role, ending at 3/0
   - [x] size, ending at 1/0
   - [x] feature, ending at

[2022-09-26 17:21] priyatalwar commented on #315
## All Team Meeting Agenda [TBD]

### Prework
- [ ] Check for new questions https://github.com/hackforla/internship/issues/59
- [ ] Review the issue you are assigned to and see if it needs an update: [How to do updates ](https://github.com/hackforla/internship/wiki/How-to-give-updates-on-your-issues)

### Roll Call:

- [ ] Bonnie
- [ ] Priyanka
- [ ] Sara

### Recurring Action Items
- [ ]  Account

[2022-09-26 17:21] priyatalwar commented on #257
We've added it to the next agenda so we know what templates we need to work on

[2022-09-26 17:30] priyatalwar commented on #250
We have added the following links to other:
- [TWE Template presentation](https://docs.google.com/presentation/d/1m7cYJ9jeH-z6bUv9xiHOjxmBUmANZrKs7YtQbNVfqgY/template/preview)
- Example [RP001 Research Analysis presentation](https://docs.google.com/presentation/d/1i83YamHc64eBGIjtkb9PJ-Gnhwkafo-uRFD0qjTZKWo/edit#slide=id.gea24f90547_0_3)

@bradyse Please take a look at these two links and see if s

[2022-09-26 17:44] priyatalwar commented on #316
Dear Intern,

Thank you for your interest in our internship program. Unfortunately, we only had space for one and the candidate has been chosen. We look forward to welcoming you to our future cohorts so please keep an eye out.

We wish you luck for the rest of the school year.

Sincerely,
Priyanka

[2022-09-26 17:56] ExperimentsInHonesty commented on #123
#### Onboard Sharon Gupta 2022-09-26
- [ ] Slack channel membership
  - [ ] ```#internship```
  - [ ] ```#interns```
 - [ ] Google Drive
   - [ ] Add to drive as Manager
- [ ] Add to Google calendar invites
   - [ ] Monday PM meeting
   - [ ] Tuesday BA meeting
   - [ ] Tuesday UX Research meeting
   - [ ] Wednesday PM meeting (ad-hoc)
   - [ ] Thursday All-team meeting
- [ ] Roster
  - [ ] Send l

[2022-09-26 18:14] bradyse commented on #153
#### Onboard Ying - UX Research
- [ ] Slack channel membership
  - [ ] ```#internship```
  - [ ] ```#interns``` (if necessary)
     - [ ] not needed
- [ ] Add to Google calendar invites
   - [ ] Tuesday BA meeting (if necessary)
      - [ ] not needed
   - [ ] Tuesday UX Research meeting (if necessary)
      - [ ] not needed
   - [ ] Thursday All-team meeting
- [ ] Google Drive
   - [ ] Add to dri

[2022-09-26 18:17] priyatalwar commented on #316
@priyatalwar Create a doc for mail merge: Name and Email; and content of the doc before 9/28 meeting.

[2022-09-26 18:21] bradyse commented on #62
## 2022-09-27 Research Meeting Agenda

### Prework
- [Onboard Ying](https://github.com/hackforla/internship/issues/153#issuecomment-1258426288)

### Recurring Action Items
- [ ]  Accountability and Support Check.
  - [ ]  Review assignments for each Research & Analysis team member (starting with those present)
     - [ ] [Natalia](https://github.com/hackforla/internship/issues/assigned/nat-nn)

[2022-09-26 18:28] #253 closed

[2022-09-26 18:28] #238 closed

[2022-09-26 23:40] lkawentel opened #320 "TWE: Create Research Plan for RP[###]"
### Dependencies
- [ ] [Replace this with Roadmap issue #]
- [ ] A research setup structure (wiki, GitHub labels, Google Drive, etc.) has been created and approved.

### Overview
We need to create a Research Plan for [NAME OF RESEARCH PLAN] so that [RESEARCH GOAL(S)].

### Action Items
- [ ] Update this issue to make sure it's properly categorized and easy to manage
     - [ ] Add to the Project B

[2022-09-27 17:10] bradyse opened #321 "TWE: Create Template Issue: [TYPE & TIMING] Interviews: Make Issues"
### Overview
We need to create a template issue for an epic issue that tracks all the interview issues so that we have consistent, transparent, defined and self-supporting structure for people creating them.

### Action Items
- [ ] Add to the Project Board
- [ ] Add the milestone: Project Management
- [ ] Add a feature label specific to what the template is related to, if available.  If not clear

[2022-09-27 17:18] bradyse commented on #321
Draft of Research: Interviews: Make Issues template issue
---
name: TWE: Create Template Issue: [TYPE & TIMING] Interviews: Make Issues
about: The parent issue that tracks issues for all interviews of a specific research plan
title: TWE: Research: Interviews: Make Issues
labels: 'feature: board / google drive / tools', 'feature: research', 'feature: missing', 'size: 1pt', 'role: UX research lead',

[2022-09-27 18:51] bradyse commented on #187
@priyatalwar
This issue was used as an example issue for creating the mentor research roadmap. We are currently in the process of generating updated issue templates. All new research templates should NOT reference this issue. Instead, new issue templates will appear [here ](https://github.com/hackforla/internship/issues/new/choose)labeled as "Research: [name of issue template]"

[2022-09-27 18:59] bradyse opened #322 "TWE: RP006: Intern Intake Interviews: Create Data Presentation"
### Dependencies
- [ ] #257

### Overview
We need to create the data presentation slide deck for RP006 so that we can understand HfLA's impact on the interns' experiences.

### Action Items
- [ ] Synthesize interviews
- [ ] Fill out interview information
- [ ] Generate insights
- [ ] Update the research plan (document)
- [ ] Create a slide deck
- [ ] Refine slide deck design https://github.com/hac

[2022-09-27 19:11] bradyse commented on #250
@priyatalwar

I have noted that this issue should be rewritten as a Research Template Issue for creating data presentations. I removed the link to the mentor roadmap issue. For whatever reason, that specific issue got changed and morphed into what it is now instead of new issues being created from it as a result. We know have a more streamlined roadmap template identified in our Research Wiki Temp

[2022-09-27 19:16] bradyse commented on #208
@priyatalwar
This issue has been checked. For future, do not use this template for any future issue creation. Use this [roadmap issue template](https://github.com/hackforla/internship/issues/new?assignees=&labels=feature%3A+research%2C+feature%3A+roadmap%2C+milestone%3A+missing%2C+role%3A+UI%2FUX+research%2C+size%3A+0.50pt&template=research--roadmap.md&title=TWE%3A+Research+Roadmap+%5Bname+of+type

[2022-09-27 19:16] #208 closed

[2022-09-27 20:17] ale22arevalo commented on #126
Create elements for component library

- Secondary Buttons
- Shape Style
- Text input fields
- Text Area
- Cards, lists
- Selection Area
- Dropdowns
- Modals

Create a UX Writing language guide for website

- Text used for buttons, commands, error messages etc.
- Copywriting for cards, messages, text boxes

Define interactions states of interactive elements

- Hover States
- Clicks
- Selection Sta

[2022-09-27 21:52] adarosh commented on #314
Issue update:

Progress: TWE guide template moved to shared drive; Scheduled meeting with Snigdha - 9/30 from 6-7:00pm EST
Blockers: Meeting with Snigdha
Availability: 4-6 hrs
ETA: TBD after meeting
Pictures (if necessary): N/A

[2022-09-27 22:14] bradyse commented on #306
@Nat-nn

Please provide update
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be completed?"
5. Pictures (if necessary): "Add any pictures that will help illustrate wh

[2022-09-27 22:32] bradyse commented on #320
@lkawentel

Please provide update
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be completed?"
5. Pictures (if necessary): "Add any pictures that will help illustrate

[2022-09-27 22:40] bradyse commented on #297
@ExperimentsInHonesty @priyatalwar @sharongupta1

The UXR team isn't sure what is an "Action Item Spreadsheet" and why that is included on the wiki page template. What is that? However, all the major wiki items have been updated and this issue is complete and can be closed.

[2022-09-28 16:48] sharongupta1 commented on #320
This issue does not have the name of the research plan and can't be prioritized until it does
@bradyse @lkawentel

[2022-09-28 17:29] sharongupta1 commented on #322
@bradyse Product thinks that this issue would be helped by having an instruction guide and analysis templates

[2022-09-29 00:42] #319 closed

[2022-09-29 00:53] alaishasayed commented on #283
Progress: This issue is a subset of the TW Research Roadmap: Interns, which is designed for the mentors of the TWE Internship program.
Blockers: Information such as goals, requirements, timelines have not yet been listed in Roadmap Google Doc.
Availability: several hours
ETA: 1-2 weeks?
Pictures or links* (if necessary): [Research Roadmap: Interns](https://docs.google.com/document/d/1BKFiKRcqDovca

[2022-09-29 16:23] bradyse commented on #321
1. Progress:
- Working on developing an interview training guide template based upon RP6's training guide that can be added to this template issues list of resources.
- Working on organizing template wiki information that can be referenced in this issue for further streamlining
3. Blockers: None
4. Availability: 1-3 hours/week
5. ETA: Next week
6. Pictures or links (if necessary):

_* remember to

[2022-09-29 16:32] bradyse commented on #56
### Draft for Open Roles Board 2022-09-29

**Project Name**: Tech Work Experience

**About the Project**: The goal of this team is to design and execute an internship project geared toward high school and college students to help them develop the hard (technical) and soft skills (workplace collaboration) required to successfully land STEM careers.

**Volunteer Opportunity**: Looking for UX researc

[2022-09-29 16:36] sharongupta1 commented on #101
## All Team Meeting Agenda 2022-09-29

### Prework
- [ ] Check for new questions https://github.com/hackforla/internship/issues/59
- [ ] Review the issue you are assigned to and see if it needs an update: [How to do updates ](https://github.com/hackforla/internship/wiki/How-to-give-updates-on-your-issues)

### Agenda for PMs only

### FYI

### Roll Call:

- [ ] Bonnie
- [ ] Rabia
- [ ] Priyanka
-

[2022-09-29 16:51] bradyse commented on #62
## [Date] Research Meeting Agenda

### Prework

### Recurring Action Items
- [ ]  Accountability and Support Check.
  - [ ]  Review assignments for each Research & Analysis team member (starting with those present)
     - [ ] [Natalia](https://github.com/hackforla/internship/issues/assigned/nat-nn)
     - [ ] [Angela](https://github.com/hackforla/internship/issues/assigned/adarosh)
     - [ ] [Shi

[2022-09-29 16:53] sharongupta1 commented on #297
@bradyse Please add the "Action Item Spreadsheet" link to the Resources section above

[2022-09-29 17:08] sharongupta1 commented on #287
This needs to be revised to get rid of the unnecessary steps (keep Finalizing the internal and external research plans)

[2022-09-29 17:37] Nat-nn commented on #306
Progress: Added additional terms, ready to review.
Blockers: Need to get Team lead approval for general links.
Availability: 1-3 hours per week
ETA: After next UX team meeting
Pictures or links:
https://docs.google.com/spreadsheets/d/10omnFb1L8lM4n4Rz610UzI1E51ZMRG6tuVnphrYnay0/edit#gid=0

[2022-09-29 18:39] ExperimentsInHonesty commented on #116
Sharon will reach out to Emily and Flor asking them for the link to the Survey

Hi Emily and Flor,

My name is Sharon, I am one of the PMs on the Hack for LA Internship team.

We have not received any emails from your team since May.  Is everything ok?

Last year, after the internship program was over, there was a survey that you asked us to fill out.  Do you want us to fill out anything for this

[2022-09-30 17:18] priyatalwar commented on #116
@sharongupta1 can you please paste email and the link to the survey here?

[2022-10-02 17:46] bradyse commented on #276
## 2022-10-03 Research Meeting: 1-1

### Prework

- [ ] Review Aparna's open and closed [issues](https://github.com/hackforla/internship/issues/assigned/Aparna1Gopal)

### Agenda items

### Notes from meeting
-

### Post Work
-

[2022-10-03 15:57] priyatalwar commented on #316
Update: Here is the spreadsheet for [mail merge](https://docs.google.com/spreadsheets/d/1Y2M3EnkyzO6zLpHZ9rmeDqkOkGmvAkMmJj95nZKOPik/edit#gid=0)

[2022-10-03 16:02] priyatalwar commented on #49
2022-10-03 Agenda and Notes

### Prework
- [ ] Issue for audit #93
- [ ] Check to see if there are questions, and if yes, add it to agenda #59
- [ ] Check to make sure any issues from this week made [The 2022 Internship Program Process Overview](https://github.com/hackforla/internship/wiki/The-2022-Internship-Program-Process-Overview) on the wiki

### Roll Call
- [ ] Bonnie
- [ ] Priyanka
- [ ] Sh

[2022-10-03 16:50] sharongupta1 commented on #160
Google doc with survey answers

https://docs.google.com/document/d/1mzzHXm79mrDJ47PEbyzVusllzmRRVLTmhXl9juVEp1c/edit

[2022-10-03 17:11] priyatalwar commented on #317
Update:
Twitter account created
For instagram should I use FB or the internship email?

[2022-10-04 00:31] bradyse commented on #295
This research plan is not yet finished. It needs an action item spreadsheet to be completed. These changes should be reflected in the wiki.

[2022-10-04 01:58] bradyse commented on #315
## PM and UX Lead Agenda 2022-10-05

### Prework
- [ ] Check for new questions https://github.com/hackforla/internship/issues/59
- [ ] Review the issue you are assigned to and see if it needs an update: [How to do updates ](https://github.com/hackforla/internship/wiki/How-to-give-updates-on-your-issues)

### Roll Call:

- [ ] Bonnie
- [ ] Priyanka
- [ ] Sara
- [ ] Sharon

### Recurring Action Item

[2022-10-04 07:14] Aparna1Gopal commented on #300
**Notes**

Based on meeting with UXR Lead and project requirements (https://github.com/hackforla/internship/issues/276#issuecomment-1264697139), self-assigned & commenced working on the above issue

[2022-10-04 18:23] bradyse commented on #271
@ExperimentsInHonesty @christine-el thinks that this interview was on July 13th at 4 pm.

[2022-10-04 18:25] bradyse commented on #291
@christine-el please confirm that all RP17 documentation that exists is in the Google Drive, and add any knowledge about this RP to the research roadmap document for RP 17: [TWE: Research Roadmap: Interns](https://docs.google.com/document/d/1BKFiKRcqDovcaKsEqtWMPU8vUs_Mq3gjNYLU6A5E7dQ/edit?usp=sharing)

[2022-10-04 20:10] bradyse commented on #153
#### Onboard Sophie D. - UXR
- [ ] Slack channel membership
  - [ ] ```#internship```
  - [ ] ```#interns``` (if necessary)
     - [ ] not needed
- [ ] Add to Google calendar invites
   - [ ] Tuesday BA meeting (if necessary)
      - [ ] not needed
   - [ ] Tuesday UX Research meeting (if necessary)
      - [ ] not needed
   - [ ] Thursday All-team meeting
- [ ] Google Drive
   - [ ] Add to drive

[2022-10-05 19:26] christine-el commented on #291
@bradyse I filled out the Wiki page for this research and the research roadmap.  There wasn't much to do, as we did not create a research plan or actually carry out the research.  There is no documentation for this project, except for the conversation about the productivity tracker that Bonnie recorded with an intern.  That could be uploaded to this Wiki, or it could also be put with the other exi

[2022-10-05 19:50] ExperimentsInHonesty commented on #160
@sharongupta1 I have updated the document with the answers.  Make sure to login to internship@hackforla.org email account to fill out the form.

[2022-10-06 16:13] christine-el commented on #291
@bradyse Yes, this all looks good!  I think the only person who could figure out the goal or metrics would be Bonnie at this point, so I'm not sure it would be worth it for another person to pick it up in terms of last year.  I don't think there is any documentation that could help someone delineate these metrics--they would need to talk to Bonnie.

[2022-10-06 16:51] ExperimentsInHonesty commented on #313
@bradyse didn't I already review this.  And I thought the plan was to have Linda create an issue from it.  If I am confusing it with something else, please let me know.

[2022-10-06 16:58] bradyse commented on #313
@ExperimentsInHonesty Yes, you did review this, and we then assigned the other issue to Linda. The next item in the action item is product sign-off. If you want to sign-off on this issue template, then please do so, since the template issue is already updated in the issue template repo.

[2022-10-06 17:00] ExperimentsInHonesty commented on #313
Draft of Research Plan template issue

---
name: Research: Research Plan
about: The start of a new research plan
title: TWE: Create Research Plan for RP[###]
labels: 'feature: board / google drive / tools', 'feature: missing', 'size: 1pt', 'role: UI/UX research', 'feature: research', 'feature: research plan', 'milestone: missing'
assignees:
---
### Dependencies
- [ ] [Replace this with Roadmap iss

[2022-10-06 17:12] ExperimentsInHonesty commented on #313
We have updated the template with a new versions.  The only changes made were formatting.

[2022-10-06 17:13] #313 closed

[2022-10-06 17:27] ExperimentsInHonesty commented on #271
I have uploaded the recording to the research plan folder.  Once the recording has been used, it must be moved to where we are keeping recordings that have PII in them.

[2022-10-06 18:18] priyatalwar commented on #317
All accounts have been made except youtube and tiktok.

[2022-10-11 21:30] adarosh commented on #314
Issue update:

Progress: Meeting with Snigdha was moved to 10/7 at 1:00pm. Discussed the goal of the guide and provided her with identified resources, including BoP's How To: Synthesize Research to Generate Insights (link in comment above) and IS21 Research Slide Deck. Snigdha will begin to outline the guide based on her IS21 analyses and reach out to me with identified sections that I can help fi

[2022-10-11 22:02] alaishasayed commented on #283
Reviewed issue with Sara on 10/6

[2022-10-11 22:33] pandanista commented on #296
Provide Update
1. Progress: Went through the folder and previous related issues, and updated the RP7 as much as possible.
2. Blockers: Not sufficient RP7 info has been retrieved.
3. Availability: 6 hours.
4. ETA: Will find out after reviewing with Sara to get some more clarity.
5. Pictures (if necessary):

[2022-10-11 22:41] adarosh commented on #314
Issue update: Discussed guide in TWE UXR Team Meeting on 10/11. Team consensus was that guide should focus on Thematic Analysis from IS21.

[2022-10-12 02:28] sharongupta1 commented on #160
Submitted the google form with the internship@hackforla.org account

[2022-10-12 04:15] pandanista commented on #296
@bradyse: [RP007 wiki page](https://github.com/hackforla/internship/wiki/Research-Plan-7:-Onboarding-TWE-Team-volunteers) has been updated. Please review and let me now if you have any questions. Thank you!

I added two more labels (see below) besides the label [feature: Volunteer Onboarding](https://github.com/hackforla/internship/labels/feature%3A%20volunteer%20onboarding) in all issues section:

[2022-10-12 17:11] ExperimentsInHonesty commented on #318
@bradyse are you ready for us to look at this?  If yes, please add the `ready for milestone` label

[2022-10-12 17:16] ExperimentsInHonesty commented on #171
@sharongupta1 will revise the overview to explain what the issue is about and add appropriate resources (parts of figma)

[2022-10-12 17:26] priyatalwar commented on #43
Posted here https://github.com/hackforla/UI-UX/projects/3#card-67378507

[2022-10-12 17:29] #102 closed

[2022-10-12 17:33] bradyse commented on #287
@sharongupta1 Items above were completed. It's ready for product sign-off now.

[2022-10-12 17:41] bradyse commented on #291
@sharongupta1 This wiki page is ready for product sign-off.

[RP17 Wiki Page](https://github.com/hackforla/internship/wiki/Research-Plan-17:-Productivity-Dashboard-Interviews)

[2022-10-12 18:01] bradyse commented on #296
@pandanista Nice job on your first issue! I will have the PMs review. @sharongupta1

[2022-10-12 18:32] bradyse commented on #315
## PM and UX Lead Agenda 2022-10-12

### Prework
- [ ] Check for new questions https://github.com/hackforla/internship/issues/59
- [ ] Review the issue you are assigned to and see if it needs an update: [How to do updates ](https://github.com/hackforla/internship/wiki/How-to-give-updates-on-your-issues)

### Roll Call:

- [ ] Bonnie
- [ ] Priyanka
- [ ] Sara
- [ ] Sharon

### Recurring Action Item

[2022-10-12 21:53] bradyse commented on #271
I moved the recording to the "My Drive" in the internship account. and updated the wiki page to say that this single recording will be used to write the research plan.

[RP17 Wiki Page](https://github.com/hackforla/internship/wiki/Research-Plan-17:-Productivity-Dashboard-Interviews)
[Folder that has PII](https://drive.google.com/drive/folders/1QqvHWGfyxrf-8hUBdhv5Vf1l18iaYvS2?usp=sharing)

[2022-10-12 22:25] bradyse commented on #59
**From UXR Team**
Q: Can we work with non-TWE HfLA volunteers to create a guide for [card sorting](https://github.com/hackforla/ui-ux/issues/58) (from UI/UX) and one for [thematic analysis](https://github.com/hackforla/internship/issues/314) (TWE)?
A:

[2022-10-12 22:30] bradyse commented on #153
#### Onboard Cristina - UX Research
- [ ] Slack channel membership
  - [ ] ```#internship```
  - [ ] ```#interns``` (if necessary)
     - [ ] not needed
- [ ] Add to Google calendar invites
   - [ ] Tuesday BA meeting (if necessary)
      - [ ] not needed
   - [ ] Tuesday UX Research meeting (if necessary)
      - [ ] not needed
   - [ ] Thursday All-team meeting
- [ ] Google Drive
   - [ ] Add to

[2022-10-12 22:39] bradyse commented on #62
## 2022-10-12 Research Meeting Agenda

### Prework
- [ ] If you have questions, add them to a comment in this issue: https://github.com/hackforla/internship/issues/59
- [ ]  Review your issues and update issues with the [update template](https://github.com/hackforla/internship/wiki/How-to-give-updates-on-your-issues).

### Recurring Action Items
- [ ]  Accountability and Support Check.
  - [ ]  Re

[2022-10-12 23:05] bradyse commented on #153
#### Offboard Shima - UX Research
- [ ] Remove from Google calendar invite
   - [ ] Monday PM meeting
   - [ ] Tuesday BA meeting
   - [ ] Tuesday UX Research meeting
   - [ ] Wednesday PM meeting (ad-hoc)
   - [ ] Thursday All-team meeting
 - [ ] 1password setup
    - [ ] remove from team vaults
       - [ ] Internship program
       - [ ] Internship - UI/UX
- [ ] Google Drive
   - [ ] demote to

[2022-10-12 23:37] bradyse commented on #287
Action items need to be customized according to what needs to be done next. For example, we don't need to identify recruitment channels because we already know who our participants are. Answer the question: "What would be needed to support this research?" and then strikethrough whatever is unneeded (this needs to be changed in the template; add instructions for how to do strikethrough).

[2022-10-13 01:26] alaishasayed commented on #283
1. Progress: Project is complete.
2. Blockers: An issue was incorrectly labeled, https://github.com/hackforla/internship/issues/242 I removed the label.
3. Availability: I think the issue is complete
4. ETA: Today.
5. Pictures (if necessary): n/a

[2022-10-13 16:51] alaishasayed commented on #59
Q: If an issue is incorrectly labeled as a different issue, do we need to create a new label for the issue?

[2022-10-13 17:09] sharongupta1 commented on #101
## All Team Meeting Agenda [2022-10-13]

### Prework
- [ ] Check for new questions https://github.com/hackforla/internship/issues/59
- [ ] Review the issue you are assigned to and see if it needs an update: [How to do updates ](https://github.com/hackforla/internship/wiki/How-to-give-updates-on-your-issues)

### Agenda for PMs only

### FYI

### Roll Call:

- [ ] Bonnie
- [ ] Rabia
- [ ] Priyanka

[2022-10-13 17:35] bradyse commented on #306
### Setup for a Peer Review
- [ ] Check if the Issue Overview clearly defines why this document needs to be created or updated. If it is not clear, add that information to the overview in 1-2 sentences.
- [ ] In the Resources, clearly identify the link to the document being created or updated that requires a peer review (use subheadings if needed).
- [ ] Copy and paste the Action Items for Peer Re

[2022-10-13 17:36] alaishasayed commented on #283
Progress: Project is complete. Parent Consent Form was incorrectly labeled to RP10 but is tangentially related to RP10, so I included the link for the consent form in the RP10 Wiki and removed the RP10 label on the Consent Form issue. (Reviewed with Bonnie at All Team Meeting)
Blockers: n/a
Availability: Issue complete
ETA: Issue complete
Pictures (if necessary): n/a
@bradyse

[2022-10-13 17:48] ExperimentsInHonesty commented on #153
#### Onboard Ayah
- [ ] Slack channel membership
  - [ ] ```#internship```
  - [ ] ```#interns``` (if necessary)
     - [ ] not needed
- [ ] Add to Google calendar invites
   - [ ] Tuesday BA meeting (if necessary)
      - [ ] not needed
   - [ ] Tuesday UX Research meeting (if necessary)
      - [ ] not needed
   - [ ] Thursday All-team meeting
- [ ] Google Drive
   - [ ] Add to drive as Content

[2022-10-15 21:28] bradyse commented on #62
## 2022-10-18 Research Meeting Agenda

### Prework
- [ ] If you have questions, add them to a comment in this issue: https://github.com/hackforla/internship/issues/59
- [ ]  Review your issues and update issues with the [update template](https://github.com/hackforla/internship/wiki/How-to-give-updates-on-your-issues).

### Recurring Action Items
- [ ]  Accountability and Support Check.
  - [ ]  Re

[2022-10-15 23:53] bradyse commented on #306
@Nat-nn

I have added the actions items for a peer review. Now we need to assign a peer reviewer to your issue. Perhaps @adarosh or @lkawentel would be interested in conducting this peer review (assuming that they don't currently have an issue to work on). If one of them cannot do it, then I would reach out to some of the other team members.

[2022-10-16 00:01] bradyse commented on #315
## PM and UX Lead Agenda 2022-10-19

### Prework
- [ ] Check for new questions https://github.com/hackforla/internship/issues/59
- [ ] Review the issue you are assigned to and see if it needs an update: [How to do updates ](https://github.com/hackforla/internship/wiki/How-to-give-updates-on-your-issues)

### Roll Call:

- [ ] Bonnie
- [ ] Priyanka
- [ ] Sara
- [ ] Sharon

### Recurring Action Item

[2022-10-16 02:43] bradyse commented on #321
@priyatalwar @sharongupta1 @ExperimentsInHonesty

This issue template draft is complete and should be ready to be added to the templates on the repo. See [comment with draft](https://github.com/hackforla/internship/issues/321#issuecomment-1259814771).

[2022-10-16 03:27] bradyse commented on #295
Product needs to review this wiki page and also determine whether the related issue below is necessary.
- https://github.com/hackforla/internship/issues/189

[2022-10-16 03:34] bradyse opened #323 "TWE: Create Template Issue: Research: Create Roadmap Details"
### Overview
We need to create a template issue for `Research: Create Roadmap Details` so that we have consistent, transparent, defined and self-supporting structure for people creating them.

### Action Items
- [x] Add to the Project Board
- [x] Add the milestone: Project Management
- [x] Add a feature label specific to what the template is related to, if available.  If not clear what you should

[2022-10-16 03:40] bradyse commented on #323
Draft of `Research: Create Roadmap Details` template issue
---
name: TWE: Create Template Issue: Research: Create Roadmap Details
about:
title: TWE: Research: Create Roadmap Details
labels: 'feature: board / google drive / tools', 'feature: missing', 'size: missing', 'role: missing', 'milestone: missing'
assignees:
---
# Instructions for creating this issue
The person who creates this issue should

[2022-10-16 04:22] bradyse commented on #323
This draft of an [issue template](https://github.com/hackforla/internship/issues/323#issuecomment-1279883725) has been created. The plan is to use this template for ALL research plans across all roadmaps.

[2022-10-18 22:52] bradyse commented on #320
We updated the content of the issue and unassigned Linda so that she can work on an analysis demo for rapid research to be given at our next UXR team meeting.

[2022-10-18 23:31] pandanista commented on #276
Hi @ExperimentsInHonesty, @bradyse and I have some questions regarding whether RP018 should be tagged as part of intern research roadmap or mentor research roadmap at weekly UXR meeting on 10/18. I am working on issue [#286](https://github.com/hackforla/internship/issues/286), and would like to get some clarity on that. Thank you!

[2022-10-19 02:21] pandanista commented on #59
Q: Should RP018 be tagged as part of intern research roadmap or mentor research roadmap? This question remains from our weekly UXR meeting on 10/18. I am working on [#286] (https://github.com/hackforla/internship/issues/286), and would like to get some clarity on that. Thank you!

[2022-10-20 00:14] ExperimentsInHonesty commented on #323
# Instructions for creating this issue
The person who creates this issue should use these links to add links to the resources section and customize this issue
- [ ] Go to the [Research Output Overview](https://github.com/hackforla/internship/wiki/Research-Output-Overview)
  - [ ] Find the relevant overview type wiki page.
  - [ ] Change `[Wiki [TYPE] Research Overview Page]` in the Resources below

[2022-10-20 15:44] bradyse opened #324 "TWE: RP001: Interview Recordings: Transcribe"
### Dependency: #335

### Overview
We need to transcribe the interview recordings from IS21's Exit Interview to determine if the insights generated last year are consistent with analysis using a new method (directed content analysis). Because last year's analysis did not involve transcription, we need to transcribe the data before it can be analyzed using the new method.

### Action Items
- [x] Lo

[2022-10-20 15:54] bradyse commented on #101
## All Team Meeting Agenda 2022-10-20

### Prework
- [ ] Check for new questions https://github.com/hackforla/internship/issues/59
- [ ] Review the issue you are assigned to and see if it needs an update: [How to do updates ](https://github.com/hackforla/internship/wiki/How-to-give-updates-on-your-issues)

### Agenda for PMs only

### FYI

### Roll Call:

- [ ] Bonnie
- [ ] Rabia
- [ ] Priyanka
-

[2022-10-20 17:30] Nat-nn commented on #306
Progress: Updated terms and links, moved project to 'peer review needed' status
Blockers: Wailing for "Peer Review"
Availability: 1-3 hours per week
ETA: After next UX team meeting
Pictures or links:
https://docs.google.com/spreadsheets/d/10omnFb1L8lM4n4Rz610UzI1E51ZMRG6tuVnphrYnay0/edit#gid=0

[2022-10-20 17:35] ExperimentsInHonesty commented on #283
Adding the following to the dependencies and unchecking the related boxes.

In order for the wiki page to be complete, it still needs the following
- Intern roadmap to be completed
- research plan to be completed
- add info to wiki sections
   - Question
   - Purpose
   - Methods

[2022-10-21 04:41] priyatalwar commented on #316
Mail has been sent to the non-interns from UCLA and Tung is our only intern for fall. All formalities have been completed for Tung to start in the Fall so closing this issue.

[2022-10-21 04:41] #316 closed

[2022-10-21 21:08] bradyse commented on #153
#### Onboard Jessie Liu - UXR
- [ ] Slack channel membership
  - [ ] ```#internship```
  - [ ] ```#interns``` (if necessary)
     - [ ] not needed
- [ ] Add to Google calendar invites
   - [ ] Tuesday BA meeting (if necessary)
      - [ ] not needed
   - [ ] Tuesday UX Research meeting (if necessary)
      - [ ] not needed
   - [ ] Thursday All-team meeting
- [ ] Google Drive
   - [ ] Add to drive

[2022-10-21 21:08] bradyse commented on #153
#### Onboard Anuraj - UXR
- [ ] Slack channel membership
  - [ ] ```#internship```
  - [ ] ```#interns``` (if necessary)
     - [ ] not needed
- [ ] Add to Google calendar invites
   - [ ] Tuesday BA meeting (if necessary)
      - [ ] not needed
   - [ ] Tuesday UX Research meeting (if necessary)
      - [ ] not needed
   - [ ] Thursday All-team meeting
- [ ] Google Drive
   - [ ] Add to drive as

[2022-10-21 21:39] bradyse commented on #286
### Specific Items for this wiki page update
- [ ] Wiki page for RP018 reflects correct Mentor Roadmap wiki page and Google Doc
- [ ] RP018 reference is removed from Intern Research Roadmap Google Doc.
- [ ] A short link is created in the Google Drive `2. Intern` folder that links to the folder that "lives" (is actually located in) the Mentor Research Google folder (I checked and it seems to be lo

[2022-10-21 21:51] bradyse commented on #323
This issue is done and can be closed.

[2022-10-22 14:04] bradyse commented on #315
## PM and UX Lead Agenda 2022-10-26

### Prework
- [ ] Check for new questions https://github.com/hackforla/internship/issues/59
- [ ] Review the issue you are assigned to and see if it needs an update: [How to do updates ](https://github.com/hackforla/internship/wiki/How-to-give-updates-on-your-issues)

### Roll Call:

- [ ] Bonnie
- [ ] Priyanka
- [ ] Sara
- [ ] Sharon

### Recurring Action Item

[2022-10-22 14:13] bradyse commented on #59
Q: For issues labeled as `role: UX research lead`, can the UX Lead close the issue if one of the last steps (but not THE last step) is product sign-off? Or should the role be changed to Product and the issue put in the prioritized backlog? See reference issue below:
- #323

[2022-10-22 14:28] bradyse opened #325 "TWE: Update Google Drive Links to Wiki Pages"
### Overview
We need to update the individual Research Plan Wiki Pages with the appropriate Google Drive links, because we changed the RP Wiki Page Template. We need to do this so that UX researchers do not have to dig around in the Google Drive to find what they need.

### Action Items
- [x] Look at the Resource called `Example Wiki Page with Google Drive links` to see how the updated template no

[2022-10-23 20:42] bradyse opened #326 "[draft] TWE: Make Issues to Update Research Roadmap Details of Research Plans"
# Instructions for creating this issue
The person who creates this issue should use these links to add links to the resources section and customize this issue
- [ ] Find WIKI page for this issue by looking at role pages [Internship Wiki, Join the team page](https://github.com/hackforla/internship/wiki/Joining-the-Team) - then add the appropriate link to the resources section
- [ ] Find document te

[2022-10-23 20:54] bradyse opened #327 "TWE: Create Research Roadmap: Other"
### Overview
We need to create a research roadmap document for all research plans that encompass "Other" research (i.e., research that is not directly tied to one audience or participant type). We need to do this so that future researchers on this project can easily pick up where former researchers left off.

### Action Items
- [x] Add milestone: 06.01.00 Research Roadmap Create Wiki Page
- [x] Cr

[2022-10-23 21:19] bradyse opened #328 "TWE: Create Research Roadmap Other HfLA Team"
### Overview
We need to create a research roadmap document for all research plans that encompass Other HfLA Team research. We need to do this so that future researchers on this project can easily pick up where former researchers left off.

### Action Items
- [x] Under "Projects," add to the Project Management Board
- [x] Add milestone: 06.01.00 Research Roadmap Create Wiki Page
- [x] Create a new

[2022-10-24 13:01] Aparna1Gopal commented on #300
Mirroring details from RP 6

[2022-10-24 13:32] Aparna1Gopal commented on #300
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be completed?"
5. Pictures (if necessary): "Add any pictures that will help illustrate what you are working on."

[2022-10-25 00:30] bradyse opened #329 "[draft] TWE: Create Template Issue: [name of template]"
### Overview
We need to create a template issue for [replace with name of template issue] so that we have consistent, transparent, defined and self-supporting structure for people creating them.

### Action Items
- [ ] Add to the Project Board
- [ ] Add the milestone: Project Management
- [ ] Add a feature label specific to what the template is related to, if available.  If not clear what you shou

[2022-10-25 00:55] bradyse commented on #329
Draft of `TWE: Create Slide Deck for Presentation of Findings` template issue
---
name: TWE: Create Template Issue: Create Slide Deck for Presentation of Findings
about:
title: TWE: RP[###]: Create Slide Deck for Presentation of Findings
labels: 'feature: board / google drive / tools', 'feature: missing', 'size: missing', 'role: missing', 'milestone: missing'
assignees:
---
# Instructions for crea

[2022-10-25 01:51] Aparna1Gopal commented on #300
Based on meeting with UXR Lead, Sara B on October 24,2022 updates are as follows:

- @Aparna1Gopal has been assigned to a different TWE issue. Hence unassigned from this issue.

- The Research Roadmap needs to be created to catalogue the Research Plan for this issue.

- Next steps to determine whether the other related issues (related to RP4: #32 #108 #31 ) need to be documented in a different way

[2022-10-25 18:51] sophie-delsaux commented on #306
Progress: Reviewed the issue and draft and started to give feedback
Blockers: I have overall feedback but the format only allows me to provide detailed feedback.
Not sure if the "who benefits" column is really for who would benefit from the glossary or based on where the terms appear.
Availability: 2h
ETA: this week
Pictures or link:
https://docs.google.com/spreadsheets/d/10omnFb1L8lM4n4Rz610UzI1E

[2022-10-25 22:23] bradyse commented on #306
@sophie-delsaux

Thanks for your work on this. The "who benefits" column is who would benefit from knowing the term. For example, the "TWE" acronym would benefit our team but "content analysis" would benefit anyone within the organization of HfLA.

If you have any general comments, you can add them in the first row of the next column over.

[2022-10-26 17:02] sharongupta1 commented on #49
[DATE] Agenda and Notes

### Prework
- [ ] Issue for audit #93
- [ ] Check to see if there are questions, and if yes, add it to agenda #59
- [ ] Check to make sure any issues from this week made [The 2022 Internship Program Process Overview](https://github.com/hackforla/internship/wiki/The-2022-Internship-Program-Process-Overview) on the wiki

### Roll Call
- [ ] Bonnie
- [ ] Rabia
- [ ] Priyanka

[2022-10-26 17:26] ExperimentsInHonesty commented on #43
Revised several parts of the text to make it more consise

<img width="482" alt="Finalized Logo" src="https://user-images.githubusercontent.com/29762834/165822892-edadce5d-9c69-42e1-80d3-ec18e7b37fa4.png">

**Project Name**: HfLA Internship Project

**About the Project**: This team is in its second year of successfully delivering tech internships to High School and Colleges.  We are about to build

[2022-10-27 00:26] bradyse commented on #189
This issue has been updated and replaced with
- #295

[2022-10-27 00:26] #189 closed

[2022-10-27 00:42] bradyse commented on #321
Sara and Bonnie will test this before it's signed off.

[2022-10-27 16:17] alaishasayed commented on #302
1. Progress:  Interview questions and list of potential participants have been created.  A timeline for participant recruitment, interviews, and data synthesis needs to be established. Participants have not yet been recruited.
2. Blockers: Participants have not yet been recruited, there is no research complete.
3. Availability: A few hours.
4. ETA: Next week.
5. Pictures (if necessary): (n/a)
@bra

[2022-10-27 16:37] sharongupta1 commented on #101
## All Team Meeting Agenda [2022-10-27]

### Prework
- [ ] Check for new questions https://github.com/hackforla/internship/issues/59
- [ ] Review the issue you are assigned to and see if it needs an update: [How to do updates ](https://github.com/hackforla/internship/wiki/How-to-give-updates-on-your-issues)

### Agenda for PMs only

### FYI

### Roll Call:

- [ ] Bonnie
- [ ] Rabia
- [ ] Priyanka

[2022-10-27 16:41] bradyse commented on #153
#### Onboard Brian - UX Research
- [ ] Slack channel membership
  - [ ] ```#internship```
  - [ ] ```#interns``` (if necessary)
     - [ ] not needed
- [ ] Add to Google calendar invites
   - [ ] Tuesday BA meeting (if necessary)
      - [ ] not needed
   - [ ] Tuesday UX Research meeting (if necessary)
      - [ ] not needed
   - [ ] Thursday All-team meeting
- [ ] Google Drive
   - [ ] Add to dr

[2022-10-27 16:49] bradyse commented on #153
#### Onboard Kathrin - UX Research
- [ ] Slack channel membership
  - [ ] ```#internship```
  - [ ] ```#interns``` (if necessary)
     - [ ] not needed
- [ ] Add to Google calendar invites
   - [ ] Tuesday BA meeting (if necessary)
      - [ ] not needed
   - [ ] Tuesday UX Research meeting (if necessary)
      - [ ] not needed
   - [ ] Thursday All-team meeting
- [ ] Google Drive
   - [ ] Add to

[2022-10-27 16:50] #160 closed

[2022-10-31 16:30] priyatalwar commented on #49
2022-10-31 Agenda and Notes

### Prework
- [ ] Issue for audit #93
- [ ] Check to see if there are questions, and if yes, add it to agenda #59
- [ ] Check to make sure any issues from this week made [The 2022 Internship Program Process Overview](https://github.com/hackforla/internship/wiki/The-2022-Internship-Program-Process-Overview) on the wiki

### Roll Call
- [ ] Bonnie
- [ ] Priyanka
- [ ] Sh

[2022-10-31 17:33] priyatalwar commented on #317
FB url https://www.facebook.com/TechWorkEx
Made Bonnie admin

[2022-11-02 22:25] bradyse commented on #315
## PM and UX Lead Agenda 2022-11-02

### Prework
- [ ] Check for new questions https://github.com/hackforla/internship/issues/59
- [ ] Review the issue you are assigned to and see if it needs an update: [How to do updates ](https://github.com/hackforla/internship/wiki/How-to-give-updates-on-your-issues)

### Roll Call:

- [ ] Bonnie
- [ ] Priyanka
- [ ] Sara
- [ ] Sharon

### Recurring Action Item

[2022-11-02 22:54] bradyse commented on #323
Updated [Create a template issue](https://github.com/hackforla/internship/issues/new?assignees=&labels=feature%3A+board+%2F+google+drive+%2F+tools%2C+feature%3A+missing%2C+milestone%3A+missing%2C+role%3A+missing%2C+size%3A+missing&template=create-a-template-issue.md&title=TWE%3A+Create+Template+Issue%3A+%5Bname+of+template%5D) by adding the "Get started" link to the action items.

[2022-11-02 22:54] #323 closed

[2022-11-03 18:05] pandanista commented on #321
Draft of Template Issue: Research: Interviews: Make Issues
---
name: TWE: Create Template Issue: RP[###] [TYPE OF PARTICIPANT] [TYPE OF INTERVIEW (E.G., INTAKE OR EXIT)] Interviews: Make Issues and Track Completion
about: The parent issue that tracks issues for all interviews of a specific research plan
title: TWE: Research: Interviews: Make Issues
labels: 'feature: board / google drive / tools',

[2022-11-07 07:45] Aparna1Gopal commented on #329
Draft of `TWE: Create Slide Deck for Presentation of Findings` template issue
---
name: TWE: Create Template Issue: Create Slide Deck for Presentation of Findings
about:
title: TWE: RP[###]: Create Slide Deck for Presentation of Findings
labels: 'feature: board / google drive / tools', 'feature: missing', 'size: missing', 'role: missing', 'milestone: missing'
assignees:
---
# Instructions for crea

[2022-11-07 07:52] Aparna1Gopal commented on #329
**Notes: To discuss during with one-on-one with UXR Lead**

- Discuss the correct labels to give this issue: 'feature: board / google drive / tools', 'feature: missing', 'size: missing', 'role: missing', 'milestone: missing'
'feature: research', 'feature: missing', 'size: missing', 'role: missing', 'milestone: missing'

[2022-11-07 07:54] Aparna1Gopal commented on #329
[feature: board / google drive / tools]
[feature: presentation templates]
[feature: research]
All issues involving research
[role: UX research lead]
[size: 1pt]

[2022-11-07 18:54] bradyse commented on #315
## PM and UX Lead Agenda 2022-11-09

### Prework
- [ ] Check for new questions https://github.com/hackforla/internship/issues/59
- [ ] Review the issue you are assigned to and see if it needs an update: [How to do updates ](https://github.com/hackforla/internship/wiki/How-to-give-updates-on-your-issues)

### Roll Call:

- [ ] Bonnie
- [ ] Priyanka
- [ ] Sara
- [ ] Sharon

### Recurring Action Item

[2022-11-08 01:06] bradyse commented on #62
## 2022-11-07 Research Meeting Agenda

### Prework
- [ ] If you have questions, add them to a comment in this issue: https://github.com/hackforla/internship/issues/59
- [ ]  Review your issues and update issues with the [update template](https://github.com/hackforla/internship/wiki/How-to-give-updates-on-your-issues).

### Recurring Action Items
- [ ]  Accountability and Support Check.
  - [ ]  Re

[2022-11-08 03:34] Aparna1Gopal commented on #329
1. Progress: Met 1-1 with UXR Lead Sara B on November 07, 2022 (5PM PST-6:30PM PST)
2. Blockers: Discussed items on this list
https://github.com/hackforla/internship/issues/329#issuecomment-1305209593
5. Availability: 2-3 hours
6. ETA: As per feedback from UXR Lead, will re-work on the sections and then message UXR Lead to confirm completion lunch that they are able to treat this issue as per requ

[2022-11-08 22:46] adarosh commented on #314
Issue update:

Progress: Snigdha drafted document on 10/23. Have adjusted formatting throughout, made minor edits, added example images to draft.
Blockers: Document is ready for UXR Lead review and peer review
Availability: N/A
ETA: N/A
Pictures (if necessary): N/A

[2022-11-08 23:02] bradyse commented on #153
#### Onboard Dewey - UXR
- [ ] Slack channel membership
  - [ ] ```#internship```
  - [ ] ```#interns``` (if necessary)
     - [ ] not needed
- [ ] Add to Google calendar invites
   - [ ] Tuesday BA meeting (if necessary)
      - [ ] not needed
   - [ ] Tuesday UX Research meeting (if necessary)
      - [ ] not needed
   - [ ] Thursday All-team meeting
- [ ] Google Drive
   - [ ] Add to drive as C

[2022-11-08 23:42] pandanista commented on #324
The following process is only applicable when the recordings are available. Since we have conducted the interviews via Zoom, the video recordings have been saved and are accessible in the Internship folder.

1. Locate the interview video recording (I.e. mp4 file) in the Google drive
2. Download the recording to a location you can easily upload to Otter.ai in a minute.
3. Go to Otter.ai, and log on