[2021-06-14 17:46] Zytko opened #1 "Wiki: Initial Setup"
### Overview
We want to have a central location for interns and the internship team to store and communicate information so that we can be as effective as possible.

### Action Items

- [x] Clone wiki from template
- [x] Copy next steps from AMA into Our Process section
- [x] Formatting/cleanup of Our Process section
- [x] Review Homepage Question and write draft content in the comments below
   -

[2021-06-14 17:49] Zytko commented on #1
**_DRAFT NOT YET FILLED OUT_**. -- see the [Civic Tech Index wiki](https://github.com/civictechindex/CTI-website-frontend/wiki) for a working example.

# Welcome to the [REPLACE WITH YOUR WIKI NAME] Wiki!

## Project Definition

[ADD DEFINITION]

## Introduction To The Project

### What is [REPLACE WITH YOUR WIKI NAME]?

[ADD SHORT DESCRIPTION]

### Why do it?
[ADD SHORT WHY]

### Hasn't it been d

[2021-06-14 18:00] Zytko opened #2 "Project Board: Initial Setup"
### Overview
We want to set up a project board so that we can better organize our work and have visibility of the activities of all team members.

### Action Items

- [x] Add column descriptions
- [x] Identify any changes to columns including additions/deletions

### Resources/Instructions
[Project Board](https://github.com/hackforla/internship/projects/1)

[2021-06-14 18:17] Zytko opened #3 "Comm review: Interns/organization"
### Overview
We want to review our communication with interns so that we can learn how many interns we have this summer and craft an appropriate strategy.

### Action Items
- [x] Review previous communication to all interns
   - [x] Review emails
   - [x] Google form review
   - [x] Record texts from interns
- [x] Update Google Sheets with information on their dates, hours, so on
- [x] Develop a c

[2021-06-14 18:53] Zytko opened #4 "Image Storage"
### Overview
We need to be able to store images for reuse on the wiki

### Action Items
Add each image below and a comment with a description of what it is

[2021-06-14 18:55] Zytko commented on #4
This is a screenshot of what interns from Pete asking to fill out form of availability/interest May 8

<img width="868" alt="Screen Shot 2021-06-14 at 11 51 28" src="https://user-images.githubusercontent.com/85891884/121944157-3144f500-cd07-11eb-8cac-e8a6bd5de8f8.png">

[2021-06-15 15:01] Zytko opened #5 "Messaging/Communication Guidelines doc"
### Overview
We want a communications guideline doc so that our internal and outbound communications have a standard aesthetic

### Action Items
- [x] Create the draft of Communications Guide
- [x] Create Templates
   - [x] Google Docs
   - [x] Google Sheets
   - [x] Google Forms
- [ ] Review all the assets to determine if they are setup properly and its the design we want to go forward with
- [ ]

[2021-06-15 15:29] Zytko opened #6 "Complete AMA Draft"
### Overview
We want to have a complete AMA so that we can have a good FAQ for interns to answer any questions they have.

### Action Items

- [x] Bios from Sophia and Olivia
- [x] Keeping the next steps updated

### Resources/Instructions
[AMA](https://docs.google.com/document/d/138TuoRoHN9S3IhbklFjge9QO4hBV2-eKGR0yR7CttzY/edit)

[2021-06-15 15:42] Zytko opened #7 "Identify Speaking Opportunities at Brentwood"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps c

[2021-06-16 17:56] Zytko opened #8 "Send Intern Status to BWS"
### Dependency
- [x] End of internship IS21
- [ ] communications Guide #5

### Overview
We want to send the Status of our Brentwood Interns to BWS to maintain our relationship with them and keep a steady supply of interns for following years.

### Action Items

- [x] Aggregate status in google sheets
- [x] Send to BWS a final count

### Resources/Instructions
[Email](https://mail.google.com/mail/u

[2021-06-16 17:58] Zytko opened #9 "Agenda for Internship Stand Up"
### Overview
This issue tracks the agenda for the product management community of practice and weekly roll call for projects.

Please check in on the [Roll Call Spreadsheet](https://docs.google.com/spreadsheets/d/11KC6P07dr_DEIq5lGZ_vqyakq-rfOEBSTqqduFLiVbs/edit#gid=0)

### Weekly Agenda
[06/16](https://github.com/hackforla/internship/issues/9#issuecomment-862590492)
[06/17](https://github.com/hac

[2021-06-16 17:58] Zytko commented on #9
### Overview
Agenda for 6/17/2021

### Action Items

[2021-06-16 18:41] ExperimentsInHonesty commented on #9
Agenda for 6/17/2021
- Confirm that I have a 1-1 setup with each intern
- Add a check to the roll call spreadsheet
- Ask for:
   - Progress
   - Blockers
   - Availability
   - ETA

[2021-06-16 23:25] Zytko opened #10 "Bonnie/Ben Meetings"
### Overview
June 17, 2021

### Action Items

- [x] Figure out which decks should be used when (AMA and Onboarding)

[2021-06-17 14:57] Zytko opened #11 "Internship Onboarding Deck"
### Overview
We want to create an onboarding deck to automate the intern onboarding process.

### Action Items

- [x] Add a slide at the end recapping all expected meetings
- [x] GIF of making membership public

### Resources/Instructions
[Onboarding deck](https://docs.google.com/presentation/d/1w9086NcRYTGQeTjbp6F0F2YDVSSVDkCiPDkCYxuOloE/edit#slide=id.ge0667f7372_1_937)
[GIF app](https://apps.app

[2021-06-17 16:35] Zytko commented on #9
Agenda for 6/18/2021

[2021-06-21 15:03] Zytko commented on #9
Agenda for 6/21/2021

Roll Call
Sakari
Progress:
Blocker:
Michelle
Progress:
Blocker:
ETA:
Mateo
Progress:
Blocker:
ETA:
Sophia
Progress:
Blockers:

[2021-06-21 15:53] Zytko opened #12 "Linkedin Workshop"
### Overview
We want to set up the Linkedin Workshop so that the interns can properly display their experience with us on Linkedin.

### Action Items

- [ ] Find all historical educational materials at HfLA
- [x] Create an outline of what we will cover in the workshops
- [ ] Create deck (copy and edit onboarding deck)
- [x] Aggregate Linkedin profile of people the interns need to reach out to

###

[2021-06-22 15:59] Zytko commented on #9
Agenda for 6/22/2021
Roll Call:
Sakari
- Progress: Finished first and second issue
- Blocker: Figuring out how to do two PR's at the same time
Sophia
- Progress: Began working on a guide
- Blocker: None (Need to meet with Danielle)
Mateo
- Progress: Set up GitHub, completed first issue
- Blocker: Need better understanding of Docker
Michelle---
Progress:---
Blockers:---

[2021-06-23 16:24] Zytko commented on #9
Agenda for 6/22/2021
Roll Call:

Sakari
Progress: Made changes after review, worked on Docker issue, and reviewed 5+ issues
Blocker: Waiting for reviews on code

Sophia
Progress: Finished replicating design for team meeting website
Blocker: None

Mateo
Progress: Completed second issue and pull request and worked on a guide
Blocker: No mentions of secrets or credentials in read me's

Michelle---
Pr

[2021-06-24 16:28] Zytko opened #13 "Intern Linkedin Setup Checklist: Sakari"
### Overview
I want to have a professional presence and have a space to network and connect with others in order to achieve my career goals.

### Action Items
Check off each of the items as you complete it, adding the content of what you wrote under the item.

#### Top

- [x] Name
- [x] Photo
- [x] Title
- [x] Organization
- [x] City
- [x] Email

#### Customize your url
- [x] Make sure you get rid

[2021-06-24 16:44] Zytko commented on #13
### Overview
I want to have a professional presence and have a space to network and connect with others in order to achieve my career goals.

### Action Items

#### Top

- [ ] Name
- [ ] Photo
- [ ] Title
- [ ] Organization
- [ ] City
- [ ] Email

#### About

- [ ] Description
- [ ] List of skills

#### Featured

- [ ] Two articles or portfolios

#### Activity

- [ ]

#### Experience

- [ ]

####

[2021-06-24 17:05] Zytko opened #14 "Linkedin Setup Checklist: Sophia"
### Overview
I want to have a professional presence and have a space to network and connect with others in order to achieve my career goals.

### Action Items
Check off each of the items as you complete it, adding the content of what you wrote under the item.

#### Top

- [x] Name
- [x] Photo
- [x] Title
- [x] Organization
- [x] City
- [x] Email
#### Customize your url
- [x] Make sure you get rid

[2021-06-25 16:14] ExperimentsInHonesty commented on #9
Agenda for 6/25/21

Sakari
Progress: Updated the Docker issue, reviews, got response to pr (medium) will implement changes
Blocker: needed to know how to display projects with status other than active.

Sophia
Progress: submitted good 2nd issue PR waiting for update
Blocker: none

[2021-06-27 21:08] Zytko commented on #12
In order to move this issue to done, some sections of Linkedin still need to be addressed in slides (i.e. advice on the endorsements section)

[2021-06-28 15:20] Zytko opened #15 "Make 1Password Guide"
### Overview
We want to create a guide for setting up 1Password in Google Docs so that we can have a self guided way to log onto 1Password and prevent somebody else having to do the onboarding.

### Action Items

- [ ] Add information from the deck into the document
- [ ] Reformat to guide format

### Resources/Instructions
[1Password Setup Deck](https://docs.google.com/presentation/d/18o0OaFwCfe4

[2021-06-28 16:14] Zytko commented on #9
Agenda for 6/28

Sakari
Progress: New issue (standardizing programs page on mobile), couple of reviews, docker issue back in prioritized backlog
Blocker: Typography issue still in discussion

Sophia
Progress: Finished looking for website pictures, finished second issue
Blocker: Need to meet with Danielle to make progress on design system, needs an appropriate sized medium developer issue

Jason
Pr

[2021-06-28 22:21] Zytko opened #16 "Linkedin Setup Checklist: Jason"
### Overview
I want to have a professional presence and have a space to network and connect with others in order to achieve my career goals.

### Action Items

#### Top
- [x] Name
- [x] Photo
- [x] Title
- [x] Organization
- [x] City
- [x] Email

#### Customize your url
- [x] Make sure you get rid of the numbers, generally firstnamelastname, lastname-firstname firstnameMiddleInitialLastname, etc.

[2021-06-29 16:18] Zytko commented on #9
Agenda for 6/29

Sakari
Progress: Fixed typography issue, done with standardized programs page for mobile, did multiple reviews
Blocker: None

Sophia
Progress: Finished two of three bulletins for issue, updated good second issue, reviewed by Ava on good second issue, help Jason set up dev environment
Blocker: Missing one file and it is not clear from the site architecture where it should be

Jason

[2021-06-29 20:58] Zytko commented on #9
Agenda for 6/29

Make sure to reschedule one on one with Sakari

Roll Call:
Sakari
Progress:
Blockers

Sophia
Progress:
Blockers:

Mateo
Progress:
Blockers:

Jason
Progress:
Blockers:

[2021-06-30 15:04] Zytko commented on #12
https://www.linkedin.com/search/results/people/?keywords=hiring%20interns&origin=GLOBAL_SEARCH_HEADER

There is a super secret way of finding jobs and internships on Linkedin.

This method can only be utilized with a strong Linkedin profile.

Must have at least 50 Linkedin connections for an intern and 100 for a full time job.

Do not do more than ten a day.

Don't tell your friends and people wit

[2021-06-30 15:13] Zytko commented on #12
Use the pins to change your top three skill to better suit the job you’re looking for
Ask for endorsements from people you work with, but make sure that you don’t guilt people into giving you endorsements and that you are willing to give one back
Just go to somebody’s profile that you’ve worked with and give them an appropriate endorsement
(For entire deck) First there is a summary page
Then there

[2021-06-30 15:14] Zytko commented on #12
(For entire deck) First there is a summary page
Then put in the details for each bullet (including screenshots)

[2021-06-30 15:19] Zytko commented on #12
Add another section: Connect section

Over 500 connects and nobody can see how many you have
Sending connect requests: Know when to send somebody a message with a connect request and when not to
Examples: Conference/seminar/workshop, school, work on a project together (peer or boss), vendor, authors
Accepting connect requests:

[2021-06-30 15:21] Zytko commented on #12
Instructions for deck:
Fewer words are better
Avoid being judgmental
Focus on being supportive and factual

[2021-06-30 15:22] Zytko commented on #12
Get grading scale into deck

[2021-06-30 15:36] Zytko commented on #12
Restructure about section examples

[2021-06-30 15:38] Zytko commented on #12
All language must omit the person's name entirely and all must be gender neutral

[2021-07-01 16:12] Zytko commented on #9
Agenda for 7/1

Sakari
Progress: Resolved conflict between his and Abel's issue
Blocker: Sick

Sophia
Progress: Out of pull request limbo, fixed third issue
Blockers: Waiting for PR

Jason
Progress: Got Docker to work! Continuing Dev Environment setup
Blockers: None

[2021-07-01 19:04] Zytko commented on #12
Connection requests don't accept from people who are clearly selling, like people talking about their product in their description (Bonnie will get screenshot), and people don't have their picture, people using a personal profile as a company profile, people with no information on their profile. They could be trolls or scammers.

[2021-07-02 16:14] ExperimentsInHonesty commented on #9
Agenda for 7/2/2021

Roll Call:

Sakari
Progress: Reviews and LinkedIn Profile
Blocker: need feedback on potential solution for issue

Jason
Progress: will finish setting up dev environment today
Blockers: busy

[2021-07-05 16:27] Zak234 commented on #9
Agenda for 7/5/2021

Roll Call:

Sakari
Progress: Helped Jack with on boarding
Blocker: Stuck on code changes (meeting with Josh about it)

Mateo
Progress: Finished second issue, working on medium sized issue
Blockers:

[2021-07-05 20:18] Zytko commented on #16
This is to help you keep track of your progress in our Linkedin Workshops

[2021-07-05 20:18] Zytko opened #17 "Linkedin Setup Checklist: Mateo"
### Overview
I want to have a professional presence and have a space to network and connect with others in order to achieve my career goals.

### Action Items

#### Top

- [x] Name
- [ ] Photo
- [x] Title
- [x] Organization
- [x] City
- [x] Email

#### Customize your url
- [x] Make sure you get rid of the numbers, generally firstnamelastname, lastname-firstname firstnameMiddleInitialLastname, etc.

[2021-07-05 20:19] Zytko commented on #17
This is to help you keep track of your progress in our Linkedin workshops

[2021-07-05 20:32] #2 closed

[2021-07-05 20:32] #3 closed

[2021-07-05 20:32] #11 closed

[2021-07-05 20:32] #6 closed

[2021-07-06 16:42] ExperimentsInHonesty commented on #9
Agenda for 7/6/2021

Roll Call:

Sakari
Progress: Met with Josh to talk though the changes, redid the pull request, linkedin profile, pr reviews
Blocker: cant see the command line code for running their code.

Sophia
Progress: submitted pr, received comments about mobile changes, start a design issue
Blockers:  waiting for help today, posted in engineering rather than hfla-site

Jason
Progress: Go

[2021-07-06 21:05] Zytko commented on #12
Make Table of Contents

[2021-07-06 21:23] Zytko commented on #12
Breadcrumbs

[2021-07-07 16:08] Zytko commented on #9
7/7

Roll Call:

Sakari
Progress: Worked on Docker and Template guide, posted in Slack channel about bug
Blocker: Waiting for PR to be merged

Jason
Progress: None
Blocker: None

Sophia
Progress: Working on design issue
Blocker: Third issue to be merged

Mateo
Progress: Still working on medium sized issue Solved blocker installing Ruby for Jekyll
Blocker: None

[2021-07-08 06:43] JasonUranta commented on #16
Thank you!

On Mon, Jul 5, 2021 at 1:18 PM Zytko ***@***.***> wrote:

[2021-07-08 19:54] Zytko commented on #1
Don't need: Hasn't it been done already, how is it different sections

[2021-07-09 16:10] Zytko commented on #9
7/9

Roll call

Jason
Progress: Met with Glen to discuss first issue, finished first issue, working on Linkedin
Blocker: None

Sophia
Progress: PR approved, to be merged soon, formatting issue solved, workin on Linkedin
Blocker: None

Sakari
Progress: Met with Ava to fix VMS issue, continued to work on Docker guide
Blocker: Had to re-request PR

[2021-07-12 16:18] ExperimentsInHonesty commented on #9
7/13

Sakari
Progress: On a new large issue
Blockers: none

Sophia
Progress: working on second medium for mobile on about
Blockers: waiting for ed to provide text on citizen engagement

Jason
Progress: going to start good second issue
Blockers: none

[2021-07-13 06:15] JasonUranta commented on #9
Jason
Progress: made progress on 2nd issue
Blockers: none

[2021-07-14 16:26] ExperimentsInHonesty commented on #9
7/14/21

Sakari
Progress: Large issue
Blockers: lack of knowledge

Sophia:
Progress:  Finished the Citizen Engagement issue, posted in the hfla-design channel
Blockers: issue being merged

Jason:
Progress:
Blockers: took day off for birthday

Mateo:
Progress: Almost done with med issue
Blocker: need help figuring out why the image wont show on credits

[2021-07-15 16:12] ExperimentsInHonesty commented on #9
7/15

Sakari
Progress: Large Issue
Blockers: not clear how to check back end work to see if its performing as expected

Sophia
Progress: Making changes based off design feedback Citizen Engagement
Blockers: waiting for pr review

Jason
Progress: Ready to submit 2nd PR looking for confirmation of method
Blockers:

[2021-07-16 16:12] ExperimentsInHonesty commented on #9
7/16/21

Sakari
Progress: Met with Ava for test coaching
Blockers: Figuring it out

Sophia
Progress:  Will finish the changes requested and communicate with Danielle
Blockers: no one has reviewed pull request

Mateo
Progress: Finished getting PR reviewed by danielle and got signoff
Blockers: Need a review from other developers.

[2021-07-19 16:11] ExperimentsInHonesty commented on #9
7/19

Sakari
Progress: Large Issue, contributed to making a new issue for the credits file
Blockers:

Jason
Progress: Finished Second Issue
Blockers: needs to respond to the comment and get the merge to be able to move on

Mateo
Progress: Need to fix tab spacing
Blockers: none

[2021-07-20 15:11] sniux opened #18 "Update Onboarding Deck"
### Overview
We need to update the onboarding deck to use the new template so that all our materials have the same look and feel for better user experience.

### Action Items

- [ ] Evaluate feasibility of changing the theme from the current deck to the theme in the Communications Guide
  - [ ] If feasible, copy in theme and clean up slides
  - [ ] If not feasible, create a new deck using the Comm

[2021-07-20 15:33] sniux opened #19 "Add yourself to the Internship Team Roster"
### Overview
As a new team member, I need to fill out my details and competencies so that other team members can have a handy reference.

### Action Items

- [x] Add skills interested in developing
- [x] Add skills
- [x] Availability
- [x] LinkedIn

### Resources/Instructions
[Team Roster](https://docs.google.com/spreadsheets/d/1G6IgfvTdfnJRPbqxPkqfQ3dOSf8nvYqy0JVifhY6QdU/edit#gid=1806338047
)

[2021-07-20 16:05] ExperimentsInHonesty commented on #9
7/20

Sakari
Progress: Large issue
Blockers: Will seek help from meeting tonight

Jason: Self Assigned issue medium
Blocker: availability

[2021-07-21 16:29] ExperimentsInHonesty commented on #9
7/21/21

Sakari:
Progress: Started talking to potential mentors
Blockers: Need to communicate with them about their time zones

Jason:
Progress: Working on medium issue
Blockers: none

Mateo
Progress: Ready to work on Large issue
Blockers: none

[2021-07-22 14:38] ExperimentsInHonesty commented on #5
The first slide doesn't match the rest of the set.

[2021-07-22 15:19] ExperimentsInHonesty commented on #12
- [ ] Next steps, Identify which of the comments above have been addressed in the deck and hide them

[2021-07-22 15:21] ExperimentsInHonesty commented on #9
7/22/21

[2021-07-22 15:21] ExperimentsInHonesty commented on #9
7/23/21

[2021-07-22 15:22] ExperimentsInHonesty commented on #9
7/26/21

Sakari

Jason

Mateo

Sophia
Ask Sophia to fill out th#14

[2021-07-22 15:41] ExperimentsInHonesty commented on #1
Initial Setup is completed

[2021-07-22 15:41] #1 closed

[2021-07-22 15:47] ExperimentsInHonesty opened #22 "Internship availability checkin survey location"
### Overview
We need to find the survey assets so that we can add them to our wiki, to complete the documentation of our process.

### Action Items
- [x] Check to see if all files for the internship were moved to the new shared drive
- [x] See if the spreadsheet for the responses are in the new drive - THEY ARE NOT

### Resources/Instructions
[Survey form](https://docs.google.com/forms/d/1dLnvtsAp

[2021-07-22 15:52] ExperimentsInHonesty opened #23 "Create label and milestone schema"
### Overview
We need to create labels and milestones so that we can see where we are progress wise and prioritize according to the roadmap that we will build

### Action Items

- [ ] Identify all the unique areas for features
   - [x] specify feature labels
      - [x] get sign off
         - [ ] apply feature labels to issues
- [x] Determine what requires a milestone (delivery date) vs a label (o

[2021-07-22 16:00] ExperimentsInHonesty commented on #7
Topics:
- Internship Program Design
- The next step for students who want a career in Software (student to practitioner)
- Basic Skill Development: What is keeping students from being able to contribute (at a high level) to open source software projects

[2021-07-24 01:03] ExperimentsInHonesty opened #24 "LinkedIn Setup Checklist: Jack"
# Schedule Interview with Jack

### Overview
I want to have a professional presence and have a space to network and connect with others in order to achieve my career goals.

### Action Items
Check off each of the items as you complete it, adding the content of what you wrote under the item.

#### Top
- [x] Name
- [x] Photo
- [x] Title
- [x] Organization
- [x] City
- [x] Email

#### Customize your

[2021-07-26 15:08] Zytko opened #25 "LinkedIn Setup Checklist: Bennett"
### Overview
I want to have a professional presence and have a space to network and connect with others in order to achieve my career goals.

### Action Items
Check off each of the items as you complete it, adding the content of what you wrote under the item.

#### Top

- [ ] Name
- [ ] Photo
- [ ] Title
- [ ] Organization
- [ ] City
- [ ] Email

#### About

- [ ] Description
- [ ] List of skills

[2021-07-26 15:22] ExperimentsInHonesty commented on #25
Add these items under the bio in the about
Skills:
Business Plan Development
Competitive Analysis
Market Research
Customer Acquisition and Growth Plan
Investor Pitching
Digital Product Mockup
Educational Tool Development

Skills
TinkerCAD

[2021-07-26 16:40] ExperimentsInHonesty commented on #17
**current**
I am a student-athlete at Princeton University with a passion for complex challenges and problem solving in the realm of computer science and neuroscience - looking for collaborative spaces to thoughtfully attack the intersection of both fields where I can work on a team to have an impact while continuously learning and improving.

**new**
I am a student-athlete at Princeton University

[2021-07-26 16:44] ExperimentsInHonesty commented on #17
Check out Sophia Alice's linkedin profile for her skills listed in the about section: https://www.linkedin.com/in/sophia-alice/

[2021-07-26 16:50] ExperimentsInHonesty commented on #9
7/27/21

Sakari
Ask him for a link to Resume Content Tool spreadsheet (add members of internship team to it, so that they can view)

[2021-07-27 10:23] sniux commented on #7
###  Review Brentwood Schools Website to Identify opportunities and any outside conferences they mention

[Belldegrun Center for Innovative Leadership :
](https://www.bwscampus.com/our-program/belldegrun-center-for-innovative-leadership)
- Different communities within the center eg. Impact challenge, speaker series, young women's conference, symposium to name a few. (Refer to the right sidebar)
-

[2021-07-27 15:07] ExperimentsInHonesty opened #26 "Create one sheet for the internship project"
### Dependency
-  #28
- #201

### Overview
Create the project one sheet so it can be shared with stakeholders and funders.

### Action Items
- [x] Check to confirm project does not already have a one sheet
- [x] Make a copy of the one sheet template and store in the product management google drive/one sheet revisions
- [x] Review one sheet and check off items on the checklist to see what it might

[2021-07-27 15:10] sniux opened #27 "Research Plan for Intern Interviews"
### Dependency
~- [x] Development of one sheet #26 minus logo~

### Overview
We need a research plan to understand our impact on the interns, organization, areas of improvement & intern experience.

### Action Items

- [x] Read the one sheet
- [x] Get a template from Mina
- [x] Write first draft
- [x] Conduct Mateo & Sakari's Interviews

By 8/19/21
- [x] Edit research draft based on comments
- [x]

[2021-07-27 15:19] ExperimentsInHonesty commented on #26
- [ ] Include project logo (top right)
- [ ] Overview
- [ ] History and or last 6 months
- [ ] Partners
- [ ] Roadmap/next 6 months
- [ ] Contact email (footer)
- [ ] Github URL (footer)
- [ ] Link to project page on hackforla.org (footer)
- [ ] Slack channel (footer)
- [ ] Last updated date (footer)
- [ ] Hack for LA logo (bottom right)

[2021-07-27 15:46] ExperimentsInHonesty commented on #26
[meeting_saved_closed_caption.txt](https://github.com/hackforla/internship/files/6886892/meeting_saved_closed_caption.txt)

[2021-07-27 15:57] ExperimentsInHonesty opened #28 "Design System: Create logo"
### Dependency
Develop Personas #30 (can be worked on without this)
~Setup Figma #29~

### Overview
We need a logo so that this project can appear on the website and have a finished one sheet

### Action Items
- [x] Review the one sheet draft
- [x] Review the wiki
- [x] Ask any questions of product and UX
- [x] reach out to the UI/UX community of practice and the Design System team to find out wha

[2021-07-27 16:58] ExperimentsInHonesty opened #29 "Setup Figma for Internship"
### Overview
We need to have access to figma for creating designs for this project

### Action Items
- [ ] Reach out to Olivia to find out if there is a free figma account.
- [ ] Create a figma section inside the account (we don't need a whole account)
- [ ] Setup email in vault
- [ ] write instructions for adding a new team member

### Resources/Instructions

[2021-07-27 17:08] ExperimentsInHonesty opened #30 "Develop Personas"
### Overview
We need personas for this project so that we can make sure our materials address the audiences intended

### Action Items
- [ ] Review the HfLA documentation about personas
- [ ] Draft some basic personas using github board
- [ ] Discuss with product

### Resources/Instructions
https://github.com/hackforla/product-management/issues/21

[2021-07-27 18:30] ExperimentsInHonesty commented on #26
@sniux I added the recording to the [comment above](https://github.com/hackforla/internship/issues/26#issuecomment-887624732)

[2021-07-27 20:37] ExperimentsInHonesty commented on #14
ideas for portfolio

**Show your work**
screenshots of visually interesting work
Comics
Before and after image with text in Mandarin and the after with the same in English

Hack for LA
finished screen shot from figma
talk about creating a new asset using the design system established by previous designer
screen shot showing desktop and mobile design you made based on the live (backfilling the desi

[2021-07-28 16:08] ExperimentsInHonesty commented on #9
7/28

Sakari
Progress: Linkedin Profile, Large Issue, Attended Ava's breakout on GitHub action
Blockers:

Mateo: Medium Issue
Blockers: Availability

Jason: About draft and linkedin
Blockers:

[2021-07-29 15:22] ExperimentsInHonesty commented on #26
reviewed with @sniux and added comments to doc.  next steps are to review the comments and reword any sections indicated and add any necessary additional material.

[2021-07-29 15:25] ExperimentsInHonesty opened #31 "Find stats we can use"
### Overview
We need statistics for the issues we intend to address, so that when we interview the students we can develop baselines for our community and progress stats.

### Action Items
- [ ] Review Stem Attrition PDF and except relevant stats (supporting future problem statements) to comments below (mention page number)
- [ ] Identify if there are other publicly available stats we can referenc

[2021-07-29 15:29] ExperimentsInHonesty opened #32 "Hypothesis"
### Overview
We need to define our Hypothesis so that we can test against it.

### Action Items
- [ ] Write out all the potential problem statement we can think of

### Resources/Instructions
[Stem Attrition PDF](https://nces.ed.gov/pubs2014/2014001rev.pdf)

[2021-07-29 15:31] ExperimentsInHonesty commented on #32
Students interested in STEM leave STEM education at too high an attrition rate
Students who graduate with STEM focus fail to succeed at STEM careers at too high a percentage

[2021-07-29 16:10] ExperimentsInHonesty commented on #9
7/29

Sakari
Progress: working on large issue
Blockers: a little stuck, meeting with Community of Practice mentor

Sophia
Progress: researching and testing medium front end issue
Blockers: making the mobile/tablet behave properly

Jason
Progress: linked in profile
Blockers: none

Mateo
Progress
Blockers

Jack
Progress
Blockers

[2021-07-30 16:25] ExperimentsInHonesty commented on #9
7/30/21

Sakari:
Progress: large issue met with Jonathan Shin for mentorship
Blockers: Internet connection

Sophia
Progress: finished tablet version, trying to figure out
Blockers: some issue with git pull

Jason
Progress: LinkedIn
Blockers: Availability

[2021-07-31 01:18] ExperimentsInHonesty commented on #24
I am curious coder who enjoys competitive problem solving (USACO) and taking on new challenges in computer science.  In my spare time, I am a volunteer as a teacher of Scratch and Python to elementary school students and am a  close up magician and junior member of the Academy of Magical Arts in Hollywood.

Skills: Java, Git, Github, Python, Scratch, Javascript, HTML, CSS, R

[2021-07-31 01:21] ExperimentsInHonesty commented on #24
- [ ] make a copy of the [Resume content tool](https://docs.google.com/spreadsheets/d/164RGPJK3b5IdmWhici-d8Qss1_PvGPL5gwsEHujxTfQ/edit#gid=1559833848)
- [ ] add bonnie as an editor bonnie@hackforla.org
- [ ] add link from your copy to the issue comment above

[2021-07-31 23:05] ExperimentsInHonesty commented on #14
@anonymousanemone will add the relevant Computer Science and Art classes to the Brentwood School section

[2021-08-01 00:39] ExperimentsInHonesty commented on #14
We stopped at the spreadsheet on row 11 because we went on a tangent about where/how css files should be.

[2021-08-02 16:15] ExperimentsInHonesty commented on #9
Sakari:
Progress: large issue
Blockers: trying to meet up with Jonathan Shin and Frank Stepanski

Sophia
Progress: got a determination at the meeting of what to do with Table view and made progress with auto layout
Blockers:

Jason
Progress: Going to make changes requested and review an issue
Blockers: Availability

Mateo
progress: made good progress on medium issue, test with Sakari
blockers: no

[2021-08-02 18:02] ExperimentsInHonesty commented on #17
deliverable for next week
- [ ] Write up the GitHub action item on Activity Log
- [ ] Write up the guide (based on what Sophia says)
https://github.com/hackforla/engineering/issues/17#issuecomment-891177672
- [ ] Photo

Additional items not related to Linked
- [ ] write up issue for donate page removing the redirect

[2021-08-03 15:09] ExperimentsInHonesty commented on #32
- [ ] Within the Stem Attrition PDF , please try to answer the following:
What was that increased probability?  10%  60%

 - [ ] Please try to find different research that reveals  why do student leave (reasons they give)?

[2021-08-03 15:16] ExperimentsInHonesty commented on #9
8/3/21

When to seek help on their work because and when to keep researching
How to keep other team members availability from acting a blocker to their work
Documenting your work for your peers/people you report to
Finding mentors outside of your department
Presenting your education and work on your LinkedIn profile

Sakari
Progress:
Blockers:

Sophia
Progress:
Blockers:

Jason
Progress:
Blockers:

[2021-08-03 18:19] sniux commented on #27
Plan of Action:

- Draft a research plan
- Finalize with Bonnie
- Write down interview questions
- Interview Thursday and Friday
- Add the insights to the problem statement

[2021-08-03 18:22] sniux commented on #32
3rd Aug Internship Mgmt notes

- Word the problem statement well
- 2 major issues - confidence, finances
- We can help with the confidence
- Find a research study for reasons for people dropping out - stats, how much of it is confidence?
- Loopholes - this is how we will empower you, so that you can have a successful career in STEM
- **Probability of dropping out**
- We are not teaching math ; if

[2021-08-03 20:04] ExperimentsInHonesty commented on #14
you can customize your header to match your portfolio

[2021-08-03 20:49] ExperimentsInHonesty commented on #13
Left off at fixing a few remaining items on spreadsheet.

[2021-08-04 14:40] sniux commented on #27
@ExperimentsInHonesty I have added the draft [here](https://docs.google.com/document/d/1t98oH0tAFTsiRm8QI75l93thdwjTxQMvXigmVFs7AbA/edit). Please add comments/notes and I'll refine the questionnaire and get it ready for the interviews.

[2021-08-04 16:32] ExperimentsInHonesty commented on #9
08/07/21

Sakari
Progress: Large issue worked with Jonathan Shin, and Ava and determined Feasibility was not worth the lift at this time.  Will update wiki and probably take on medium or large GitHub actions issue
Blockers: none
Throw that on a wiki page
Title of page Problem-Solution Deferred Documentation
Problem statement:
Potential Solution:
Feasibility Determination:

Jason
Progress: Reviewin

[2021-08-05 16:13] sniux commented on #9
8/5/21

Sakari
Progress: made a [wiki page](https://github.com/hackforla/website/wiki/Problem-Solution-Deferred-Documentation
) ; will be taking on large issue
Blockers: none

Sophia
Progress: waiting on comments to finish the dev issue, almost done with design issue
Blockers: waiting on design team

Jason
Progress: finished reviewing pull request, worked on LinkedIn profile
Blockers: moved the 1-

[2021-08-06 16:29] ExperimentsInHonesty commented on #9
8/6/21

Sakari
Progress: New large issue, more research
Blockers: none
Continue internship until 27th

Sophia
Progress: Finished design issue and its in the review column, Requested re review on PR after making requested changes
Blockers: design issue waiting on Kristine visual review and PR waiting on re-review from Josh and Adam
Reduce internship to 1-on-1s until August 26th

Jason
Progress: Lin

[2021-08-09 16:14] ExperimentsInHonesty commented on #9
8/9/21

Sakari
Progress: New Large issue - github comment api
Blockers:
check out Kian's repo https://github.com/100Automations/true-github-contributors

Jason
Progress: Finished issue, now working on linkedin profile
Blockers: waiting for review

Jack
Progress: Working on a github actions issue
Blockers:  where the file was and how to edit (resolved)

[2021-08-09 16:14] sniux commented on #27
8/9/2021

- Updated the script for the interview.
- Sophia did not show up.

[2021-08-11 16:12] ExperimentsInHonesty commented on #9
8/11/21

Sakari
Progress:
Blockers:

Jason
Progress: Received request for PR changes, making them, and working on linkedin spreadsheet
Blockers: none

Jack
Progress: received merge conflict and reached out to Ava and she provided some info about merge conflicts.  Made changes.
Blockers: none

[2021-08-12 15:08] ExperimentsInHonesty opened #33 "Update Wiki"
### Overview
We need to keep the wiki updated with how we have run the internship so that we can replicate/improve on it for next time and so that new people joining the project or outside stakeholders can get up to speed on what we have done.

### Action Items
- [x] Add research Plan links https://github.com/hackforla/internship/issues/27
- [x] Finish adding the link to the linkedin deck (can be

[2021-08-12 15:50] sniux opened #34 "Recruit a UX Researcher"
### Overview
We are recruiting a UX researcher who will be working with various methodologies to analyze the various scopes for improvement in enhancing the experience of the interns we have recruited for the program. They will also be working on drafting hypotheses and finding actionable insights for the problem statements, that will solidify the establishment of the program.

### Action Items

-

[2021-08-12 15:51] ExperimentsInHonesty commented on #34
#### Post a Volunteer Opportunity
---

**Project Name**: [Internship]

**Volunteer Opportunity**: [UX Researcher]

**Duration**: 1 week - ongoing

**Who to communicate your interest to**
- Slack channel link: #internship
- Slack name of person to contact in the channel : Snigdha or @sniux

[One Sheet for the Internship Project
](https://docs.google.com/document/d/1vovX2o0qiw4z9BUrH1Wb5RL9AzaveguQ1

[2021-08-12 16:07] ExperimentsInHonesty commented on #9
8/12/21

Sakari
Progress: Working on the large issue, have been talking to Ava and will do some pair programing.
Blockers: None

Jason
Progress: Going to reply to feedback on the PR, Got some linkedin done and will continue to work on it in prep for our meeting later today
Blockers: Availability

[2021-08-12 19:00] ExperimentsInHonesty commented on #22
This issue has been completed.  The result is, that we didn't export the results of the survey to a spreadsheet before we move it, so we lost the data.  However I think the data had be transcribed to the [Brentwood High School Cohort 2021](https://docs.google.com/spreadsheets/d/1TYV6SjB85Qygu8D8bqJZELxcumUK3IET2iH2z4j3Fu0/edit#gid=0) spreadsheet.

[2021-08-12 19:01] #22 closed

[2021-08-12 19:18] ExperimentsInHonesty commented on #5
Files that need to be moved:
[The communication guide](https://docs.google.com/presentation/d/1u_rAQx9wz7_2XT3mL1zAu1mtUXvds8YNlbMb-cxDGTI/edit) - its currently located in the template folder of ExpungeAssist
[The template file for a Google Doc](https://docs.google.com/document/d/11CmAl9nDiQmBwG0SX0XkadDbQq5zFp0HzcLnqNdQkYs/edit) - its currently located on your computer
[The template file for a Go

[2021-08-12 19:39] ExperimentsInHonesty commented on #5
messaged Bennet via email
[code]

[2021-08-13 16:08] ExperimentsInHonesty commented on #9
8/13/21

Jason
Progress: none, work through issue to be ready for Sunday
Blockers: Availability

Sakari
Progress: Pair programing with Ava, attended backend meeting, still working with issue
Blockers: none

[2021-08-14 01:42] sniux commented on #27
8/13/21

- Completed [Jason's interview
](https://drive.google.com/file/d/1eGp05HSvmnIcfFyATht1Q_2BoGlhI1QH/view?usp=sharing)

[2021-08-16 23:58] ExperimentsInHonesty commented on #5
Bennet has not written back

[2021-08-17 15:43] ExperimentsInHonesty opened #35 "Interview Sakari"
### Overview
We need to interview Sakari so that we can analyze the results of the program from the participants perspective

### Action Items
- [x] Schedule interview
- [x] Conduct Interview with Record and transcript turned on
- [x] Upload transcript file to folder and place link to transcript in resources
- [x] Upload recording to folder (Bonnie) and place link to recording in resources

### Re

[2021-08-17 15:49] priyatalwar opened #36 "Interview Mateo"
### Overview
We need to interview Mateo so that we can analyze the results of the program from the participants perspective

### Action Items
- [x] Schedule interview
- [x] Conduct Interview with Record and transcript turned on
- [x] Upload transcript file to folder and place link to transcript in resources
- [x] Upload recording to folder (Bonnie) and place link to recording in resources

### Res

[2021-08-17 15:56] sniux opened #37 "Interview Sophia"
### Overview
We need to interview Sophia so that we can analyze the results of the program from the participants perspective

### Action Items
- [x] Schedule interview
- [x] Conduct Interview with Record and transcript turned on
- [ ] Upload transcript file to folder and place link to transcript in resources
- [x] Upload recording to folder and place link to recording in resources

### Resources/I

[2021-08-17 16:01] sniux opened #38 "Interview Jason"
### Overview
We need to interview Jason so that we can analyze the results of the program from the participants perspective

### Action Items
- [x] Schedule interview
- [x] Conduct Interview with Record and transcript turned on
- [x] Upload transcript file to folder and place link to transcript in resources
- [x] Upload recording to folder and place link to recording in resources

### Resources/In

[2021-08-17 16:06] sniux commented on #27
Updates & Notes from the 8/17 Meeting:

- [ ] Priyanka will be conducting Mateo and Sakari's Interviews
- Snigdha needs to:
 - [ ]

[2021-08-19 14:13] sniux opened #39 "Research to find transferable skills"
### Overview
We are conducting research in coordination with the HfLA website team to make a list of transferable skills from Hack for LA.

### Action Items

- [ ] Brainstorm questions
- [ ] Create a script
- [ ] Schedule meetings with HfLA website team
- [ ] Conduct Interviews and transcribe
- [ ] Generate insights
- [ ] Incorporate them into Internship's program's one sheet & research draft

###

[2021-08-19 14:41] ExperimentsInHonesty commented on #36
Bonnie Sent this message via email.
Dear Mateo,

I can do the 24th.  I would like to both finish out our work on your linkedin and get you interviewed.  I know Snigdha sent you the questions but we really need to do the interviews in person so that they all are the same.  Sonia and I can do both on that day after 2.  She would go first and I could see you at 3.  Does that work?

Bonnie

[2021-08-19 15:01] ExperimentsInHonesty commented on #9
Confirm that Sakari has accepted the Monday invite for interview at 9:10

[2021-08-19 15:08] ExperimentsInHonesty commented on #34
@sniux please add a link to our Slack channel https://hackforla.slack.com/archives/C01VAUPU788 and post this here https://github.com/hackforla/UI-UX/projects/2

[2021-08-19 15:12] sniux commented on #34
Opportunity posted [here.](https://github.com/hackforla/UI-UX/projects/2#card-67150536)

[2021-08-19 15:13] ExperimentsInHonesty commented on #5
Wrote to him again

[code]

[2021-08-19 15:32] ExperimentsInHonesty commented on #26
Revised Todo
- [ ] Revising the wording
- [ ]  Include project logo (top right) - Doesn't exist yet
- [ ] Add Partnership details with logo - brenwood school https://www.bwscampus.com/
- [ ] Add hfla logo back in (copy from template)
- [ ] Link to project page on hackforla.org (footer) - none yet

[2021-08-19 15:36] ExperimentsInHonesty commented on #34
Please post a link to the opportunity in the UI/UX channel

[2021-08-19 16:01] Rabia2219 opened #40 "Interview Bennett"
### Overview
We need to interview Bennet so that we can analyze the results of the program from the participants perspective

### Action Items
- [x] Schedule interview
- [x] Conduct Interview with Record and transcript turned on
- [x] Upload transcript file to folder and place link to transcript in resources
- [x] Upload recording to folder and place link to recording in resources

### Resources/I

[2021-08-19 16:06] Rabia2219 opened #41 "Interview Jack"
### Overview
We need to interview Jack so that we can analyze the results of the program from the participants perspective

### Action Items
- [x] Schedule interview
- [x] Conduct Interview with Record and transcript turned on
- [x] Upload transcript file to folder and place link to transcript in resources
- [x] Upload recording to folder and place link to recording in resources

### Resources/Ins

[2021-08-19 16:07] ExperimentsInHonesty commented on #9
8/19/21

Jason
Progress: Linkedin Spreadsheet almost done, worked with Felicia and Bonnie to figure out size of standard Git install
Blockers: General Availability

[2021-08-19 16:25] ExperimentsInHonesty commented on #40
emailed him from internship account asking for his availability

[2021-08-19 16:28] ExperimentsInHonesty commented on #36
In preparation for the interview @Rabia2219 please watch prior interviews and read through the questions.  If you are unclear about anything reach out to Snigdha

[2021-08-19 16:35] ExperimentsInHonesty opened #42 "Gather project assets for adding to hackforla.org website"
### Overview
We need to gather all our collateral to be able to provide it to the for the HackforLA website team for inclusion in their code base, so that our project can be on the hackforla.org website.

### Action Items
- [ ]   Gather items
  - [ ]  600 x 400 image
     - [ ]  Alt image text
  - [ ] 1500 x 700 hero image (please do not put project title on hero image)
     - [ ]  Alt image text

[2021-08-19 16:37] ExperimentsInHonesty commented on #42
Program Area: Workforce Development

[2021-08-19 16:58] sniux commented on #34
Posted [here.](https://hackforla.slack.com/archives/C017ESHSMNG/p1629387375083600)

[2021-08-20 16:09] ExperimentsInHonesty commented on #9
8/20/21

Jack
Progress: Linked in activity log update, pr review
Blockers: unsure of what goes in each field in the activity log

[2021-08-20 16:13] ExperimentsInHonesty commented on #41
@Rabia2219 @priyatalwar I spoke to Jack and here is his Availability for the next few days.  Please reach out via email to schedule with him.
Saturday 11-1
Sunday 12-3
Monday 11-12
Tuesday 10-2

[2021-08-21 14:49] Rabia2219 commented on #36
@sniux Hey Snigdha, just wanted to ask if I could streamline the layout of the Interview issues? There are different items at the end, for example:

In Mateo's we have
[Interview notes]
[Mateo's folder]
Transcript
Recording

For Sophia and Jason, we have:

Sophia's Recording
Notes & Insights (TBA)

If you can let me know which format is relevant, I can go ahead and fix it.
Do we also need to make

[2021-08-21 16:17] sniux commented on #36
@Rabia2219 yes go ahead with your version.

[2021-08-21 16:21] Rabia2219 opened #43 "Recruit a UI/UX Designer"
### Dependency

- [ ] ~product writing a requirements document~
- [ ] or needing a new or second designer
- [ ] [at least one month of issues in the prioritized backlog](https://github.com/hackforla/internship/projects/1?card_filter_query=label%3A%22role%3A+ui%2Fux+design%22#column-14736603)

### Overview
We are recruiting a UI/UX designer who will be working on the Internship Program website toge

[2021-08-21 16:26] Rabia2219 commented on #43
@ExperimentsInHonesty
A few questions:
How many designers are we recruiting?
I was going to write a more technical Overview but I believe [this](https://github.com/hackforla/civic-opportunity/blob/master/roles-1/ux-designer.md) already provides that. If you want me to be more specific, please let me know. Once you approve, I will proceed.
Thank you.

[2021-08-23 06:52] priyatalwar commented on #26
Progress: Reviewed the [internship Project one sheet](https://docs.google.com/document/d/1vovX2o0qiw4z9BUrH1Wb5RL9AzaveguQ1KMZ27nj11w/edit#
Blockers: Need access to Bennet's activity log
ETA: week of 8/23

[2021-08-23 15:56] priyatalwar commented on #35
@ExperimentsInHonesty I still haven't seen an acceptance from Sakari for our 9:10 am meeting. I messaged him on slack, but he did not respond. Were you able to confirm?

[2021-08-23 16:06] ExperimentsInHonesty commented on #9
8/23/21

Jason
Progress: done with linkedin profile,
Blockers: having issue with branching for contributing file

sakari: will work on issue this week, now that its been descoped.

[2021-08-23 17:15] ExperimentsInHonesty commented on #40
I sent him a text message asking him to read emails.

[2021-08-23 17:21] priyatalwar commented on #41
The interview happened on 8/22/21 at 1 pm PST

[2021-08-23 17:31] ExperimentsInHonesty commented on #41
I have uploaded the recording and transcript.  This issue will be closed and the analysis done on another issue

[2021-08-23 17:31] #41 closed

[2021-08-23 17:37] priyatalwar commented on #34
Next steps:
@Rabia2219 Will go to the UI/UX meeting and recruit directly

[2021-08-23 17:55] ExperimentsInHonesty opened #44 "Copy links to storage"
### Overview
We need to make sure that we store all the links in long term storage assets so that we can easily find them

### Action Items
- [ ] Copy student linkedin links to applicant spreadsheet from their issue #24 #16 #17 #14 #13 #25
- [ ] Copy recording and transcription links to applicant spreadsheet #41 #36 #38 #40 #35 #37

### Resources/Instructions
[applicant spreadsheet](https://docs.g

[2021-08-23 17:57] ExperimentsInHonesty commented on #14
@anonymousanemone please finish updating your linkedin profile and let us know when you are done;

[2021-08-23 18:01] ExperimentsInHonesty commented on #13
@Zak234 you still have some outstanding items

- [ ] Have you listed all your skills under skills section?
- [ ] When you are done doing that don't forget to ask people who have reviewed your prs to give you endorsements on those skills.
- [ ] Let us know when you are done with the linkedin profile

[2021-08-23 18:09] ExperimentsInHonesty commented on #16
@JasonUranta All next steps on your linkedin profile are optional.  Feel free to close this issue

[2021-08-23 18:11] ExperimentsInHonesty commented on #25
@ExperimentsInHonesty to write recommendation draft (dependency on #5 #40 )

[2021-08-23 18:16] ExperimentsInHonesty commented on #43
1 designer

**Project Name**: [your project name replaces these brackets]

**Volunteer Opportunity**: [your opportunity description replaces these brackets]

**Duration**:

**Who to communicate your interest to**
- Slack channel link: #
- Slack name of person to contact in the channel

[Read more about the project]([your project home page on hackforla.org website goes here])

**Resources:**

[2021-08-23 18:27] priyatalwar commented on #35
I have uploaded the recording and transcript. This issue will be closed and the analysis done on another issue

[2021-08-23 18:27] #35 closed

[2021-08-23 23:09] priyatalwar commented on #26
Progress as on 8/23: Updated  the bullets on [internship Project one sheet ](https://docs.google.com/document/d/1vovX2o0qiw4z9BUrH1Wb5RL9AzaveguQ1KMZ27nj11w/edit#) based on Bennet's Linkedin

[2021-08-24 00:33] Rabia2219 commented on #43
@ExperimentsInHonesty
The note has been edited and posted in opportunities. I was waiting for you to approve the issue before I did this that is why it wasn't ready. Waiting for feedback. Thanks

[2021-08-24 00:45] Rabia2219 commented on #43
@ExperimentsInHonesty
I also had a few questions about the UX/UI researcher and designer recruitment. I know you said you have a meeting with Snigdha. I can either join in the beginning or in the end, as per convenience, if you give me the timing. I need to understand why we are hiring a UX designer and researcher at this point. Where do the UI people come in? I ask because [this](https://github.c

[2021-08-24 00:56] Rabia2219 commented on #43
Added dependency [here](https://github.com/hackforla/internship/issues/18#issue-948754800).

[2021-08-24 05:39] JasonUranta commented on #16
Thank you!!

[2021-08-24 05:39] #16 closed

[2021-08-24 11:19] Rabia2219 commented on #43
@ExperimentsInHonesty
I pitched for a UX designer [here](https://hackforla.slack.com/archives/C017ESHSMNG/p1629766804097000) and got a response. He has this question: 'I'm curious about learning about what duties a UX designer would have on this project? Will it be end-to-end or only on a specific part of the design process? '
@sniux if you are going to meet with Bonnie today, can you please bring

[2021-08-24 11:54] sniux commented on #39
Agenda for the 8/24/21 meeting:

- [ ] Finalize questions with Bonnie
- [ ] Review the 'background' of the draft
- [ ] Discuss business goals and metrics
- [ ] Job description for the UX Designer role

[2021-08-24 22:08] ExperimentsInHonesty commented on #36
Interview just happened today at 2pm

[2021-08-25 16:06] ExperimentsInHonesty commented on #9
8/25/21

Jack
Progress: started large issue https://github.com/hackforla/website/issues/1407
Blockers: the last three bullets are confusing

[2021-08-26 17:39] priyatalwar opened #45 "Special Onboarding"
### Overview
Bonnie will conduct a special onboarding for those who can't make it during our regular meetup timings due to timezone issues

### Action Items

- [x] Set up the zoom link
- [x] Post on Meetup
- [x] Make list of projects to recruit for
   - [ ] Internship
   - [ ] Guides
   - [ ] Open Community Survey
   - [ ] Hack for LA site
   - [ ] Access the Data
   - [ ] Data Science
   - [ ] Ad

[2021-08-28 00:41] ExperimentsInHonesty commented on #5
@Zytko One last thing.  I was wrong, I was not able to login to find this form https://docs.google.com/forms/d/e/1FAIpQLSdbyucEMf3NgTb0FO0ft7-pIjyuDD4riSXuafzLmrSYMC8M7Q/viewform  Can you check your personal google drive and look for it.

It is not in the internship folder
nor is it in any folders I have access to

log into your bws gmail account and personal accounts and then go to drive and sear

[2021-08-28 07:42] sniux commented on #40
@ExperimentsInHonesty I will go through them over the weekend and inform over our meeting.

[2021-08-30 17:22] ExperimentsInHonesty commented on #27
Hi @sniux did you have a chance to review all the interviews this weekend and determine if we needed to repeat some of them?  If you put your notes on another issue, please let us know which issue they are on.

[2021-08-30 17:34] ExperimentsInHonesty commented on #5
Site for making color pallets https://coolors.co/

[2021-08-30 17:41] ExperimentsInHonesty commented on #43
Next opportunity would be to design a page for the HfLA website where it details what we accomplished and invites people to connect with us.  The dependency on this is product writing a requirements document.

[2021-08-30 17:54] ExperimentsInHonesty commented on #14
@anonymousanemone I recommend the following additional steps
- [ ] Go into the Hack for LA team roster and connect with each person who did a pr review or issue completed for you
- [ ] Once they have accepted your linkedin request, go to their profile and endorse them for the skills that your issue required.  So if your issue was a Figma issue, then endorse them for that, etc.
- [ ] Then wait a fe

[2021-08-30 18:46] ExperimentsInHonesty commented on #34
@priyatalwar will write back to Eakyt in slack asking them if they are interested in joining the team or internship.  Explain difference, and also provide them link to https://www.meetup.com/hackforla/events/

@Rabia2219 will reword the posting to reduce words and add the text "This opportunity is for a team member to help us build out next summers internship program. "

[2021-08-30 18:49] ExperimentsInHonesty commented on #13
@Zak234 I recommend the following additional steps
- [ ] Go into the Hack for LA team roster and connect with each person who did a pr review or issue completed for you
- [ ] Once they have accepted your linkedin request, go to their profile and endorse them for the skills that your issue required.  So if your issue was a Figma issue, then endorse them for that, etc.
- [ ] Then wait a few days, an

[2021-08-30 18:53] priyatalwar commented on #34
8/30 update: Just sent a slack message to Eakyt

Hi, just wanted to clarify that this is not for an internship since we are not accepting new interns at this time, but it is as a team member on this project. if you are still interested, please join one of these meetings https://www.meetup.com/hackforla/events and let Bonnie know about your interest.

[2021-08-30 18:54] ExperimentsInHonesty commented on #24
@JackRichman

I recommend adding some more interests.  Think of three orgs that you might want to follow professionally, and let me know next time we meet, so that I can show you how to add them as interests to your linkedin if you have forgotten how.

 It looks like you are still missing some endorsements (at the least you should get one for github)
 I recommend the following additional steps
- [

[2021-08-30 19:00] ExperimentsInHonesty commented on #25
@bennet I recommend  the following additional steps
- [ ] If  you have professional connections with people who could give you endorsements for the skills you are missing endorsements for connect with them.
- [ ] Once they have accepted your linkedin request, go to their profile and endorse them for the skill that you know they are competent in.
- [ ] Then wait a few days, and write to them asking

[2021-08-30 21:17] sniux commented on #27
@ExperimentsInHonesty I did, and I think Sophia's interview needs to be repeated - everything else looks fine to me.

[2021-09-01 19:15] priyatalwar opened #46 "Repeat Sophia's Interview"
### Overview
We need to interview Sophia again so that we can analyze the results of the program from the participants perspective. Related to issue #37

### Action Items
- [x] Schedule interview
- [x] Conduct Interview with Record and transcript turned on
- [x] Upload transcript file to folder and place link to transcript in resources
- [x] Upload recording to folder and place link to recording i

[2021-09-01 19:16] priyatalwar commented on #46
Update 8/31/21: Reached out to Sophia Ling via slack

Priyanka Talwar  9:47 PM
@Sophia Ling Apologies, but turns out we might have to interview you again. Can you let us know your availability this week?

[2021-09-01 19:17] priyatalwar commented on #46
Update 9/1/21
Reached out to Sophia via email:

Hello Sophia,

I've been asked to reach out to you to discuss your availability for an interview (sorry we have to interview you again!) about your experience at Hack for LA. Can you please let me know a few available times this week?

Thanks,
Priyanka

[2021-09-01 19:25] priyatalwar commented on #37
@sniux Please feel free to close this issue as I've created a new issue for repeating Sophia's interview #46

[2021-09-01 20:31] sniux commented on #37
Interview was too short and the answers were slightly repetitive.

[2021-09-01 20:31] #37 closed

[2021-09-02 05:10] mttran234 commented on #5
Made a few color palettes- it's also posted in this [google doc](https://docs.google.com/spreadsheets/d/1ADTfO4P4XsTwPZQHjp7-f6Jb4HVbD6CVbWPgPNj7Z_E/edit#gid=30376616)

<img width="360" alt="Screen Shot 2021-09-01 at 3 50 41 PM" src="https://user-images.githubusercontent.com/77904061/131785372-1c7a9aee-9392-4a13-85ea-d0fc122f4a9a.png">

[2021-09-02 15:37] Rabia2219 commented on #34
Updated [here](https://github.com/hackforla/UI-UX/projects/2#card-67150536)

[2021-09-02 16:21] ExperimentsInHonesty commented on #17
Updated spreadsheet with @mgodoy2023  and provided next steps
Reach out to Gideon for review on the bullet points and ordering by value
Write up Responsible for text
Add to linkedin
Ask for recommendation from Gideon for your linkedin Profile (after you have added the work experience), providing them with 3 bullet points you would like them to expand on, that you think are not covered by the Activ

[2021-09-02 16:44] priyatalwar commented on #34
I wrote her on 8/30 and still waiting to hear back.

[2021-09-02 16:53] priyatalwar commented on #26
Update 9/2/21:
Blockers: I did not have time to go over it
ETA: by next meeting 9/9

[2021-09-02 17:14] mttran234 commented on #5
<img width="507" alt="Screen Shot 2021-09-02 at 1 12 30 PM" src="https://user-images.githubusercontent.com/77904061/131887838-a71679c8-fb75-4aba-a507-8f4f853609ac.png">

during 9/2 meeting- team likes option 2 but wants to see more color palettes that work with the logo

[2021-09-02 17:15] ExperimentsInHonesty opened #47 "Write guidance for how to make recommendations for interns"
### Overview
We need a guide to how to make recommendations for Hack for LA volunteers/interns so that there is a defined process that is easy to follow

### Details on metrics
We will be asking on intake:
- how confident they are in how to ask for a recommendation
- How many recommendations do you ask for per engagement
- What percent of people you ask say yes

### Action Items
- [x] Review the g

[2021-09-02 17:22] ExperimentsInHonesty commented on #14
these people reviewed pr issues for Sophia: akib, ava, sakari, adam, Kristine, Matthew

hard to tell what looked at non pr issues

[2021-09-02 17:27] ExperimentsInHonesty commented on #14
@anonymousanemone can you give us an update on your progress here: https://github.com/hackforla/internship/issues/14#issuecomment-908558229

it looks like you are still not connected to akib, ava, adam, & Matthew
You can find their linkedin profile in the roster: https://docs.google.com/spreadsheets/d/11u71eT-rZTKvVP8Yj_1rKxf2V45GCaFz4AXA7tS_asM/edit#gid=0
except for Ava.  I'll reach out to her to

[2021-09-02 17:39] ExperimentsInHonesty commented on #14
Sent her an email with the details from above

[2021-09-02 17:39] ExperimentsInHonesty commented on #46
sent her an email about scheduling interview

[2021-09-02 17:41] ExperimentsInHonesty commented on #13
Sakari is connected to Josh, Adam, Abel, QiQi

[2021-09-02 17:53] ExperimentsInHonesty commented on #13
Sent Sakari this email
Hi Sakari,

I assume we are not meeting today.  If you do want to meet today, let me know.

Here are some outstanding items for you for your linkedin to be complete for the internship.
https://github.com/hackforla/internship/issues/13#issuecomment-908596961
https://github.com/hackforla/internship/issues/13#issuecomment-911915037

Bonnie

[2021-09-02 18:01] ExperimentsInHonesty commented on #24
Connected to the following people from the hack for LA team Blakely, Joseph, Matthew, Andrew, Christopher, Adam
Here is the [roster](https://docs.google.com/spreadsheets/d/11u71eT-rZTKvVP8Yj_1rKxf2V45GCaFz4AXA7tS_asM/edit#gid=0) so that you can connect to anyone who reviewed any of your pull requests or you otherwise had positive contact with.

Has not connected with Ava, Alyssa yet.  Ava's linked

[2021-09-02 18:42] priyatalwar commented on #46
@ExperimentsInHonesty:
@Rabia2219 and I just went over the interview together and didn't find any repetition. We definitely found that a few of the questions were missing according to this [questionaire](https://docs.google.com/document/d/15RI126KEeUqycfGUClKT3Q-xFZScwHuMz8KsYxEnMns/edit)

[2021-09-03 00:13] sniux commented on #34
9/2 update

@priyatalwar @Rabia2219 Justin Lee reached out to me for the UX researcher role - I am giving him the project overview.

[2021-09-03 05:20] priyatalwar commented on #34
@sniux Sounds good. He reached out to me too. Can you please make sure he attends or has already attended an onboarding meeting prior to the Tuesday meeting? Thanks!

[2021-09-03 05:23] priyatalwar commented on #34
@sniux We are all good since I just heard from him that he attended an onboarding meeting on Tuesday.

[2021-09-05 05:59] sniux commented on #39
Update for 9/5/21

- Drafted [Internship Project Interview Instructions](https://docs.google.com/document/d/1gKklWCPKtVQBbsYoLi59t7tgVKu0gb1MMyyh9qk0qIs/edit?usp=sharing) based on BOP templates
- Created [Internship Project's Interview Scrip/Form](https://docs.google.com/forms/d/1kk6vuus8TbtZTjD9zP5KHrH1_VITnVDJwH3OZrut0xw/edit?usp=sharing)
- Customized [Recording Upload](https://docs.google.com/f

[2021-09-06 14:59] Rabia2219 commented on #39
Just went over it briefly but great job @sniux...

[2021-09-06 15:00] Rabia2219 commented on #39
Just went over it briefly but looks great @sniux

[2021-09-07 05:50] priyatalwar commented on #46
Update 9/5: Heard back from Sophia:
"Hello,
I'm so sorry I didn't reply earlier. School started for me last week, so I've been a bit busy. Would this Tuesday work for you?
-Thank you"

@priyatalwar replied:
No worries. I’m available 9am - 1pm PDT tomorrow. Would any time in that window work for you?

-Priyanka

[2021-09-07 16:13] priyatalwar commented on #46
9/7 update:

Interview scheduled and invite sent for 9/7/21 at 1 pm PDT. @ExperimentsInHonesty has offered to help with recording.

[2021-09-07 20:37] priyatalwar commented on #46
9/7 update: Sophia did not show up and tried reaching her via slack, text and email. @ExperimentsInHonesty will try reaching out to her as well, but here is an email I just sent:

Hi Sophia,
Since today did not work out, we'd like to reschedule. Won't need much of your time since they are mostly additional questions that we asked other interns as well. If you can give us 20 minutes of your time, w

[2021-09-08 06:12] priyatalwar commented on #46
Update: 9/7
Heard back from Sophia and interview scheduled at 5 pm PDT tomorrow
@ExperimentsInHonesty if you can help with the recording. Thanks!

[2021-09-08 18:28] Rabia2219 opened #48 "Record Tuesday and Thursday Meetings with UX Researcher"
### Overview
Record Tuesday meetings with UX Researcher(s) for review before Thursday meeting.

### Action Items

- [x] Create folder for recordings
- [ ] Record Tuesday meeting
- [ ] Rename using this format - TuedayNov2nd (example)
- [ ] Add to folder
- [ ] Place link in comment

### Resources/Instructions
[Recording Folder
](https://drive.google.com/drive/folders/1lgc0eeDXvqvqvLOgqsT8lu3EsneeH9

[2021-09-09 00:40] priyatalwar commented on #46
Update: 9/8
Interview done; transcript uploaded; @ExperimentsInHonesty please upload recording

[2021-09-09 06:38] priyatalwar commented on #27
@sniux @ExperimentsInHonesty All  intern user interviews including #46  done now

[2021-09-09 06:47] priyatalwar opened #49 "TWE: Agenda for PM meetings"
### Overview
This issue tracks the agenda for the PM meetings for the IS 21: Internship Project

### Action Items
- [ ] Copy the template to a comment below
- [ ] Add date
- [ ] Fill out template

#### Template
[code]
### Resources/Instructions
- hackforla/internship#101
- hackforla/internship#62
- [IS22 Timeline Spreadsheet](https://docs.google.com/spreadsheets/d/1rELYpwDNs_HQSkQvjr0JX2UmHBSKJD6P

[2021-09-09 17:08] priyatalwar commented on #5
Update 9/9: we voted and picked # 2

[2021-09-09 17:31] ExperimentsInHonesty commented on #14
Sophia reached out to the list of people we mentioned and got the needed endorsements she could gather from the HfLA team.

[2021-09-09 17:31] #14 closed

[2021-09-09 17:32] ExperimentsInHonesty commented on #9
We finished all the standups.

[2021-09-09 17:32] #9 closed

[2021-09-09 17:37] ExperimentsInHonesty commented on #13
@Zak234 We just did a check in to see if you were able to successfully finish up your networking.  Here are the outstanding items,

Sakari is not yet connected to: Akib, Kristine, Danielle - you can find most of their linkedin urls on the team roster
Sakari performed many pr reviews and should connect with each of those people: https://github.com/hackforla/website/pulls?q=is%3Apr+is%3Aclosed+revie

[2021-09-09 17:40] ExperimentsInHonesty commented on #24
@JackRichman just a quick follow-up to suggest for final steps for you in your networking

Internship team assessment: Jack is connected to the following people from the hack for LA team Blakely, Joseph, Matthew, Andrew, Christopher, Adam.  Has not connected with Ava, Alyssa yet.

Here is the [roster](https://docs.google.com/spreadsheets/d/11u71eT-rZTKvVP8Yj_1rKxf2V45GCaFz4AXA7tS_asM/edit#gid=0) s

[2021-09-09 23:10] sniux commented on #39
9/10
Progress
- Edited [IP: Messaging for HfLA Website Team Interview Scheduling](https://docs.google.com/document/d/170op-ll9cXIk36-Bp_DrcmBwynRA2Wz6rI3ovHbHK10/edit#heading=h.y8l57celz7e4) - Slack DM based on the BOP template

Blockers
- The entire google form for UXR instructions got deleted - tried doing it again by signing in via internship@hackforla.org, but could not sign in - need access t

[2021-09-10 14:59] sniux commented on #46
@ExperimentsInHonesty please upload the interview so that I can proceed with the insights and create a slide deck.

[2021-09-11 12:12] Rabia2219 commented on #36
@ExperimentsInHonesty
Hi Bonnie, we need the recording for Mateo's interview. Thanks.

[2021-09-11 21:59] Rabia2219 commented on #36
@ExperimentsInHonesty
Hi Bonnie,
We are missing Mateo's interview recording and transcript needed to complete the synthesis. Thanks.

[2021-09-12 06:31] priyatalwar commented on #26
As per our 9/9 meeting We discussed adding overview as a separate document
[Overview: Internship](https://docs.google.com/document/d/19uYUAmiVSIkBA7zAL66ynKpYRpNfvMY_qZZOk7WE6ME/edit)

[2021-09-13 16:59] priyatalwar commented on #49
Agenda for 9/13/2021
- Roll Call
- Michelle's google slide update
- Recordings and Transcript for Mateo
- One sheet
- RACI Framework on internship project
- Set PR Review Automation
- Quantitative tool for Analysis

[2021-09-13 17:11] priyatalwar commented on #5
as per @mttran234  9/13
@Bonnie @Rabia Shaikh @Priyanka Talwar I won’t be able to attend the meeting today.
I need to update the last Google Slide deck then the comms guide is finished, besides that what else is needed from a UX standpoint? So I have that ready for Thurs

[2021-09-13 17:12] priyatalwar commented on #5
@mttran234 Can you please put a link to the document you are working on in this issue? Thanks!

[2021-09-13 17:24] priyatalwar opened #50 "Review Interview Instructions for Research to find transferable skills"
### Overview
We need to have the interview instructions reviewed so that one can improve the doc based on the questions asked

### Action Items
- [ ] Review the doc
- [ ] Add comments / questions to doc where appropriate
- [ ] Add any comments and questions that don't fit into the doc into the comments below
- [ ] Review with team

### Resources/Instructions
 [IP HfLA Website Team Interview Instru

[2021-09-13 17:31] priyatalwar commented on #39
@sniux we have assigned Justin the following issue #50

[2021-09-13 17:42] ExperimentsInHonesty commented on #36
@sniux I have uploaded the Mateo recording link is above

[2021-09-13 17:52] ExperimentsInHonesty commented on #46
@sniux I have uploaded the Sophia second interview session recording and transcript link is above

[2021-09-13 18:03] priyatalwar commented on #31
@sniux can you please put a link to the summary you already created? Thanks

[2021-09-13 18:25] Rabia2219 opened #51 "Create a Google doc for the survey questions sent by Brentwood"
### Overview
We need to review the survey questions sent by Brentwood so we can come to a consensus on how to answer them.

### Action Items

- [x] make a Google Doc with the survey questions
- [x] Fill and submit survey

### Resources/Instructions
 [Google doc](https://docs.google.com/document/d/1Wf9gVTV0XrLG0ODfXutvkyorDoDwReNwMMJ0J-dELSo/edit?usp=sharing) for Internship Sponsor Feedback Form

[2021-09-13 19:40] Rabia2219 commented on #5
Reached out to Michelle about communicating here in the issue about progress/questions, designing a logo and providing a link to the slide deck she is working on in the issue. @mttran234

[2021-09-13 19:46] Rabia2219 commented on #49
Discussed the actions to be taken regarding the survey sent by Brentwood. Created [this](https://github.com/hackforla/internship/issues/51#issue-995194956) issue.

[2021-09-13 22:14] priyatalwar opened #52 "Recruit Data Scientist"
### Overview

We are recruiting a Data Scientist who will be responsible for studying the datasets provided by the researcher with the intent of identifying trends and developing custom data models and algorithms to apply to data sets. The person will also be responsible for formulating and testing hypotheses based on business needs by analyzing and modeling data.

### Action Items

- [x] Edit not

[2021-09-14 02:40] Rabia2219 commented on #48
@sniux @priyatalwar @ExperimentsInHonesty
Requesting that the Tuesday meetings be recorded and placed in [folder](https://drive.google.com/drive/folders/1-c3MtsAUf6Nb8tMgT-ll4CYFzuTyHLc2?usp=sharing). Thanks

[2021-09-14 02:43] Rabia2219 commented on #51
Created the[ Google doc](https://docs.google.com/document/d/1Wf9gVTV0XrLG0ODfXutvkyorDoDwReNwMMJ0J-dELSo/edit?usp=sharing) for Internship Sponsor Feedback Form.

[2021-09-14 05:55] priyatalwar commented on #52
#### Post a Volunteer Opportunity
---

**Project Name**: Internship

**About the Project**: The Internship project provides an opportunity for college and high school students to work in the fields of software, product development, project management, and UI/UX design at LA’s fastest-growing Civic Tech non-profit organization during their summer. The interns work on open source projects gaining co

[2021-09-14 06:19] priyatalwar commented on #52
@Rabia2219 @ExperimentsInHonesty here is an issue to recruit a data scientist for the HfLA Internship Project. I'll add it to our next meeting's agenda

[2021-09-15 11:10] sniux opened #53 "Finish Research Plan #1"
### Dependency on
- #28
- #68
- #167 completion of slide template

### Overview
We are in the last steps of finishing our first research plan (#27) to understand our impact on the interns, organization, areas of improvement & intern experience.

### Action Items

- [x] Synthesize interviews
- [x] Fill out interview information
- [x] Generate insights
- [x] Complete the research plan (document)
- [

[2021-09-15 11:12] sniux commented on #53
@priyatalwar I will need Mateo and Jack's synthesis by Saturday (18th September) 7pm PST evening.

[2021-09-15 13:13] sniux commented on #31
@priyatalwar @ExperimentsInHonesty [here you go.](https://docs.google.com/document/d/1JxRRbt4Y52KbOO_MlN6zv4dUBAseMULPfQ2aFAt4i6E/edit)
I have added this to the issue as well.

[2021-09-15 16:16] Rabia2219 commented on #53
@priyatalwar you can connect to the internship gmail account and you should be able to access the Interview Synthesis Sheet without waiting for permission to access.

[2021-09-15 16:17] Rabia2219 commented on #53
@priyatalwar let me know if you can access it now.

[2021-09-15 16:25] sniux commented on #53
@Rabia2219 Yes she can access it now.

[2021-09-16 04:31] priyatalwar commented on #46
Update: @ExperimentsInHonesty @sniux Closing this issue since we have everything we need.

[2021-09-16 04:31] #46 closed

[2021-09-16 04:37] priyatalwar commented on #40
Update: Interview done on 8/27 and we have everything we need. @sniux @ExperimentsInHonesty @Rabia2219 Closing this issue.

[2021-09-16 04:37] #40 closed

[2021-09-16 04:44] priyatalwar commented on #36
@sniux @ExperimentsInHonesty Closing this issue since we have everything we need.

[2021-09-16 04:44] #36 closed

[2021-09-16 04:46] priyatalwar commented on #34
@Rabia2219 Please feel free to close this issue if you think we have everything we need. Thanks.

[2021-09-16 05:50] Justlee98 commented on #50
I reviewed the interview instruction @priyatalwar @Rabia2219 @ExperimentsInHonesty

[2021-09-16 13:58] #34 closed

[2021-09-16 13:59] Rabia2219 commented on #49
@priyatalwar are you putting up an agenda for today?

[2021-09-16 14:09] Rabia2219 commented on #53
@ExperimentsInHonesty I would like to talk about the access rights to the Interview Synthesis Sheet in order to understand sharing rights for the future.

[2021-09-16 15:36] priyatalwar commented on #49
Agenda for 9/16/2021
- Roll Call
- Michelle : communications guide #5
- Justin to review the interview guide (get it from Snigdha) issue #50
- One sheet
- RACI Framework on internship project (for 9/14 meeting) (make issue for this and put a dependency of when the roadmap is complete) (need to make an issue)
  - @ExperimentsInHonesty Discuss with Data Science COP and recruit DS issue #52
  - Surve

[2021-09-16 15:47] priyatalwar opened #54 "Create a Roadmap"
### Overview
Define goals and features for MVP and future product iterations.

### Resources/Instructions
https://docs.google.com/document/d/1sZHHfqXoui4zsMQ2l_O3TRIJcXQnyOO-bF-KY9jl4qM/edit

[2021-09-16 15:58] priyatalwar opened #55 "Create a RACI Framework"
### Dependency Product Roadmap #54

### Overview
As a Product Manager, we need to define and document project roles and responsibilities. Knowing exactly who is responsible, who is accountable, who needs to be consulted, and who must be kept informed at every step will significantly improve your chances of project success.

### Resources/Instructions
REPLACE THIS TEXT -If there is a website which

[2021-09-16 16:47] Rabia2219 commented on #49
- Discuss file access related to this [issue](https://github.com/hackforla/internship/issues/53#issue-996954446)

[2021-09-16 18:04] priyatalwar commented on #49
Agenda for 9/20/2021
- Roll Call
- Michelle : communications guide #5 (Rabia to check with Michelle)
- Rabia to recruit a UI/UX designer and researcher
- Justin to review the interview guide (get it from Snigdha) issue #50
- RACI Framework on internship project (for 9/14 meeting) (make issue for this and put a dependency of when the roadmap is complete) (need to make an issue)
- @ExperimentsInHone

[2021-09-16 18:11] priyatalwar commented on #5
@mttran234
Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-09-16 22:11] Rabia2219 opened #56 "Recruit a UX Researcher"
### Dependency
at least [1 month worth of issues for researchers in the prioritized backlog](https://github.com/hackforla/internship/projects/1?card_filter_query=label%3A%22role%3A+ui%2Fux+research%22#column-14736603)

### Overview
We need to recruit UX Researchers so that can work down our prioritized backlog.

### Action Items

- [ ] Create a comment below that has a draft of the Open Role: UX R

[2021-09-16 22:38] Rabia2219 commented on #43
9/16/2021
Moved issue from Ice Box to In progress.
Pitched for a UX designer [here](https://hackforla.slack.com/archives/C017ESHSMNG/p1631831229059300).
Will attend UI/UX COP meeting next Wednesday (9/22/2021) to pitch if we do not have any response by then.

[2021-09-16 22:39] Rabia2219 commented on #56
9/16/2021
Made a new issue as the previous on was closed.
Pitched for a UX researcher [here](https://hackforla.slack.com/archives/C017ESHSMNG/p1631828482057600).
Will attend UI/UX COP meeting next Wednesday (9/22/2021) to pitch if we do not have any response by then.

[2021-09-17 21:29] Rabia2219 commented on #56
Please add update using this template (even if you have a pull request)

1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be completed?"
5. Pictures: "Add any pictures o

[2021-09-18 01:25] Rabia2219 commented on #5
@ExperimentsInHonesty @priyatalwar @sniux @Justlee98
I had reached out to Michelle about her progress and availability yesterday. She got back today and let me know that she is unable to give time to the project any more. She did not provide any links to the work she has done.

P.S. I also created and added a custom reply for Status Update :)

[2021-09-19 21:07] priyatalwar commented on #53
Update: 9/18: @sniux @ExperimentsInHonesty Finished with the interview synthesis for Jack and Sakari.

[2021-09-20 03:10] ExperimentsInHonesty opened #57 "Create a project card for Internship on Hack for LA website"
### Dependency
- [x] #201
- [x] #28
- [x] #185
- [x] A method by which people can find out that they are not eligible for the internship, so that people don't inundate our slack channel.

### Overview
We need to have a project card on the hack for LA website, so that we can recruit new team members

### Action Items
- [x] Gather items for project card
  - [x] logo on an image 600x400
  - [x] hero

[2021-09-20 18:43] Rabia2219 commented on #49
Issue [#22 ](https://github.com/hackforla/internship/issues/22#issue-950808860) was about moving the files into the new drive and has since been closed.
This is in regards to file access issues Priyanka and I had with the [Research Plan](https://docs.google.com/document/d/1t98oH0tAFTsiRm8QI75l93thdwjTxQMvXigmVFs7AbA/edit).

[2021-09-20 22:00] Rabia2219 commented on #52
9/20/2021
Reached out to Abe on slack with a DM. Waiting for response.

[2021-09-21 09:03] sniux commented on #53
Update 9/21: Finished Jason and Sophia's interview synthesis. All the syntheses are completed.

[2021-09-22 03:41] Rabia2219 opened #58 "Create an image signature for internship team on gmail account"
### Overview
As a product management team, we need the team logo to be set as a default signature for emails.

### Action Items

- [x] Create signature using image

### Resources/Instructions
Image is in one of the emails sent by Bennet to Sophia in the sent folder.

[2021-09-22 16:14] Rabia2219 commented on #49
9/22/2021
Sent email to Brentwood informing them about our progress on the Internship Sponsor Feedback Form and requesting for a deadline.

[2021-09-23 14:53] Rabia2219 commented on #49
9/23/2021
Brentwood responded and would like to have our response by **Thursday September 30th.**
I did go over the form and the questions need to be answered by the mentors and the project teams the interns worked with.

[2021-09-23 15:36] Rabia2219 commented on #49
Agenda for 9/23/2021

**Roll Call**

-

**Survey from Brentwood**

- Deadline is **Thursday, September 30th**.[ Google doc ](https://docs.google.com/document/d/1Wf9gVTV0XrLG0ODfXutvkyorDoDwReNwMMJ0J-dELSo/edit?usp=sharing) of the form.

**UI/UX**
- Update from Justin regarding #50. He was supposed to:
  - update interview instructions (put it in review column)
  - @Justlee98  to create a Q&A doc f

[2021-09-23 15:48] Rabia2219 opened #59 "Get your Team Questions Answered here"
### Dependency
Waiting for new questions to be added.

### Overview
As newbie team members, we need a place to post any questions/suggestions for Bonnie or any other team member.

### Action Items
- [ ] Create issue to post questions/suggestions for Bonnie (this issue)
- [ ] Add a question in a new comment
- [ ] Move issue to Questions and Review column
- [ ] Add to agenda
- [ ] Assign to whoever

[2021-09-23 16:19] priyatalwar commented on #52
Update 9/23 posted it [here](https://github.com/hackforla/data-science/projects/2#card-53801850) and on [data science ](https://hackforla.slack.com/archives/CGRATJCCF/p1632413297030300) and [new joiner slack](https://hackforla.slack.com/archives/C04S7PNCU/p1632413640009900)

[2021-09-23 16:42] Justlee98 opened #60 "Improve onboarding instructions"
### Overview
As a new team member, I want to understand the overview of the project so that I can understand the whole project

### Action Items

- [x] create a document in the team's google drive
- [x] write up notes conversation with Snigdha
- [x] review the [WIKI content](https://github.com/hackforla/VRMS/wiki/Join-the-Team#getting-fully-up-to-speed)

### Resources/Instructions

[google shared

[2021-09-23 16:50] Justlee98 commented on #50
@sniux I finished my review- it looks like we have to add few more element to this! Let me know what time it will best to coordinate or if you have any question about my comments.

[2021-09-23 17:00] Rabia2219 commented on #49
Create new calendar meeting using internship account:
9:30 to 10 for 3 of us (PMs)
and then 10 to 11 for all

[2021-09-23 17:07] Rabia2219 commented on #49
use Zoom Setup to setup link for meetings

[2021-09-23 18:30] priyatalwar opened #61 "Build a texting capability into the Internship Communication Plan"
### Overview
As a project manager, we need to set up automated texting for recruiting/communicating with Interns

### Action Items

### Resources/Instructions
REPLACE THIS TEXT -If there is a website which has documentation that helps with this issue provide the link(s) here.

[2021-09-23 19:59] ExperimentsInHonesty commented on #5
This is the [version that Michele was working on](https://docs.google.com/presentation/d/1HrbgICvv93IqzYbfbN5V1McPvj4iA3PFEJom0KwwuwU/edit#slide=id.gea24f90547_0_3)

Here is the [version I edited](https://docs.google.com/presentation/d/1i83YamHc64eBGIjtkb9PJ-Gnhwkafo-uRFD0qjTZKWo/edit#slide=id.gea24f90547_0_3) from her version

The problem is that we don't know any details about where the images c

[2021-09-23 20:11] ExperimentsInHonesty commented on #5
@sniux I think it would be fine for you to use this in the presentations you are currently working on https://docs.google.com/presentation/d/1i83YamHc64eBGIjtkb9PJ-Gnhwkafo-uRFD0qjTZKWo/edit#slide=id.gea24f90547_0_3

[2021-09-24 00:14] sniux commented on #50
@Justlee98 good job! i'm swamped with work this week as i'm finishing the first research report. I will get back to you post that.

[2021-09-24 02:58] sniux commented on #5
I can use open sourced illustrations and give the credits - I'll refine
these slides, these are helpful. Thank you.

On Fri, 24 Sept 2021 at 01:42, Bonnie Wolfe ***@***.***>
wrote:

[2021-09-24 04:33] priyatalwar commented on #52
@ExperimentsInHonesty @Rabia2219 We found one so closing this issue

[2021-09-24 04:33] #52 closed

[2021-09-24 16:26] Rabia2219 commented on #58
9/24/2021

Done

[2021-09-24 16:26] #58 closed

[2021-09-27 09:05] #38 closed

[2021-09-27 14:22] sniux commented on #53
Update 9/27:

@ExperimentsInHonesty @priyatalwar @Rabia2219
Finished research document and slide deck. Updated the resource link in the issue.

[2021-09-27 16:13] Rabia2219 commented on #49
Agenda for 9/23/2021

**Roll Call**

-

**UI/UX**

- Research Plan
- Slide deck

**New Issue Approval**

- https://github.com/hackforla/internship/issues/48
- https://github.com/hackforla/internship/issues/59

**Survey Form from Brentwood**

- Deadline is **Thursday, September 30th**.[ Google doc ](https://docs.google.com/document/d/1Wf9gVTV0XrLG0ODfXutvkyorDoDwReNwMMJ0J-dELSo/edit?usp=sharing) of

[2021-09-30 16:11] Rabia2219 commented on #49
Agenda for 9/30/2021

**Roll Call**

-

**Survey Form from Brentwood**

- Deadline is **Thursday, September 30th**.[ Google doc ](https://docs.google.com/document/d/1Wf9gVTV0XrLG0ODfXutvkyorDoDwReNwMMJ0J-dELSo/edit?usp=sharing) of the form.

**UI/UX**

Review:
- [Slide Desk](https://docs.google.com/presentation/d/1wxqH-EWRZqgZDx2VUknPf5dxzd481uQb9EtEL-aAGJ0/edit#slide=id.ge256f7f3ff_0_91)
- [IP Hf

[2021-09-30 17:59] Rabia2219 commented on #49
MoM
Justin to add instructions on how to Enable Transcript in the Interview Instructions document.
Rabia and Priyanka will format the documents attached to the Brentwood Survey form.

[2021-09-30 19:25] Rabia2219 commented on #51
@ExperimentsInHonesty
Bonnie, we are done formatting the documents for your input. Just to remind you that the form is **due today!**

[2021-09-30 22:41] Rabia2219 commented on #59
Q: Can we have a centralized document in each shared drive with links to all the documents in that drive for easier lookup?

[2021-09-30 22:45] Rabia2219 opened #62 "Agenda/Questions/Feedback/MoM for Tuesday/Thursday Evening Meetings"
### Overview
This issue tracks the agenda and MoM for the UX meetings for the IS 21: Internship Project

### Action Items

- [ ] Create issue to document agenda and MoMs of the Tuesday and Thursday meetings

### Resources/Instructions
[PM Meeting Agenda
](https://github.com/hackforla/internship/issues/49)

[2021-09-30 22:48] Rabia2219 commented on #62
@priyatalwar @sniux @Justlee98

If you have anything you would like to discuss/bring up during the Tuesday and Thursday evening meetings, put them in the comments and tag the appropriate person.

@sniux
You can put the MoMs of the meeting here as well if you like.

[2021-09-30 22:56] Rabia2219 commented on #62
@sniux you need to update the link to the slide deck in [this issue](https://github.com/hackforla/internship/issues/53).

[2021-09-30 23:08] Rabia2219 commented on #5
09/30/2021
Latest version of the [slide deck](https://docs.google.com/presentation/d/1i83YamHc64eBGIjtkb9PJ-Gnhwkafo-uRFD0qjTZKWo/edit#slide=id.gea24f90547_0_3).

[2021-10-01 00:05] Rabia2219 commented on #62
Questions for 9/30/2021
- is there another Special On boarding planned? (One of the UX person is in Europe and cannot make the one on the 4th)
- just putting this here

[2021-10-02 13:23] sniux commented on #53
Agenda for upcoming meetings with @ExperimentsInHonesty

10/2
- [ ] Review charts
- [ ] Finish up Objectives & KPIs

10/5
- [ ] Re-do recommendations
- [ ] Review slide deck

10/7
- Buffer

@Rabia2219 @priyatalwar please note.

[2021-10-03 04:03] priyatalwar opened #63 "Extrapolate the skills for the interns"
### Dependency
- [ ] When the Research team has created all the templates, Bonnie will have the availability to work on this issue.

### Overview
We need to extrapolate the skills for the interns to find out about:

Objective: Achieve competence in technical aptitude across skills relevant to the 1st year work place

KPI: Measurement of the skills as defined by items listed on interns resume at th

[2021-10-03 04:22] priyatalwar commented on #63
@ExperimentsInHonesty here is the issue about spreadsheet about the extrapolation of the skills.

[2021-10-03 19:51] Rabia2219 opened #64 "Record October 4th Onboarding Session"
### Overview
We need to record the onboarding session on October 4th and share the link with volunteers who cannot attend the live session due to timing or other constraints.

### Action Items

- [x] Record October 4th on boarding session
- [ ] Upload and share link

### Resources/Instructions
[October 4th Onboarding Recording Folder
](https://drive.google.com/drive/folders/1sYLELmZ03oAjpT2fL7irOu

[2021-10-03 20:02] Rabia2219 commented on #59
Q2: Why did we have to move the Google form to the internship gmail drive?

[2021-10-03 20:11] Rabia2219 commented on #43
Posted opportunity in Slack on September 17th, 21st, 22nd, 23rd, 27th and 29th.
Did not attend the CoP meeting on the 22nd because of a speaker event (which was not a good call).
Attended CoP meeting on September 29th.
Was contacted by Maricel Dizon via Slack DM before the meeting on September 29th. She will be attending the October 4th onboarding session and will join the team as a UX researcher.

[2021-10-03 20:13] Rabia2219 commented on #56
Posted opportunity in Slack on September 17th, 21st, 22nd, 23rd, 27th and 29th.
Did not attend the CoP meeting on the 22nd because of a speaker event (which was not a good call).
Attended CoP meeting on September 29th.
Was contacted by Maricel Dizon via Slack DM before the meeting on September 29th. She will be attending the October 4th onboarding session and will join the team as a UX researcher.

[2021-10-03 20:23] Rabia2219 commented on #36
Just putting this here as an observation:
Check dates in the [Intern Interview Sheet](https://docs.google.com/spreadsheets/d/1j7DJltYPago3pZy_M-H_H_jBwOrBu6AN2LavTWTy2JU/edit#gid=1530446346) as they were filled in by Snigdha and are according to her time zone.

[2021-10-03 20:42] Rabia2219 opened #65 "Improve Intern Exit Process"
### Overview
We need to improve on the intern exit process at the end of the internship. We need a scripted form for the exit interview. We need to schedule a final LinkenIn profile check interview before the end of the internship.

### Action Items

- [ ] Make an exit interview form
- [ ] Make a exit LinkedIn profile form

### Resources/Instructions
Exit Interview Form
Exit LinkedIn Profile Form

[2021-10-03 20:44] Rabia2219 commented on #65
@ExperimentsInHonesty I had mentioned that the LinkedIn profile check process needs to be improved and streamlined. Some issues regarding the exit interviews have come up and need to be improved upon as well.

[2021-10-04 15:57] priyatalwar opened #66 "Organize Internship Google Drive"
### Overview
We need to clean up and organize the internship google drive so it is easier to navigate and find what we are looking for

### Action Items
- [x]  Go over all the items on the google drive
- [x] Move it to folder and if it doesn't have a folder, create one

### Resources/Instructions
[Internship google drive](https://drive.google.com/drive/folders/1z3I2SLQzYWBHIypNZO-sTdSO0A8c5pvt)

[2021-10-04 16:11] priyatalwar commented on #51
@Rabia2219 Please update and since the survey has been sent, feel free to close this issue. Thanks!

[2021-10-04 16:16] Rabia2219 commented on #49
Agenda for 10/04/2021

**Roll Call**

-

**PM**

- Intern Exit Process
- Interviews and synthesis

**Recruitment**
- Maricel Dizon (UX researcher) will be attending the onboarding on Oct 4th.
- Kelly Choe (UX designer) cannot attend live and will watch the recording.

**UI/UX**

Review:
- [IP HfLA Website Team Interview Instructions](https://docs.google.com/document/d/1gKklWCPKtVQBbsYoLi59t7tgVKu0

[2021-10-04 17:32] priyatalwar commented on #65
Incorporate the relevant feedback into the research slide deck

[2021-10-04 18:22] ExperimentsInHonesty opened #67 "Audit: Research Question form"
### Overview
We need to audit the questions from the research plan and form in order to make sure they are the same, or which wording we are keeping and to be able to categorize them, so that we can redesign the form (including numbering)

### Action Items
- [x] Create a spreadsheet
  - [x] #
  - [x] Research Plan Question
  - [x] Form Question
  - [x] Match (yes/no)
  - [x] Category (e.g. before,

[2021-10-04 19:01] Rabia2219 commented on #49
MoM 10/4/2021:

- Justin to work on the transferable skills audit spreadsheet
- Rabia to work on the transferable skills interview instructions

@priyatalwar please update with any action items discussed when I wasn't present. thanks.

[2021-10-04 20:13] priyatalwar commented on #49
Already included an update on the agenda itself 🙂

[2021-10-04 21:35] priyatalwar commented on #65
@ExperimentsInHonesty Added the [slide ](https://docs.google.com/presentation/d/1i83YamHc64eBGIjtkb9PJ-Gnhwkafo-uRFD0qjTZKWo/edit#slide=id.gf5d79d0966_0_0)

[2021-10-04 22:15] Rabia2219 commented on #51
Survey sent on September 30th.

[2021-10-04 22:16] Rabia2219 commented on #51
Survey sent on September 30th.

[2021-10-04 22:16] #51 closed

[2021-10-07 05:51] priyatalwar commented on #49
Agenda for 10/07/2021
- Roll Call:

**PM**
 - Onesheet #26
 - Add roadmap #54 from HFLA and guide roadmap and assign to Bonnie (Review column); add objectives from onesheet
 - Miestone and schema
 - hypothesis #32
 - - Discuss HCI Acumen program that we are doing

**Data Scientist**
- Extrapolation of skills #63
- Stats #31

**UI/UX**
- Justin / Rabia: Update on research on transferable skills int

[2021-10-11 06:35] tonydo95 commented on #67
I have finished my tasks. If you need to me to change something, message me about them.

[2021-10-11 14:15] Rabia2219 commented on #27
@priyatalwar
All action items have been checked off. Close and done?

[2021-10-11 14:20] Rabia2219 commented on #32
@ExperimentsInHonesty
Maricel would like you to show her how to put links in issues.

[2021-10-11 15:19] Rabia2219 commented on #49
Agenda for 10/11/2021
- Roll Call:

**PM**
 - [Onesheet](https://docs.google.com/document/d/1vovX2o0qiw4z9BUrH1Wb5RL9AzaveguQ1KMZ27nj11w/edit) #26
 - Add roadmap #54 from HFLA and guide roadmap and assign to Bonnie (Review column); add objectives from onesheet
 - Milestone and schema #23

**Data Analysis**
- Extrapolation of skills #63 [spreadsheet](https://docs.google.com/spreadsheets/d/11KC6P07d

[2021-10-11 15:45] Rabia2219 commented on #59
Q4: Is there a way to make the links open in a new tab by default?

[2021-10-11 22:59] priyatalwar opened #68 "logo, color pallet , typography, branding initial work"
### Overview
To achieve consistency, communicate  and present with clarity, we need to create our brand identity

### Action Items
- [ ] Create a color palette
   - [ ] Kelly will try 3-color combos with each word having its own color
      - TechWorkExperience
      - TechWorkInternship
    - [ ] Color Palette - Still needs work depending on if we decided to keep the multi-color logo.
- [ ] Desig

[2021-10-13 14:16] Rabia2219 commented on #64
@ExperimentsInHonesty
Hi Bonnie, if we have a viable recording for the Oct 12th onboarding, can you please upload here so that I can share it? Thanks.

[2021-10-14 17:01] #31 closed

[2021-10-14 17:01] ExperimentsInHonesty commented on #32
@maruja0516 has found some other studies for us to reference for stats https://github.com/hackforla/internship/issues/31

[2021-10-15 18:48] Rabia2219 opened #69 "Accessibilty audit of TWE and HackforLA"
### Dependency
- Guides Team publishing a finished guide on how to make our guides accessible https://github.com/hackforla/knowledgebase-content/issues/134
- Implementing the guidance above into all the guide drafts

### Overview
As an inclusive community, we need to make sure that all our projects provide accessibility to people of all abilities to participate, learn and grow.
To present this sim

[2021-10-15 23:29] maruja0516 commented on #31
@ExperimentsInHonesty thank you!

[2021-10-16 12:48] sniux commented on #53
@Rabia2219 I think @kellychoe will be editing the slide deck, so let's not close it just yet.

[2021-10-16 12:52] sniux commented on #27
@Rabia2219 I think there 3 action items left.

[2021-10-16 13:02] sniux commented on #67
@priyatalwar @ExperimentsInHonesty @tonydo95 I have reordered some questions and numbered them.

[2021-10-17 02:58] Rabia2219 commented on #43
Kelly Choe has joined our project as our UX designer.

[2021-10-18 01:33] sniux opened #70 "Bonnie and Priyanka's LORs for Snigdha's upcoming Masters' Applications"
### Overview
We have created this issue to obtain transparency for Snigdha's LOR uploads during her upcoming masters' applications.

### Action Items

**Bonnie:**
- [ ] Upload University of Maryland's LOR on 25th October - _Change the program to Information Systems_
- [ ] Upload Kansas University's LOR on 26th October - _Change the program to User Experience and Interaction Design_
- [ ] Upload Un

[2021-10-18 18:03] ExperimentsInHonesty commented on #59
A4: sadly no according to this [resource](https://stackoverflow.com/questions/41915571/open-link-in-new-tab-with-github-markdown-using-target-blank).  However, GitHub might change that in the future.  If they do it probably will recognize html so it will look something like this ```<a href="https://www.w3schools.com" target="_blank">Visit W3Schools</a>````
and work like this <a href="https://www.w

[2021-10-18 18:35] priyatalwar opened #71 "Metrics checklist"
### Dependency
- #105

 ### Overview

We need to create a metrics checklist so that whenever we implement something, the results can be measured and we can gauge how effective our implementation has been.

### Action Items

- [ ] #105
- [ ] Meet with team to decide on approach to data instrumentation
- [ ] Create next steps

### Resources/Instructions
[CfA workshop video](https://www.youtube.com/w

[2021-10-18 23:45] sniux commented on #70
@ExperimentsInHonesty @priyatalwar Closing this issue since I got into SUNY Oswego's HCI (Research) Program!

[2021-10-18 23:45] #70 closed

[2021-10-20 15:23] maruja0516 commented on #32
@ExperimentsInHonesty @Rabia2219 @priyatalwar did you guys want me to start working on the other task?

[2021-10-20 16:19] priyatalwar commented on #49
Agenda for 10/21/2021

Roll Call:

Continue working on roadmap Create a Roadmap #54

New Issue Approval

Record Tuesday and Thursday Meetings with UX Researcher #48
Build a texting capability into the Internship Communication Plan #61
Accesibility, UAT (Acceptance criteria, test case, feedback), UX researcher capability

Questions:

Developing User Personas Develop Personas #30

Milestones and sch

[2021-10-20 22:13] priyatalwar commented on #68
Add missing label: Collaborative work

[2021-10-21 00:38] Rabia2219 commented on #59
Q5: Can we import labels from other projects/repositories?

[2021-10-21 00:48] sniux commented on #30
@priyatalwar @ExperimentsInHonesty we can extend the personas and create empathy maps and user journeys as well.

[2021-10-21 01:43] maruja0516 commented on #68
Let let me know how I can contribute with this. I will be more than happy to help.

[2021-10-21 07:43] priyatalwar opened #72 "Add feature label to each issue"
### Overview
We need to be able to sort the  github board and issues by feature labels so that we can see the status and progress of any given feature

### Action Items
 - [x] Create a feature label  based on objectives and what is needed to achieve them
 - [ ]  Assign a Feature missing' label to all issues without a feature label
    - [ ] For all 'Feature missing' issues, assign the appropriate

[2021-10-21 13:52] Rabia2219 commented on #60
@sniux those are just questions/comments that @Justlee98 put together. You both can collaborate and work on finishing it and yes, it is on the agenda for today.

[2021-10-21 13:54] Rabia2219 commented on #50
@sniux I just have a few fixes left which I will be doing before today's meeting. You and @Justlee98 can take over then and wrap it up. It is on the agenda for today's meeting.

[2021-10-21 15:07] Rabia2219 opened #73 "Create Milestones"
### Overview
We need to create the milestones we have named in the roadmap, within the repository.

### Action Items

- [x] Create all milestones named in the roadmap

### Resources/Instructions
[Roadmap](https://docs.google.com/spreadsheets/d/1GijHiK_DRmlU8U0fZKsV9cjYhy9h3pZ5_OYQVx_mbgo/edit#gid=1055226176)
[Milestones](https://github.com/hackforla/internship/milestones?direction=asc&sort=title&s

[2021-10-21 17:48] Rabia2219 commented on #32
@maruja0516 please put your comment here about interviewing STEM students about what struggles they face that cause them to drop out of STEM programs.

[2021-10-21 18:15] Rabia2219 commented on #49
Update 10/21/2021:

@priyatalwar and @rabia:
- make issues for each member related to the branding exercise so they can update it when they are done
- collaborate to go over Maricel's work on the Hypothesis

@maruja0516 :
- look for existing research on what factors affect STEM retention

@Justlee98:
- update the Audit spreadsheet to include missing questions, go over the match again to make sure

[2021-10-21 22:59] Rabia2219 opened #74 "Branding Exercise: Priyanka Talwar"
### Overview
We need to take part in the branding exercise on FigJam in order to create our project's brand identity.

### Action Items

- [x] Come up with a tag line
- [x] Come up with a brand personality
- [x] Come up with brand attributes (adjectives that describe the brand)
- [x] Come up with brand values

### Resources/Instructions
[FigJam Branding Exercise](https://www.figma.com/file/VgxjTXP

[2021-10-21 23:04] priyatalwar opened #75 "Branding Exercise: Maricel Dizon"
### Overview
We need to take part in the branding exercise on FigJam in order to create our project's brand identity.

### Action Items

- [x] Come up with a tag line
- [x] Come up with a brand personality
- [x] Come up with brand attributes (adjectives that describe the brand)
- [x] Come up with brand values

### Resources/Instructions
[FigJam Branding Exercise](https://www.figma.com/file/VgxjTXP

[2021-10-21 23:05] priyatalwar opened #76 "Branding Exercise: Snigdha"
### Overview
We need to take part in the branding exercise on FigJam in order to create our project's brand identity.

### Action Items

- [x] Come up with a tag line
- [x] Come up with a brand personality
- [x] Come up with brand attributes (adjectives that describe the brand)
- [x] Come up with brand values

### Resources/Instructions
[FigJam Branding Exercise](https://www.figma.com/file/VgxjTXP

[2021-10-21 23:49] Rabia2219 opened #77 "Branding Exercise: Seena Iype"
### Overview
We need to take part in the branding exercise on FigJam in order to create our project's brand identity.

### Action Items

- [x] Come up with a tag line
- [x] Come up with a brand personality
- [x] Come up with brand attributes (adjectives that describe the brand)
- [x] Come up with brand values

### Resources/Instructions
[FigJam Branding Exercise](https://www.figma.com/file/VgxjTXP

[2021-10-21 23:51] Rabia2219 opened #78 "Branding Exercise: Bonnie Wolfe"
### Overview
We need to take part in the branding exercise on FigJam in order to create our project's brand identity.

### Action Items

- [x] Come up with a tag line
- [x] Come up with a brand personality
- [x] Come up with brand attributes (adjectives that describe the brand)
- [x] Come up with brand values

### Resources/Instructions
[FigJam Branding Exercise](https://www.figma.com/file/VgxjTXP

[2021-10-21 23:53] Rabia2219 opened #79 "Tin Do Branding Exercise"
### Overview
We need to take part in the branding exercise on FigJam in order to create our project's brand identity.

### Action Items

- [ ] Come up with a tag line
- [ ] Come up with a brand personality
- [ ] Come up with brand attributes (adjectives that describe the brand)
- [ ] Come up with brand values

### Resources/Instructions
[FigJam Branding Exercise](https://www.figma.com/file/VgxjTXP

[2021-10-21 23:56] Rabia2219 opened #80 "Justin Lee Branding Exercise"
### Overview
We need to take part in the branding exercise on FigJam in order to create our project's brand identity.

### Action Items

- [ ] Come up with a tag line
- [ ] Come up with a brand personality
- [ ] Come up with brand attributes (adjectives that describe the brand)
- [ ] Come up with brand values

### Resources/Instructions
[FigJam Branding Exercise](https://www.figma.com/file/VgxjTXP

[2021-10-21 23:58] Rabia2219 opened #81 "Branding Exercise: Rabia Shaikh"
### Overview
We need to take part in the branding exercise on FigJam in order to create our project's brand identity.

### Action Items

- [x] Come up with a tag line
- [x] Come up with a brand personality
- [x] Come up with brand attributes (adjectives that describe the brand)
- [x] Come up with brand values

### Resources/Instructions
[FigJam Branding Exercise](https://www.figma.com/file/VgxjTXP

[2021-10-25 17:34] #78 closed, assigned to ExperimentsInHonesty

[2021-10-26 01:53] #76 closed, assigned to snigbehara

[2021-10-27 01:44] #81 closed, assigned to Rabia2219

[2021-10-27 05:12] #74 closed, assigned to priyatalwar

[2021-10-28 12:26] #77 closed, assigned to seenaiype

[2021-11-01 05:29] priyatalwar commented on #49
Agenda for 11/1/2021

Roll Call:

PM:
- [Accessibility Audit](https://github.com/hackforla/internship/issues/69)
- Team management (Researcher, designer, Tuesday evening meeting)
- Continue working on [roadmap](https://docs.google.com/spreadsheets/d/1GijHiK_DRmlU8U0fZKsV9cjYhy9h3pZ5_OYQVx_mbgo/edit#gid=1192591317) #54
- #23

New Issue Approval
- #72
- #48
- #73

Questions/Comments:

 - Ask about M

[2021-11-01 18:09] ExperimentsInHonesty commented on #72
Closing this issue because there is already an issue made for this #23

[2021-11-01 18:09] #72 closed

[2021-11-01 19:49] ExperimentsInHonesty commented on #56
we just moved the regular research position to filled on the board.

[2021-11-03 01:47] Rabia2219 commented on #62
@priyatalwar @sniux please put updates here after tonight's meeting...thank you...

[2021-11-03 03:11] priyatalwar commented on #32
@maruja0516 Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-11-03 03:13] #67 closed

[2021-11-03 03:15] priyatalwar commented on #53
@sniux Please make a new issue pertaining to design.

[2021-11-03 03:17] priyatalwar commented on #27
@sniux Please add to the wiki before closing this issue.

[2021-11-03 03:18] #24 closed

[2021-11-03 03:22] priyatalwar commented on #13
@Zak234 Friendly reminder looks like you were not able to finish networking. It is not too late.  Here are the outstanding items,

Sakari is not yet connected to: Akib, Kristine, Danielle - you can find most of their linkedin urls on the team roster
Sakari performed many pr reviews and should connect with each of those people: https://github.com/hackforla/website/pulls?q=is%3Apr+is%3Aclosed+review

[2021-11-03 03:26] ExperimentsInHonesty commented on #59
Answer: yes, they just added that feature, however we have not yet explored how to make it work, and other projects already have other labels that we would not use.  Needs more research before it can be  used... don't hold your breath.  Just get on with making the necessary labels.... but do ask me again if we are starting a project from scratch,

[2021-11-03 03:28] ExperimentsInHonesty commented on #59
Answer: there is a new feature called discussions and they are asking you if you want to convert all issues using that label to a discussion board.  Don't do it for any of our issues.  We can discuss applicability later.

[2021-11-03 03:30] ExperimentsInHonesty commented on #59
Answer: because its easier for members to find the issues that are only for them.

[2021-11-03 03:33] ExperimentsInHonesty commented on #59
Answer:
yes, the people whose github handles those are, are getting emails from us.  Which is why when I paste something from slack I try to put it in code quotes e.g.
[code]
yes, we should untag them
yes, it will be a recurring human error, however if you use code quotes its less likely to happen.

[2021-11-03 03:38] priyatalwar commented on #56
@Rabia2219 Please close this issue since we filled it up

[2021-11-03 03:50] priyatalwar opened #82 "Recruit a UX Research Lead"
### Dependency
When we need another UX research lead

### Overview
We are trying to recruit a UX Research lead who has an advanced degree, preferably PhD with 1+ years of experience.

### Action Items

- [x] Edit note
- [x] Post it in opportunities
- [ ] Talk to potential UX researchers
- [x] post on open roles board
- [ ] If needed, recruit outside our org by using the pipelines doc to find other

[2021-11-03 03:51] sniux opened #83 "Polish up the slide deck according to the branding guidelines"
### Dependencies
- [x] #68
- [x] #167

### Overview
We need to revamp the Research 1 slide deck to have a consistent tone with the branding guidelines.

### Action Items

- [ ] Finalize the brand identity #68
- [ ] Edit the slide deck accordingly
- [ ] Check off the box in the epic that refers to this issue #53

### Resources/Instructions
[Slide deck
](https://docs.google.com/presentation/d/1i83Ya

[2021-11-03 03:58] sniux commented on #82
Changed the role from: _We are recruiting a UX researcher who will be working with various methodologies to analyze the various scopes for improvement in enhancing the experience of the interns we have recruited for the program. They will also be working on drafting hypotheses and finding actionable insights for the problem statements, that will solidify the establishment of the program._ to _**We

[2021-11-03 04:08] priyatalwar commented on #82
I changed the role completely. Please review @sniux

[2021-11-03 06:34] sniux commented on #62
@Rabia2219 [here's the recording.](https://drive.google.com/file/d/1qJgAj8kBd-kEp5DjOEWXIhkvRCyxdR7w/view?usp=sharing) for 2nd Nov 2021.

Also @priyatalwar can you make a separate folder for UXR recordings on Tuesday, and organize the resources I uploaded? I could not find the folder.

[2021-11-03 06:35] sniux commented on #82
Looks great @priyatalwar.

[2021-11-03 14:27] Rabia2219 commented on #75
@maruja0516 can you please close this issue? thank you :)

[2021-11-03 14:36] ExperimentsInHonesty opened #84 "Competitive Analysis: Paid Internship placement"
### Overview
We need to perform a comparative/competitive analysis to understand our offering in the marketplace

### Action Items
- [ ] Setup spreadsheet
- [ ] Add our program
- [ ] Add other programs
- [ ] Define features

### Resources/Instructions

[comparative/competitive analysis template](https://docs.google.com/spreadsheets/d/1ePxxsLpdC4MMvJICyMYljHawhs1j-hpFHZFOtB0fdDc/edit#gid=1259306930

[2021-11-03 15:33] #75 closed

[2021-11-04 01:33] Rabia2219 commented on #62
I made a Meeting Recordings folder...we can keep track by having a naming convention like: TueNov2nd which I did for the meeting mentioned above...

[2021-11-04 06:04] priyatalwar commented on #82
@sniux @Rabia2219 posted the opportunity

[2021-11-04 16:11] priyatalwar commented on #49
Agenda for 11/1/2021

Roll Call: Seena, Bonnie, Priyanka, Rabia

PM:
- Team management (Researcher, designer, Tuesday evening meeting) (create visualization doc)
- Continue working on [roadmap](https://docs.google.com/spreadsheets/d/1GijHiK_DRmlU8U0fZKsV9cjYhy9h3pZ5_OYQVx_mbgo/edit#gid=1192591317) #54
- #23
- Extrapolation of skills Extrapolate the skills for the interns #63 spreadsheet - Bonnie s

[2021-11-05 05:43] priyatalwar commented on #82
Posted opportunity on slack

[2021-11-05 17:52] kellychoe commented on #68
For Next Week (11/11/2021) :

1) Brand Values Part 2- Take the Attributes we've identified, see below and define them as our values.  See Cars.com for ref. and will add the Hotel Chocolate Values for reference in the Figjam.

Our Brand Attributes:
Supportive
Collaboration
Practical
Innovative
Structured / Adaptive
Inclusive
Fun

2) Project Name Scenario exercise @ Bonnie.

To Do for the future:

-

[2021-11-05 18:05] maruja0516 commented on #32
@priyatalwar @Rabia2219 @ExperimentsInHonesty I have updated the STEM articles with the Intern's quotes.

[2021-11-05 21:31] priyatalwar commented on #32
Thanks @maruja0516. We'll review in our next meeting.

[2021-11-08 17:22] Rabia2219 commented on #49
Agenda for 11/8/2021

Roll Call:

PM:
- Christmas holiday schedule?
- Extrapolate the skills for the interns #63 spreadsheet - Bonnie was supposed to work on it; Tin to work on it now
- Transferable Skills Questions Audit #67 (Copy of LA TDM usability project template in our research plan folder)
- Team management (create visualization doc) (Need to create an issue and then work on it)
- Continue

[2021-11-08 18:28] #73 closed

[2021-11-08 23:13] ExperimentsInHonesty commented on #23
Audit on 2021-11-08
Role: 10/2
size: 0/0
feature: 29/12

[2021-11-08 23:36] ExperimentsInHonesty commented on #64
I am going to close this issue.  I onboarded Kelly directly

[2021-11-08 23:36] #64 closed

[2021-11-08 23:48] ExperimentsInHonesty commented on #45
I did run one on a saturday (about 5 people came).  I am closing this issue.

[2021-11-08 23:48] #45 closed

[2021-11-09 00:02] ExperimentsInHonesty commented on #10
This was completed

[2021-11-09 00:02] #10 closed

[2021-11-09 00:36] ExperimentsInHonesty commented on #7
I put this issue in the New Issue Approval so that we can review it

[2021-11-09 01:14] ExperimentsInHonesty commented on #23
added a label called epic for issues that are too big and need to be broken down

[2021-11-09 02:15] ExperimentsInHonesty commented on #12
add this guidance to the slide deck
https://github.com/hackforla/internship/issues/14#issuecomment-908558229

[2021-11-09 02:20] ExperimentsInHonesty commented on #49
@priyatalwar @Rabia2219 @seenaiype I spent 5 hours assigning labels and milestones and cleaning out the icebox and the new issue approval column.  At the next meeting, let's do the following:
- [ ] go through the new issue approval column to determine if we can approve the issues or add dependencies and put in the icebox https://github.com/hackforla/internship/projects/1#column-15516595
- [ ] fini

[2021-11-09 04:59] priyatalwar opened #85 "Rabia Shaikh: Create Brand Values"
### Overview
We need to marry the brand attributes that we identified and define them as our values.

### Action Items
Brand Values Part 2

- [x] See examples on the [ FigJam for Brand Identity](https://www.figma.com/file/VgxjTXP3PJhzZxMeMURf2f/Branding-Exercise?node-id=0%3A1)
- [x] Take the Attributes we've identified
- [x] Define them as our values.

Examples: See Cars.com for ref. and will add

[2021-11-09 05:04] priyatalwar opened #86 "Maricel Dizon: Create Brand Values"
### Overview
We need to marry the brand attributes that we identified and define them as our values.

### Action Items
Brand Values Part 2

- [x] See examples on the [ FigJam for Brand Identity](https://www.figma.com/file/VgxjTXP3PJhzZxMeMURf2f/Branding-Exercise?node-id=0%3A1)
- [x] Take the Attributes we've identified
- [x] Define them as our values.

Examples: See Cars.com for ref. and will add

[2021-11-09 05:06] priyatalwar opened #87 "Snigdha: Create Brand Values"
### Overview
We need to marry the brand attributes that we identified and define them as our values.

### Action Items
Brand Values Part 2

- [x] See examples on the [ FigJam for Brand Identity](https://www.figma.com/file/VgxjTXP3PJhzZxMeMURf2f/Branding-Exercise?node-id=0%3A1)
- [x] Take the Attributes we've identified
- [x] Define them as our values.

Examples: See Cars.com for ref. and will add

[2021-11-09 05:08] priyatalwar opened #88 "Bonnie: Create Brand Values"
### Overview
We need to marry the brand attributes that we identified and define them as our values.

### Action Items
Brand Values Part 2

- [ ] See examples on the [ FigJam for Brand Identity](https://www.figma.com/file/VgxjTXP3PJhzZxMeMURf2f/Branding-Exercise?node-id=0%3A1)
- [ ] Take the Attributes we've identified
- [ ] Define them as our values.

Examples: See Cars.com for ref. and will add

[2021-11-09 05:10] priyatalwar opened #89 "Tin Do: Create Brand Values"
### Overview
We need to marry the brand attributes that we identified and define them as our values.

### Action Items
Brand Values Part 2

- [x] See examples on the [ FigJam for Brand Identity](https://www.figma.com/file/VgxjTXP3PJhzZxMeMURf2f/Branding-Exercise?node-id=0%3A1)
- [x] Take the Attributes we've identified
- [x] Define them as our values.

Examples: See Cars.com for ref. and will add

[2021-11-09 05:12] priyatalwar opened #90 "Justin Lee: Create Brand values"
### Overview
We need to marry the brand attributes that we identified and define them as our values.

### Action Items
Brand Values Part 2

- [ ] See examples on the [ FigJam for Brand Identity](https://www.figma.com/file/VgxjTXP3PJhzZxMeMURf2f/Branding-Exercise?node-id=0%3A1)
- [ ] Take the Attributes we've identified
- [ ] Define them as our values.

Examples: See Cars.com for ref. and will add

[2021-11-09 05:13] priyatalwar opened #91 "Priyanka Talwar: Create Brand Values"
### Overview
We need to marry the brand attributes that we identified and define them as our values.

### Action Items
Brand Values Part 2

- [x] See examples on the [ FigJam for Brand Identity](https://www.figma.com/file/VgxjTXP3PJhzZxMeMURf2f/Branding-Exercise?node-id=0%3A1)
- [x] Take the Attributes we've identified
- [x] Define them as our values.

Examples: See Cars.com for ref. and will add

[2021-11-09 05:29] priyatalwar commented on #49
Sounds good. Thanks so much Bonnie!

[2021-11-09 05:30] priyatalwar opened #92 "Seena Iype: Create Brand Values"
### Overview
We need to marry the brand attributes that we identified and define them as our values.

### Action Items
Brand Values Part 2

- [x] See examples on the [ FigJam for Brand Identity](https://www.figma.com/file/VgxjTXP3PJhzZxMeMURf2f/Branding-Exercise?node-id=0%3A1)
- [x] Take the Attributes we've identified
- [x] Define them as our values.

Examples: See Cars.com for ref. and will add

[2021-11-09 18:10] priyatalwar commented on #49
Agenda for 11/9/2021

Roll Call:

PM:
- Extrapolate the skills for the interns #63 spreadsheet
  - Update from Tin:
- Transferable Skills Questions Audit #67 (Copy of LA TDM usability project template in our research plan folder)

Questions/Comments:

 - Ask about personas #30 since might be ideal to create them for our branding exercise with Kelly

 - Discuss implementation of RACI #55 given rece

[2021-11-10 03:56] #89 closed

[2021-11-10 17:31] #86 closed

[2021-11-10 22:49] #91 closed

[2021-11-11 13:48] #92 closed

[2021-11-11 15:39] Rabia2219 commented on #85
done!

[2021-11-11 15:39] #85 closed

[2021-11-11 17:09] #90 closed

[2021-11-12 10:56] kellychoe commented on #68
1. @ExperimentsInHonesty Bonnie to add definitions for the Brand Values and edit to the final internship core values.
2. For those that left,  Inclusive yet Adaptive blank, please complete.
3. The rest of the team needs to vote on the Brand name.
4. Test out top-rated brand names with students.  Survey...?  InternshipSTEM and STEMintoREAL.
5. Land on Brand mission statement, tagline.

[2021-11-14 15:27] Rabia2219 commented on #23
Finished creating all labels finalized thus far in the roadmap on Nov 11 21.

[2021-11-14 18:17] #87 closed

[2021-11-14 18:26] Rabia2219 commented on #69
@ExperimentsInHonesty can we add feature: compliance or feature: epic to this issue?

[2021-11-14 18:35] Rabia2219 commented on #19
@ExperimentsInHonesty feature: onboarding?

[2021-11-14 19:06] Rabia2219 commented on #69
or create a new label called feature: audit as we have another issue for audit and may do more?

[2021-11-14 19:08] Rabia2219 commented on #65
can we change this issue name to Audit of Intern Exit Process? then we can use the feature: audit label here as well...

[2021-11-14 19:22] Rabia2219 commented on #23
Audit Nov 14 21

size, starting at 15/8
features, starting at 10/6
role, starting at 1/1
milestone, starting at 0/0
Project missing, starting at 0

size, ending at 15/5
features, ending at 9/5
role, ending at 1/0
milestone, ending at 0/0
Project missing, ending at 0

[2021-11-15 17:03] Rabia2219 commented on #29
@ExperimentsInHonesty asking again to close this issue as we have the Figma setup now...

[2021-11-15 17:08] Rabia2219 commented on #23
Can we add feature: compliance or feature: epic to [this issue](https://github.com/hackforla/internship/issues/69) OR create a new label called **feature: audit** as we have another issue for audit and may do more audits in the future?
Can we rename [this issue](https://github.com/hackforla/internship/issues/65) to Audit of Intern Exit Process? then we can use the feature: audit label here as well

[2021-11-15 17:13] priyatalwar commented on #49
Agenda for 11/15/2021

Roll Call:

PM:
- [ ] go through the new issue approval column (12) to determine if we can approve the issues or add dependencies and put in the icebox https://github.com/hackforla/internship/projects/1#column-15516595
- [ ] finish adding labels to the issue that are still missing them
   - [ ] https://github.com/hackforla/internship/issues/23#issuecomment-963659293
   - [ ]

[2021-11-15 17:14] priyatalwar commented on #53
Should we make it an epic instead?

[2021-11-15 17:20] priyatalwar commented on #23
Can we assign the "feature: strategy" label to this issue[RACI](https://github.com/hackforla/internship/issues/55#issue-998377776)

[2021-11-15 17:29] Rabia2219 commented on #23
What is meant by Project Missing? What is project board here:

All issues with Missing labels
Role
size
feature
milestone
project board

we do not have any label called project board...

[2021-11-15 17:58] ExperimentsInHonesty commented on #29
The figma has been setup and we have instructions for how to onboard someone to figma.

[2021-11-15 17:58] #29 closed

[2021-11-15 17:58] ExperimentsInHonesty commented on #29
https://github.com/hackforla/internship/wiki/Onboarding-Process-for-Project-Team-Leads

[2021-11-15 19:06] ExperimentsInHonesty commented on #30
@sniux please
- [ ] add the size of this issue as a label
- [ ] see the template I added above
- [ ] add a link to the document you are working in

[2021-11-15 19:12] ExperimentsInHonesty commented on #60
this issue is closed because we updated the wiki to have two new sets of instructions
https://github.com/hackforla/internship/wiki/Joining-the-Team
https://github.com/hackforla/internship/wiki/Onboarding-Process-for-Project-Team-Leads

[2021-11-15 19:12] #60 closed

[2021-11-15 19:17] ExperimentsInHonesty commented on #62
Items for next meeting
- Review if we have had an response to this posting https://github.com/hackforla/internship/issues/82

[2021-11-15 19:40] ExperimentsInHonesty commented on #23
Answer to

When you click on project board link the number should be zero because each issue should be on the project board.  Its a check to see if any projects have not been added. The filter is ```no:project```

[2021-11-15 19:46] ExperimentsInHonesty commented on #23
2021-11-15
size, ending at 15/5
features, ending at 9/5
role, ending at 1/0
milestone, ending at 0/0
Project missing, ending at 0

[2021-11-15 19:51] ExperimentsInHonesty commented on #32
We gave feedback in the meeting, that we need stats and make sure each problem identified has corresponding stats or quotes from our research #1

[2021-11-15 20:20] Rabia2219 commented on #49
Updates:

- [ ] Rabia to clean up https://github.com/hackforla/internship/issues/43 and move to Ice Box
- [ ] ask Snigdha if she can record Tuesday and Thursday meetings on her device and upload them
- [ ] ask Snigdha to put updates on the agenda after the Tuesday and Thursday meetings
- [ ] ask Snigdha and Tin to add items to discuss on the Tuesday and Thursday meetings agenda
- [ ] ask Maricel,

[2021-11-15 20:37] Rabia2219 commented on #62
Updates from Nov 16th meeting:

[2021-11-15 20:39] Rabia2219 commented on #62
@sniux @tonydo95

I've made a template for you to add your discussion items for the Tuesday and Thursday meetings and also one for the updates after the meetings. You can copy and paste these each week and add your discussion items and then the updates.

[2021-11-15 20:58] Rabia2219 commented on #48
@sniux
do you think you can manage this?

[2021-11-16 11:24] sniux commented on #48
@Rabia2219 I can record but I don't have the permissions to manage/organize the drive.

[2021-11-16 14:02] Rabia2219 commented on #48
yes you did :) and that's all that you need to do...just record and upload to the folder linked in the description above...you don't need to manage/organize...thank you :)

[2021-11-16 14:19] Rabia2219 commented on #48
yes you did and thank you for that 👍 :) that's all you have to keep doing if you are up for it...the folder is linked in the description above...you don't need to manage/organize...just upload the recording to the folder...let me know if that works...thanks

[2021-11-16 17:36] priyatalwar commented on #82
Update 11/16: Slack message:
from Tammy Yung: She has a PhD in psychology, but does not seem to have UX Research experience. here is her LinkedIn profile https://www.linkedin.com/in/tammy-yung/. @sniux @ExperimentsInHonesty please review at tonight's meeting and lmk if I should get back to her.

[2021-11-17 05:43] priyatalwar commented on #82
@sniux @ExperimentsInHonesty did you get a chance to discuss Tammy? I'd like to let her know by tomorrow.

[2021-11-17 20:40] maruja0516 commented on #32
I have updated some of the stats I can find. Some it was hard to find any supporting states.

[2021-11-18 04:26] tonydo95 commented on #62
Updates from Nov 16th meeting:

- Edit the Productivity results for engineering and ui/ux table and wait for Bonnie to add more skills to table and assign the task to me on GitHub.

[2021-11-18 05:00] priyatalwar commented on #49
Agenda for 11/18/2021

Roll Call:
PM:
- [ ] finish adding labels to the issue that are still missing them
   - [ ] https://github.com/hackforla/internship/issues/23#issuecomment-963659293
   - [ ] break down epic issues https://github.com/hackforla/internship/issues/23#issuecomment-963722375

Recruitment:
- [ ] Provide update on UX lead (Tammy) posting #82

Comments:
ON HOLD until we have all the

[2021-11-18 17:16] Rabia2219 commented on #66
@priyatalwar how do we want to proceed with this?

[2021-11-18 20:05] ExperimentsInHonesty commented on #82
Recent post edit
[code]

[2021-11-18 20:16] ExperimentsInHonesty commented on #23
2021-11-18
size, ending at 12/5
features, ending at 6/5
role, ending at 1/0
milestone, ending at 0/0
Project missing, ending at 0

[2021-11-18 22:24] sniux commented on #82
@priyatalwar Looks good. Did you talk to Tammy yet?

[2021-11-18 22:25] sniux commented on #66
@priyatalwar you can create a miscellaneous folder.

[2021-11-18 22:35] sniux commented on #62
11/16/2021

Discussed:
- Discussed how personas need to be updated by focusing on the incoming interns as the key demographic
- Created different use cases for personas

Assigned:

- [ ] Complete user personas

@Rabia2219 sorry for the delay and I could not find any template.

[2021-11-18 22:36] sniux commented on #48
@Rabia2219 got it, that works!

[2021-11-19 02:15] ExperimentsInHonesty commented on #49
In the next management meeting we should talk about how we are going to break down this issue into two separate issues or more
https://github.com/hackforla/internship/issues/65
Its reasonable to have an issue that improves the linkedin review process and other issues that do other things.

[2021-11-19 20:20] Rabia2219 commented on #48
Thank you, @sniux...this will help @priyatalwar and I stay on top of your and Tin's assignment...really appreciate it!

[2021-11-19 20:25] Rabia2219 commented on #62
@sniux the templates are in the comments above...
[Meeting Agenda Template](https://github.com/hackforla/internship/issues/62#issuecomment-969236469)
[Update Template](https://github.com/hackforla/internship/issues/62#issuecomment-969299691)

[2021-11-22 19:43] kellychoe commented on #68
@ExperimentsInHonesty, I created a quick branding Platform for you to share with other teams for name suggestions.  Please note it's not for actual fonts or visual guides.   It's per your request "a prettier, simpler" view.  It's a Figma file. Let me know if you have trouble opening it.  I can share in slack as well.

Internship Branding Platform (https://www.figma.com/file/WcNk1SN4Hmdo7vpBX5O5Oa/

[2021-11-24 04:08] Rabia2219 commented on #68
Looks good...some thoughts:
the Mission Statement needs a little tweaking?
also for the values...maybe Collaborative and Inclusive sound better?

[2021-11-24 10:06] kellychoe commented on #68
@Rabia2219 Yes, agree. The Misson Statement and also the Brand Personality description need tweaking.  A better definition of why Sesame Street personality is relevant to the internship.  I'll leave that for our marketing/content writer team!  😄  or we can look at it as a group. I started pulling  Fonts and colors. I hope to review this with the team next time.

[2021-11-29 17:21] priyatalwar commented on #49
Agenda for 11/29/21

### Prework
- [ ] Audit missing labels https://github.com/hackforla/internship/issues/23#issuecomment-973226911

### Roll Call

PM:
- [ ] finish adding labels to the issue that are still missing them
   - [ ] https://github.com/hackforla/internship/issues/23#issuecomment-963659293
   - [ ] break down epic issues https://github.com/hackforla/internship/issues/23#issuecomment-96

[2021-11-29 17:55] ExperimentsInHonesty commented on #23
2021-11-29
size, ending at 12/5
features, ending at 6/5
role, ending at 1/0
milestone, ending at 0/0
Project missing, ending at 0

[2021-11-29 18:24] ExperimentsInHonesty opened #93 "Weekly Audit of labels and milestones"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
- [ ] Check the following to make sure that they are all 0/0 (Links for checking to make sure that all issues either have a ___ or a ____ missing label)
   - [ ] [Role](https://github.com/hackforla/internship/issues?q=is%3Aissue+-label%3A%22role%3A+UI%2FUX+research%22+-

[2021-11-29 18:28] ExperimentsInHonesty commented on #93
Date: 2021-11-29
- [ ] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [ ] size, ending at 12/5
   - [ ] features, ending at 6/5
   - [ ] role, ending

[2021-11-29 18:30] #23 closed

[2021-11-29 18:35] ExperimentsInHonesty commented on #49
Agenda for 12/2/21

### Prework
- [x] issue for audit #93

### Roll Call

PM:

Other:
Record today's meeting or take meeting notes

[2021-11-29 18:42] ExperimentsInHonesty commented on #65
we will be breaking down this issue into two separate issues or more
https://github.com/hackforla/internship/issues/65
Its reasonable to have an issue that improves the linkedin review process and other issues that do other things.

[2021-11-29 19:00] #27 closed

[2021-11-29 19:02] ExperimentsInHonesty commented on #66
Priyanka will place the images that are in the main folder into appropriate subfolders or ask the team where they go during the next meeting.

[2021-11-29 19:03] ExperimentsInHonesty commented on #82
@sniux Tammy went to another team.

[2021-11-29 19:06] ExperimentsInHonesty commented on #82
@priyatalwar we need to update the link for finding out more, to go to the onesheet, set to anyone can view.  Please make sure one sheet has a draft in the title.

[2021-11-29 19:17] ExperimentsInHonesty commented on #69
@Rabia2219 I am moving this issue to the icebox because we have some guidance now about how to make our organization more accessible and need to implement that first before we ask for more guidance from outsiders.

[2021-11-29 19:45] ExperimentsInHonesty opened #94 "HfLA: Audit questions for script"
### Overview
We need to create a script to interview Hack for LA volunteers.  This issue is part of this research plan https://github.com/hackforla/internship/issues/39

### Action Items
- [x] Define questions
- [x] identify if there are relevant questions from prior research that we need to include
   - [x] add any that need including
- [x] Create spreadsheet
- [x] number questions
- [x] create f

[2021-11-29 20:01] ExperimentsInHonesty commented on #94
Go to this [google sheet ](https://docs.google.com/spreadsheets/d/1eKwWw71aXEZDpyjB3qK8p1faZL_Ofak9wbx6fH1VZe0/edit#gid=21831943) and add the category for each question

[2021-12-02 17:25] priyatalwar commented on #93
Date: 2021-12-2
- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [x] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] size, ending at 12/5
   - [x] features, ending at 6/5
   - [x] role, ending a

[2021-12-02 17:39] priyatalwar commented on #50
This is being put into the icebox with the dependency for the script questions to be finalized to make sure that the instructions still make sense.

[2021-12-02 17:48] priyatalwar commented on #66
- Ask snigdha about the recording and put it in a folder
- make a list of files and extensions of the files that can't be opened

[2021-12-02 17:50] priyatalwar commented on #49
Agenda for 12/7/21

### Prework
- [x] issue for audit #93

### Roll Call

PM:
#### Recurring items: Happens on the PM Monday meeting
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/internship/projects/1#column-15516595)
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackfor

[2021-12-02 18:22] priyatalwar commented on #32
Maricel to identify questions (Please update the issue)

[2021-12-05 20:50] ExperimentsInHonesty commented on #93
Date: 2021-12-05
- [ ] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [ ] size, ending at
   - [ ] features, ending at
   - [ ] role, ending at
   - [

[2021-12-06 14:31] Rabia2219 commented on #43
Opportunity posted on slack [here](https://hackforla.slack.com/archives/C017ESHSMNG/p1638801018076200) and [here](https://hackforla.slack.com/archives/C04S7PNCU/p1638800981069800).

[2021-12-06 16:01] Rabia2219 commented on #43
Got a response from Alice England...she will be attending the Onboarding on Tues Dec 7th...about her:

"A little about me, I completed the UX certificate with Google in April, and I’ve been working freelance ever since. I’m working with a start up at the moment to create a product for case managers and victims to manage, and report cases of image-based abuse. That’s nearly at an end, as we’re in t

[2021-12-06 16:10] priyatalwar commented on #49
Agenda 12/9

Agenda for Team meeting:
- [ ] Hypothesis #32  with Maricel first 20 mins of our team meeting  (20 mins)
  - [ ] Questions and the intended audience so we can support the existing stats and test the hypothesis
    - [ ]  @maruja0516 and @priyatalwar to work on personas from intended audience other than interns
  - [ ] Look at current spreadsheet
- [ ] Talk to Justin about HfLA intervi

[2021-12-06 17:47] priyatalwar commented on #33
Update #4: https://meetup.com/hackforla/events

[2021-12-06 18:41] ExperimentsInHonesty commented on #5
We have template now for the slide deck.  Its not perfect, but its better than the original
Original: [Draft Internship Communications Guide](https://docs.google.com/presentation/d/1u_rAQx9wz7_2XT3mL1zAu1mtUXvds8YNlbMb-cxDGTI/edit?usp=sharing)
Example of the new one in use: [IS21: Internship Program Research Presentation (WIP)](https://docs.google.com/presentation/d/1i83YamHc64eBGIjtkb9PJ-Gnhwkafo

[2021-12-07 11:43] kellychoe commented on #68
To Do: (Home Work)

1) Please vote on font style.  Heading and Body.  Leave a comment if any.
2) Color Palette - Still needs work depending on if we decided to keep the multi-color logo.  But feel free to comment, any feedback is much appreciated!
3) FYI - The brand platform and style guide are now in the Internship Teams Project.   Style Guide(https://www.figma.com/file/TTRS2FWXsrymHYpPJL1IdH/Int

[2021-12-08 04:11] ExperimentsInHonesty commented on #62
2021-12-07

Items for agenda
- Review the personas https://github.com/hackforla/internship/issues/30
- Review the skills extrapolation https://github.com/hackforla/internship/issues/63

[2021-12-08 04:22] ExperimentsInHonesty commented on #30
We reviewed the personas.  Gave notes.  Snigdha will revise

[2021-12-08 04:32] sniux commented on #30
Notes for 12/7/21 Tuesday meeting:

- Add under goals

1.  Finding an opportunity that will help to translate theoretical skills to practical
2. Being able to land a job/putting experience on resume

[2021-12-08 04:32] ExperimentsInHonesty commented on #63
Next steps
- Tin will add all the skills from the [Copy of IS21: Project Management Intern Value Delivered document ](https://docs.google.com/document/d/13DDKD9x1oxARl-q64xDLEodNlzRTWKB-KNFd2Q7d7PE/edit)
- Bonnie will review Tin's work in the comments of the [Copy of IS21: UI/UX and Software Engineering Interns Value Delivered](https://docs.google.com/document/d/1WRgtZqS-KbkswbOGQfUSrz7tUKZksyUChq

[2021-12-08 04:43] ExperimentsInHonesty commented on #94
Thanks for your work on this

[2021-12-08 04:47] ExperimentsInHonesty commented on #39
Snigha will have this updated by next Thursday evening meeting 2021/12/09

[2021-12-08 17:13] maruja0516 commented on #32
Had a meeting with @priyatalwar @Rabia2219 to discuss creating the personas. I will make an outline and conducted some research first prior to creating personas.

[2021-12-09 17:33] priyatalwar commented on #49
Agenda for 12/9/21

### Prework
- [ ] issue for audit #93

### Roll Call

PM:
#### Recurring items: Happens on the PM Monday meeting
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/internship/projects/1#column-15516595)
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackfor

[2021-12-09 23:34] kellychoe commented on #68
Hi Guys,

@hackforla/internship I know most of you didn't get a chance to vote on the fonts. Please take a moment to vote on one each Header and Body font.  I created color dots for voting.

@ExperimentsInHonesty Let me know if there are any other name suggestions from other teams.

[2021-12-13 16:53] priyatalwar commented on #49
Agenda for 12/13/21

### Prework
- [ ] issue for audit #93

### Roll Call

PM:
#### Recurring items: Happens on the PM Monday meeting
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/internship/projects/1#column-15516595)
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackfo

[2021-12-13 16:57] priyatalwar commented on #93
Date: 2021-12-13

 Did you have to update the 0/0 links above? if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
 Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
 size, ending at 0/0
 features, ending at 0/0
 role, ending at 0/0
 milestone, ending at 0/0

[2021-12-13 17:07] priyatalwar commented on #82
Update 12/13: Slack messages
[Aditi Paul ](https://www.linkedin.com/in/aditipaulphd/) : From aditi:  have conducted 7 independent research projects examining the impact of social technologies on end users using a variety of research methodologies including surveys, experiments, and contextual analysis"
She will attend onboarding on 12/13

Slack message from [Maria Sailo](https://www.linkedin.com/i

[2021-12-13 18:02] ExperimentsInHonesty commented on #71
@seenaiype Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-12-13 18:05] priyatalwar commented on #82
Priyanka to send a leetucemeet Bonnie's availability: 7:30 am - 9 pm PST M - S, set it up and send to Bonnie first and then have Snigdha fill it out and the potential candidates.

[2021-12-13 18:06] ExperimentsInHonesty commented on #88
We finished this portion.  We came up with the follow values

### Supportive
We incorporate mentorship into our culture.  It supports through defined interaction with peers, pros and managers

### Collaboration
 We share ideas and knowledge on diverse cross functional teams to make better software.

### Practical, Impactful & Fun
We have fun while work on visible projects addressing real world pro

[2021-12-13 18:16] ExperimentsInHonesty opened #95 "Create Brand Values"
### Overview
We need to marry the brand attributes that we identified and define them as our values.

### Action Items
Brand Values Part 2
- [x] Create issues for each team member to do the following
- [x] See BRAND VAULES page in Figma for examples
- [x] Take the Attributes we've identified (see below)
- [x] Write up sentences that define them as our values.
- [x] Meet as a team and review what e

[2021-12-13 18:16] ExperimentsInHonesty commented on #95
### Supportive
We incorporate mentorship into our culture.  It supports through defined interaction with peers, pros and managers

### Collaboration
 We share ideas and knowledge on diverse cross functional teams to make better software.

### Practical, Impactful & Fun
We have fun while work on visible projects addressing real world problems.

### Innovative
 We use Agile techniques, open source a

[2021-12-13 18:16] #88 closed

[2021-12-13 18:21] #95 closed

[2021-12-13 18:25] ExperimentsInHonesty commented on #62
## Research Meeting Agenda 2021-12-14

### Recurring Action Items
- [ ] Turn on recording and transcript
- [ ] Upload transcript

[2021-12-13 19:23] ExperimentsInHonesty commented on #33
### I reviewed and updated the following:
- the team meeting times to add the pm meetings to the list and who should attend on https://github.com/hackforla/internship/wiki/Joining-the-Team
- the link to the slack channel (which would have worked locally but not for other people) on https://github.com/hackforla/internship/wiki/Joining-the-Team
- Added Jack Richman to the intern list on https://gith

[2021-12-14 05:25] priyatalwar commented on #82
Update 12/13: Position has been filled and Aditi Paul (the new Research Lead) will attend the UX meeting tomorrow @sniux

[2021-12-14 20:04] priyatalwar commented on #43
Update 12/14

Slack message from Clarissa: Hi Priyanka! I'm a junior ux designer who'd love to hop in and work on the internship project if your team is still in need of a ux/ui designer. I'm fairly new to the ux/ui design and tech field as prior to 2020 my work and education lied heavily on Healthcare and science. In 2020 I decided to make a career change in UX, enrolled and completed Springboard

[2021-12-15 04:16] ExperimentsInHonesty commented on #94
Snigha

[2021-12-15 04:16] #94 closed

[2021-12-15 04:29] ExperimentsInHonesty commented on #63
Bonnie will put some time in on the week of the 20th!

[2021-12-16 16:08] priyatalwar commented on #93
Date: 2021-12-16

 Did you have to update the 0/0 links above? if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
 Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
 size, ending at 7/6
 features, ending at 5/5
 role, ending at 0/0
 milestone, ending at 0/0

[2021-12-16 16:11] priyatalwar commented on #49
Agenda for 12/13/21

### Prework
- [x] issue for audit #93

### Roll Call

#### Recurring items: Happens on the PM Monday meeting
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/internship/projects/1#column-15516595)
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackforla/

[2021-12-16 16:17] priyatalwar commented on #43
Update 12/16: Slack conversation between us:
also I just saw that you were on the 311 team?
5:16
We are only allowed to work on one project at a time.
5:18
if you can clarify that, it would be helpful. Thanks!

Priyanka Talwar  7:21 PM
Hi, can you provide an update please on the clarification above?

Clarizza Mendoza  9:59 PM
Hi Priyanka! I apologize for the late response, but yes I am on the 311

[2021-12-16 17:53] ExperimentsInHonesty commented on #49
Agenda for 12/20/21

### Prework
- [x] issue for audit #93

### Roll Call

#### Recurring items: Happens on the PM Monday meeting
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/internship/projects/1#column-15516595)
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackforla/

[2021-12-16 18:11] ExperimentsInHonesty commented on #68
Kelly will try 3-color combos with each word having its own color

[2021-12-16 18:40] ExperimentsInHonesty commented on #32
@maruja0516 will work on the personas from the [figjam branding exercise](https://www.figma.com/file/VgxjTXP3PJhzZxMeMURf2f/Branding-Exercise?node-id=0%3A1)

If you want to use figjam to make it create a new one in the [main figma account ](https://www.figma.com/files/project/38669867/Team-project?fuid=775836858007206739)

If you want to use Figma, use our [main figma ](https://www.figma.com/file/

[2021-12-16 19:33] priyatalwar opened #96 "UserTesting for our two domain names for the Internship Project"
### Overview
We need to create a short survey and do user testing so we can decide which of the two domain names resonate with our target audience

### Action Items

- [ ] Narrow down on domain names:
    - [ ] TechWorkExperience
    - [ ] TechWorkInternship
- [ ] Buy above domain names
- [ ] Define our target audience
- [ ]  Create survey
- [ ] Finalize Survey
- [ ] Adminster Survey
- [ ] Analyze

[2021-12-16 19:37] priyatalwar commented on #68
Update 12/16: Created an issue for user testing https://github.com/hackforla/internship/issues/96

[2021-12-16 19:53] priyatalwar commented on #93
Date: 2021 -12-20

Did you have to update the 0/0 links above? if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
 Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
 size, ending at 7/6
 features, ending at 5/5
 role, ending at 0/0
 milestone, ending at 0/0

[2021-12-20 00:18] priyatalwar commented on #32
@maruja0516 just checking to see If you got a chance to update the issue? Don't see any doc on this issue, but may be it's on your personal drive? If so please transfer it to the internship drive and update the issue.

[2021-12-20 00:36] maruja0516 commented on #32
@priyatalwar I worked on it but will finished it tomorrow morning.

[2021-12-20 00:40] maruja0516 commented on #32
@priyatalwar but if you need it done by Monday your welcome to assign it to someone else. I was out of town.

[2021-12-20 00:41] priyatalwar commented on #32
@maruja0516 Sure, please continue working on it, but can you put the document on our internship drive folder? Also please add the link here.

[2021-12-20 18:00] ExperimentsInHonesty commented on #68
- [ ] Create task issues for each team member for brand values
- #87
- #86
- #85
- #91
- #90
- #88
- #89
- [ ] Hide this comment when all the issues are closed

[2021-12-20 18:25] priyatalwar commented on #49
MoM 12-20-21
- Cleaned up the Branding issue
- Seena to create an issue for the scenario exercise and provide input
- Bought domain names for two names for .org

[2021-12-20 18:28] seenaiype opened #97 "Review usecases for the project"
### Overview
To review the figma for use cases for people looking for internship opportunities, this would help us find the target markets appropriately.

### Action Items

- [x] Review the Scenarios section in figma
- [x] Review with Team on any new use cases reviewed.
- [ ] Create [document](https://docs.google.com/document/d/1B1ZQN4DOkNukcVQefCQpT9AfkUVaIDf1QQQVHf_gFQg/edit?usp=sharing) with al

[2021-12-20 18:30] seenaiype commented on #68
For Seena's review - #97

[2021-12-20 18:52] ExperimentsInHonesty opened #98 "[draft] Google search our brand attributes and taglines- to see results."
### Overview
We need to see if our value words, taglines words, project name words bring up the types of results that we would want in order to get the best visibility

#### Details
Best visibility = Funders, potential employer, journalists

### Action Items
- [ ] Make a document
- [x] Assemble a list of all our words and word combos
- [ ] Describe what you find when you google them

### Resources

[2021-12-20 19:02] ExperimentsInHonesty opened #99 "Tweek the mission statement"

[2021-12-20 19:09] ExperimentsInHonesty commented on #68
@kellychoe I have updated the top of the issue to reflect where we are now and what everyone is working on related to this effort.

Question for you: Do you think we have resolved this suggestion that you made here: https://github.com/hackforla/internship/issues/68#issuecomment-977723476

With this info, or do you think we need to go further?
- Decided on Brand personality
  - BigBird: kind, curio

[2021-12-20 19:31] ExperimentsInHonesty commented on #49
Agenda for 12/27/21

### Prework
- [ ] issue for audit #93

### Roll Call

#### Recurring items: Happens on the PM Monday meeting
 - [x] review any issues that are in the [new issue approval column](https://github.com/hackforla/internship/projects/1#column-15516595)
 - [x] check Branding issue to see if there is anything the team needs to do, so that we can prioritize it #68
 - [x] Accountability

[2021-12-20 19:34] ExperimentsInHonesty commented on #96
@priyatalwar I am unassigning this from you.  This is a ux issue

[2021-12-21 05:15] priyatalwar commented on #98
Update 12/20/21: Asked Justin about assigning this issue and here was his slack response " currently I'm working on a task that Bonnie assigned to me last Thursday... so i'm not sure if I have the time to work on this"

[2021-12-21 13:37] kellychoe commented on #68
@ExperimentsInHonesty - I was hoping for a short paragraphic of how sesame street inspired us or the similar personality trades that the internship shares with sesame street.  The above describes Sesamesteet, we need a few sentences to describe our connection and similar personality/Character trade with sesame street.   this is currently what we have...

[2021-12-21 13:37] kellychoe commented on #68
[Uploading Personality.pdf…]()

[2021-12-22 17:53] kellychoe commented on #68
@hackforla/internship- I forgot to share this last time.

Web Accessibility for Visual Disabilities (https://webaim.org/articles/visual/colorblind)

[2021-12-23 17:44] ExperimentsInHonesty commented on #62
## Research Meeting Agenda 2021-12-23

### prework
- [x] create folder for uploading recordings for this meeting
   - [ ] Go to the UX Meetings Recordings [folder](https://drive.google.com/drive/folders/1migRz8iO4vOMwYZFVsgAjCIpS7SgChfL?usp=sharing)
   - [ ] Create a folder with the date upcoming meeting.
     - [ ] [today's meeting folder](https://drive.google.com/drive/folders/1lT88aYFtvA3PVhED2

[2021-12-23 17:50] ExperimentsInHonesty commented on #30
@aditipaulphd
Did you have a chance to review these personas.  Do you have comments you can share in the notes of this issue, or will you be giving them verbally?

[2021-12-23 17:55] ExperimentsInHonesty commented on #68
@kellychoe I think you meant to upload a pdf to this issue, but it did not work https://github.com/hackforla/internship/issues/68#issuecomment-998786694

Please put it in the[ branding folder](https://drive.google.com/drive/folders/1NeYnJpEEd9IjBJXt7B53vk9q6b6QLFNK?usp=sharing) in the google drive

[2021-12-23 17:58] ExperimentsInHonesty commented on #97
@seenaiype Please provide an update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-12-23 18:36] ExperimentsInHonesty commented on #68
![IMG-3513](https://user-images.githubusercontent.com/37763229/147279937-7322ce37-6ecb-44e7-8e83-47abeb2ba741.jpg)

[2021-12-23 19:12] ExperimentsInHonesty opened #100 "Review wiki and google drive to identify what is missing from our onboarding"
### Overview
We need the wiki to have clear and concise documentation for new team members so that they can get up to speed fast.

### Action Items
- [ ] Make a Google Doc and put it in the folder
- [ ] Review wiki, making notes (questions and comments) as you go in the doc:
  - [ ] Information that doesn't flow (its there, its just not where you would need it if you are new to the project)
  - [

[2021-12-23 19:36] ExperimentsInHonesty commented on #30
- Aditi will go back to this issue once the #100 issue is done

[2021-12-24 20:19] Rabia2219 commented on #59
How do I have access to this 'private' repo? https://github.com/orgs/hackforla/projects/4

[2021-12-25 23:22] ExperimentsInHonesty opened #101 "TWE: All Team meeting Agenda"
### Overview
This issue tracks the agenda for the All Team meetings for the Internship Project

### Action Items
- [ ] Add your items to the next agenda
- [ ] Make a link to the agenda in the list below

[code]

### Resources
[Internship Google Drive recordings folder](https://drive.google.com/drive/folders/1lgc0eeDXvqvqvLOgqsT8lu3EsneeH9VS) - in case you need it
774858

### Past Agendas

<details

[2021-12-25 23:27] ExperimentsInHonesty commented on #101
## All Team Meeting Agenda 2021-12-23

### prework

### Roll Call:
Bonnie, Kelly, Aditi

### Recurring Action Items
- [ ]  Accountability and Support Check.
  - [ ]  Review assignments for each Research & Analysis team member (starting with those present)
     - [ ] [Snigdha](https://github.com/hackforla/internship/issues/assigned/sniux)
     - [ ] [Tin](https://github.com/hackforla/internship/iss

[2021-12-27 13:02] seenaiype commented on #97
Reviewed the Figma. The scenarios looks great. Couple of small things:

1. For the educators - should it be educators who are interested in the STEM fields to make it a little more specific?

Couple of scenarios that could be added:
1. Students - Siblings or friends of students who want to explore internship together as a group
2. LAcity - to be involved with young people for solutions around soci

[2021-12-29 04:03] ExperimentsInHonesty commented on #62
## Research Meeting Agenda 2021-12-28

### prework
- [ ] create folder for uploading recordings for this meeting
   - [ ] Go to the UX Meetings Recordings [folder](https://drive.google.com/drive/folders/1migRz8iO4vOMwYZFVsgAjCIpS7SgChfL?usp=sharing)
   - [ ] Create a folder with the date upcoming meeting.
     - [ ] [today's meeting folder](https://drive.google.com/drive/folders/1lT88aYFtvA3PVhED2

[2021-12-29 22:05] ExperimentsInHonesty opened #102 "Create wiki page: Prospective Interns"
### Dependency
- Define the information architecture of the wiki #119

### Overview
We need a page on the wiki to send prospective interns to, so that they can get more information than is possible in the internship listing from their school.

### Action Items
- [x] Define content for wiki
  - [x] landing page
     - [x] review with Bonnie and possibly rest of the team
     - [x] Build page conten

[2021-12-29 22:06] ExperimentsInHonesty commented on #102
# Prospective Interns

[2021-12-29 22:38] ExperimentsInHonesty commented on #62
add gathering this info to the agenda
- Current team needs to be updated https://github.com/hackforla/internship/wiki/The-Team

[2021-12-29 22:47] ExperimentsInHonesty commented on #100
Agreed Action Items
- Add linkedin Profiles to https://github.com/hackforla/internship/wiki/Interns-summer-2021 (the profiles can be found in the linkedin issues with each of their names on them)
- Current team needs to be updated
- Bonnie to make an image (two circles) that represents Internship experience being an add on to Volunteering that makes the interns successful.

[2021-12-29 23:34] ExperimentsInHonesty opened #103 "Internship diagram"
### Overview
We need to create an image that communicates the meetings that Interns will attend

### Action Items
- [ ] Bonnie to make an image (two circles) that represents Internship experience being an add on to Volunteering that makes the interns successful.

### Resources/Instructions
[Figma, Internship program meeting diagram](https://www.figma.com/file/TTRS2FWXsrymHYpPJL1IdH/Internship-Team

[2021-12-29 23:35] ExperimentsInHonesty opened #104 "Wiki: LinkedIn page"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
Create issue to add some text to this page which describes how we helped them build their linkedin profiles. https://github.com/hackforla/internship/wiki/Linked-Process
### Resources/Instructions

REPLACE THIS TEXT -If there is a website which has documentation that hel

[2021-12-29 23:38] ExperimentsInHonesty commented on #100
After the above is done, we will review together and figure out next steps.

[2021-12-30 03:02] ExperimentsInHonesty commented on #103
![image](https://user-images.githubusercontent.com/37763229/147718282-cbe43251-a10c-4cc4-97b2-b859965da1de.png)

[2021-12-30 05:06] ExperimentsInHonesty commented on #103
![Background](https://user-images.githubusercontent.com/37763229/147723134-3e360ba4-14ed-47db-8d87-1c13a289d70c.png)

[2021-12-30 06:09] #103 closed

[2021-12-30 06:10] ExperimentsInHonesty commented on #100
@aditipaulphd I ended up writing up the meetings part, and have added it to the wiki. I ended up needing the list to finish the image I was creating.  See here https://github.com/hackforla/internship/wiki/Meetings

[2021-12-30 06:23] ExperimentsInHonesty commented on #4
![Student](https://user-images.githubusercontent.com/37763229/147726913-173b0535-7015-4498-a4e7-5b095eeeac3b.png)
![Volunteer](https://user-images.githubusercontent.com/37763229/147726914-95c1ddfd-311d-4bcb-bf3f-ead6e53c4e8b.png)

[2021-12-30 06:57] ExperimentsInHonesty commented on #4
![Student-color](https://user-images.githubusercontent.com/37763229/147727774-fc49de4a-55a7-4348-a4da-c6e8f68975ad.png)
![Volunteer-color](https://user-images.githubusercontent.com/37763229/147728773-d9524f56-28a0-436a-8bc8-16a542134add.png)

[2022-01-03 17:16] priyatalwar commented on #49
Agenda for 1/03/22

### Prework
- [ ] issue for audit #93

### Roll Call

#### Recurring items: Happens on the PM Monday meeting
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/internship/projects/1#column-15516595)
 - [ ] check Branding issue to see if there is anything the team needs to do, so that we can prioritize it #68
 - [ ] Accountability a

[2022-01-03 17:26] priyatalwar commented on #93
Date: 2022 -1-3

Did you have to update the 0/0 links above? if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
 Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
 size, ending at 7/6
 features, ending at 5/5
 role, ending at 1/0
 milestone, ending at 0/0

[2022-01-03 18:30] ExperimentsInHonesty commented on #8
We missed the window to send them anything about Summer 2021 before they started their next planning session.

[2022-01-03 18:30] #8 closed

[2022-01-03 18:32] ExperimentsInHonesty commented on #8
We did respond to the docs they sent us, so we didnt miss any requirements, we were just wanting to send more, and we didn't have time

[2022-01-03 18:38] ExperimentsInHonesty commented on #48
Closing issue, since it is now part of the agenda for the meeting.

[2022-01-03 18:39] ExperimentsInHonesty commented on #48
Nevermind.  Not closing this issue.  Because this is a reminder to whoever is assigned to make sure they upload it after the meeting.

[2022-01-03 19:43] #13 closed

[2022-01-03 19:43] #17 closed

[2022-01-03 23:36] maruja0516 commented on #32
I have added the persona link above. The personas are currently in the team project folder where the branding is located @priyatalwar

[2022-01-04 01:40] priyatalwar commented on #32
@maruja0516 the link didn't open for me. Let's set up some time to review together.

[2022-01-04 16:19] maruja0516 commented on #32
@priyatalwar I updated the link. I will message you in slack for the review.

[2022-01-04 23:42] ExperimentsInHonesty commented on #100
We have signed off on the volunteer onboarding: and the remaining item is
- [ ]  Add linkedin Profiles to https://github.com/hackforla/internship/wiki/Interns-summer-2021 (the profiles can be found in the linkedin issues with each of their names on them

[2022-01-04 23:47] ExperimentsInHonesty commented on #63
Bonnie and Tin met and reviewed his assessment, Bonnie annotated document and Tin will make some changes, and then mark the spreadsheet with the tick for the related skills per user.

[2022-01-04 23:57] ExperimentsInHonesty commented on #33
Last item to be able to close this issue
- [ ] Update Internship Program Process - See [recording](https://drive.google.com/drive/folders/1xNcp17Qc90P3oGZ3ePqrLKWN-qhiYOoE?usp=sharing)

[2022-01-05 16:19] Rabia2219 commented on #43
Andrew Shum has reached out on slack. Here's the conversation thus far:

Hi Rabia, I learned about the internship project through Grace Lau at DIA. She tells me you're looking for someone to help with design work. Can you please tell me more about this project?
And the timeline.

Hi Andrew,
The #internship project is looking for a UI/UX designer to join our team. Our project partners with students

[2022-01-05 16:47] ExperimentsInHonesty opened #105 "Research and document potential metrics"

[2022-01-05 16:56] ExperimentsInHonesty opened #106 "Competitive Analysis: Unpaid Internship placement"
### Overview
We need to perform a comparative/competitive analysis to understand our offering in the marketplace

### Action Items
- [ ] Setup spreadsheet
- [ ] Add our program
- [ ] Add other programs
- [ ] Define features
- [ ] Find other programs

### Resources/Instructions

[comparative/competitive analysis template](https://docs.google.com/spreadsheets/d/1ePxxsLpdC4MMvJICyMYljHawhs1j-hpFHZFOt

[2022-01-05 16:58] ExperimentsInHonesty commented on #106
create new milestone for metrics development and add to this issue

[2022-01-05 16:58] ExperimentsInHonesty commented on #84
change the milestone on this issue to the metrics milestone once its created on issue  #106

[2022-01-05 17:14] ExperimentsInHonesty commented on #97
@seenaiype The next step is for the information in the figjam to get copied to a google doc and add your senarios to it.  See this [Audience document from open community survey](https://docs.google.com/document/d/1qTqxgMRi7y7Qqt1LvSDoPXGQOYGzH49_KM4txghBMkQ/edit?usp=sharing) as an example of where we are going with this:

[2022-01-05 17:22] Rabia2219 commented on #43
Update:
I will reach out to Kelly to make sure she will be attending the Thursday team meeting and then invite Andrew.

[2022-01-05 17:47] ExperimentsInHonesty commented on #97
@seenaiype
- Q1: For the educators - should it be educators who are interested in the STEM fields to make it a little more specific?
  - A1: Any educator.  For instance in the user story "As an English teacher I want to find something that will be a good extra activity for my students who are having trouble focusing on stories which will allow them to develop critical reading skills."

For now we

[2022-01-05 18:28] Rabia2219 commented on #49
**Update:**
Both these formats worked to setup reminders for every other day:
/remind #[channel name] "We limit..." every Monday, Wednesday, Friday
/remind #[channel name] "We limit..." every Monday, Wednesday, Friday at 12 pm PST
**Note:** square brackets are NOT to be included in the actual reminder

[2022-01-05 18:59] ExperimentsInHonesty commented on #49
Agenda for 1/03/22

### Prework
- [ ] issue for audit #93

### Roll Call

#### Recurring items: Happens on the PM Monday meeting
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/internship/projects/1#column-15516595)
 - [ ] check Branding issue to see if there is anything the team needs to do, so that we can prioritize it #68
 - [ ] Accountability a

[2022-01-06 17:21] Rabia2219 commented on #101
## All Team Meeting Agenda 2021-12-23

### prework
- check personas created by Maricel

### Roll Call:

### Recurring Action Items
- [x]  Accountability and Support Check.
  - [ ]  Review assignments for each Research & Analysis team member (starting with those present)
     - [ ] [Snigdha](https://github.com/hackforla/internship/issues/assigned/sniux)
     - [ ] [Tin](https://github.com/hackforla

[2022-01-06 17:36] ExperimentsInHonesty commented on #68
@kellychoe

Can you provide some examples of how other companies have written their "Personality" page of a brand guide?

[2022-01-06 18:06] ExperimentsInHonesty commented on #32
@maruja0516 Please add into this how they would measure success.

[2022-01-06 18:41] ExperimentsInHonesty commented on #97
@seenaiype I just realized that I already created a template doc for this.  Use this
https://docs.google.com/document/d/1B1ZQN4DOkNukcVQefCQpT9AfkUVaIDf1QQQVHf_gFQg/edit?usp=sharing

[2022-01-06 18:43] Rabia2219 commented on #43
Update job posting [here](https://github.com/hackforla/UI-UX/projects/3#card-67378507)...

[2022-01-07 17:02] Rabia2219 commented on #43
Did not work out. Position is still open.

[2022-01-07 17:11] Rabia2219 commented on #43
Done...

[2022-01-07 17:11] Rabia2219 commented on #43
Done...

[2022-01-07 18:12] Rabia2219 commented on #43
Cherilyn  10:14 PM
Hi Rabia!
I recently completed the onboarding process and I'm interested to learn more about the volunteer opportunity as a UX/UI Designer for HfLA Internship Project.
I would like to learn more about the details for the project, such as the project timeline, time commitment, current status of the project, etc.
Thank you!

Rabia Shaikh  9:41 PM
Hi Cherilyn,
Thank you for your in

[2022-01-10 17:27] priyatalwar commented on #93
Date: 2022 -1-9

Did you have to update the 0/0 links above? if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
 Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
 size, ending at 8/6
 features, ending at 6/5
 role, ending at 1/0
 milestone, ending at 1/0

Spe

[2022-01-10 18:02] ExperimentsInHonesty commented on #68
Hi @kellychoe, Any luck coming up with examples for us?

Can you provide some examples of how other companies have written their "Personality" page of a brand guide?

@ExperimentsInHonesty - I was hoping for a short paragraphic of how sesame street inspired us or the similar personality trades that the internship shares with sesame street. The above describes Sesamesteet, we need a few sentences t

[2022-01-10 18:10] ExperimentsInHonesty commented on #33
1. Progress - none
2. Blockers - forgot about it because I am assigned to too many issues across projects.  Current # is 134
3. Availability - limited
4. ETA - I can get this done, if I do it instead of coming to a team meeting.

[2022-01-10 18:11] priyatalwar commented on #49
[01-10-2022] Agenda and Notes

### Prework
- [ ] issue for audit #93

### Roll Call

#### Recurring items: Happens on the PM Monday meeting
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/internship/projects/1#column-15516595)
 - [ ] check Branding issue to see if there is anything the team needs to do, so that we can prioritize it #68
 - [ ] Accou

[2022-01-10 18:14] ExperimentsInHonesty commented on #43
@rabia will write to her asking if she will work on the logo process with Kelly. in order for us all to be able to do the next steps that come after (e.g., what she referenced)

[2022-01-10 18:15] ExperimentsInHonesty commented on #97
@seenaiype Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2022-01-10 18:38] ExperimentsInHonesty opened #107 "Define user groups"
### Overview
We need to define some user groups so that we can have a set of draft personas to create research programs around.

### Action Items
- [ ] Copy the content from the Figjam to the sheet
   - [ ] LAUSD Students
   - [ ] Educators
   - [ ] Funders
   - [ ] Parents
   - [ ] Students
   - [ ] City Staff
   - [ ] Non Profit
   - [ ] Potential Employers
- [ ] Add at least one actual person (

[2022-01-10 18:40] ExperimentsInHonesty commented on #32
we have just started this issue and will need to finish it.- #107

[2022-01-10 18:50] ExperimentsInHonesty commented on #48
Please sort out these [recordings](https://drive.google.com/drive/folders/1lgc0eeDXvqvqvLOgqsT8lu3EsneeH9VS?usp=sharing) as discussed, making folders that correspond to the dates or content as appropriate.

[2022-01-10 18:52] ExperimentsInHonesty commented on #66
I sent Snigdha a slack message now, with the following

https://github.com/hackforla/internship/issues/48#issuecomment-1009241025

[2022-01-10 18:53] ExperimentsInHonesty commented on #66
@priyatalwar Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2022-01-11 20:28] aditipaulphd commented on #100
linkedin Profiles added to https://github.com/hackforla/internship/wiki/Interns-summer-2021

[2022-01-11 20:29] #100 closed

[2022-01-11 20:30] aditipaulphd commented on #100
all issues resolved.

[2022-01-11 23:17] ExperimentsInHonesty commented on #62
## 2022-01-11 Research Meeting Agenda

### prework
- [ ] create folder for uploading recordings for this meeting
   - [ ] Go to the UX Meetings Recordings [folder](https://drive.google.com/drive/folders/1migRz8iO4vOMwYZFVsgAjCIpS7SgChfL?usp=sharing)
   - [ ] Create a folder with the date upcoming meeting.
     - [ ] [today's meeting folder]()

### Recurring Action Items
- [ ] Record meeting
   - [

[2022-01-11 23:54] ExperimentsInHonesty opened #108 "Identify stats from studies that relate to our project"
### Overview
We need to identify relevant factors and their stats that this project can address.

### Action Items
Factors
- [ ] Lack of Encouragement
- [ ] Lack of Support structure/learning environment
- [ ] Lack of math preparedness (we cannot address this)
- [ ] Socio-econmic pressure (lack of funding to do outside work, being required to have any job)
- [ ] Lack of opportunity to get work exp

[2022-01-12 16:30] Rabia2219 commented on #43
Update:
Rabia Shaikh  12:51 PM
Hi Cherilyn,
So right now our main priority is to finish our logo. Our lead designer needs help to wrap that up after which we can move on to the communications guide, style guide and design system. Is that something you are interested in doing to start things off?
Thanks

Cherilyn  11:15 PM
Hi Rabia,
I don't mind providing suggestions and inputs for the logo design

[2022-01-12 18:03] ExperimentsInHonesty commented on #108
@aditipaulphd Sorry for the confusion yesterday.  Turns out we were looking at an old document and there was a replacement for it, that Maricel made.  I have marked the old document we looked at as depreciated and have provided the new one for you to look at below.

Also, I worked with Priyanka and Rabia to expand the check list and to define what is in the document and what is missing.   So now,

[2022-01-12 19:36] Rabia2219 commented on #59
Is there a way to check when a member was added to a repo?

[2022-01-13 15:04] Rabia2219 commented on #68
Kelly has the following for us regarding the brand personality example:
[Brand Personality: Traits of Top Brands](https://www.ebaqdesign.com/blog/brand-personality#2)
[Jamie Oliver Brand](https://drive.google.com/file/d/1j04PqS2s8mAGfOuAGUcsrUapfgoMhP34/view?usp=sharing)
[Avaon Haute Brand](https://drive.google.com/file/d/1wIgt2KwrmB5SntfbuEjapSvtHxOS11pt/view?usp=sharing)
[Bandit Coffee Brand](ht

[2022-01-13 15:09] Rabia2219 commented on #43
Got another response. Susan looks like a very good fit. Here's our slack conversation. She is on standby to attend today's (01/13/22) meeting.

Susan Zhuang  12:00 PM
Good morning Rabia, this is Susan. I saw your post about an awesome internship opportunity in #ui-ux about the UX/UI Designer role, and I'm really interested! I want to know where can I send my resume or portfolio to be considered as

[2022-01-13 17:15] Rabia2219 commented on #59
https://github.com/hackforla/internship/issues/68#issuecomment-1000469176
How is the image visible in the comment? HTML code?
I tried using the exclamation mark but it didn't work...

[2022-01-13 18:02] ExperimentsInHonesty commented on #101
## 2022-01-13 All Team Meeting Agenda

### prework

### Roll Call:

### Recurring Action Items
- [ ]  Accountability and Support Check.
  - [ ]  Review assignments for each Research & Analysis team member (starting with those present)
     - [ ] [Snigdha](https://github.com/hackforla/internship/issues/assigned/sniux)
       - [ ] update [spreadsheet](https://docs.google.com/spreadsheets/d/1eKwWw71

[2022-01-13 18:26] ExperimentsInHonesty commented on #32
Check back in with Maricel to see if she has added KPIs

[2022-01-13 21:01] maruja0516 commented on #32
KPIs are added in each personas

[2022-01-15 14:43] seenaiype commented on #97
Updated the document with the scenarios - https://docs.google.com/document/d/1B1ZQN4DOkNukcVQefCQpT9AfkUVaIDf1QQQVHf_gFQg/edit#

[2022-01-17 05:05] priyatalwar commented on #49
01/20/ 22 Agenda and Notes

### Prework
- [ ] issue for audit #93

### Roll Call

#### Recurring items: Happens on the PM Monday meeting
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/internship/projects/1#column-15516595)
 - [ ] check Branding issue to see if there is anything the team needs to do, so that we can prioritize it #68
 - [ ] Accounta

[2022-01-17 05:19] priyatalwar opened #109 "Develop Personas other than for Internship"
### Overview
We need personas audience that are not interns so  so that we can make sure our materials address the audiences intended

### Action Items
- [ ] Review the HfLA documentation about personas
- [ ] Draft some basic personas using template below
- [ ] Discuss with product
- [ ] UX Senior Lead will review

### Resources/Instructions
- https://github.com/hackforla/product-management/issues

[2022-01-17 06:06] priyatalwar commented on #82
Need to recruit again

[2022-01-17 06:14] priyatalwar commented on #82
update 1/16: Here is the posting https://github.com/hackforla/UI-UX/projects/2#card-72190081

[2022-01-18 23:38] ExperimentsInHonesty commented on #39
Aditi and Bonnie gave feedback to Snigdha on the questions that had reasons why not to include them.

[2022-01-18 23:41] ExperimentsInHonesty commented on #62
## 2021-01-18 Research Meeting Agenda

### prework
- [ ] create folder for uploading recordings for this meeting
   - [ ] Go to the UX Meetings Recordings [folder](https://drive.google.com/drive/folders/1migRz8iO4vOMwYZFVsgAjCIpS7SgChfL?usp=sharing)
   - [ ] Create a folder with the date upcoming meeting.
     - [ ] [today's meeting folder]()

### Recurring Action Items
- [ ] Record meeting
   - [

[2022-01-18 23:44] ExperimentsInHonesty commented on #108
Notes:
- Find studies from last 10 years only

[2022-01-19 01:26] sniux commented on #48
Update for 01-18-2022: sorted all the recordings.

[2022-01-19 01:31] tonydo95 commented on #63
Hi @ExperimentsInHonesty, I've made some changes on the spreadsheet. Also, Can you send the link to the meeting of our meeting? I can't see the invitation.

[2022-01-19 16:15] Rabia2219 commented on #93
Date: 2022 -1-19

Did you have to update the 0/0 links above? if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
YES:
1 new issues  #108 was added last week that does not have the feature assigned

Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
 role, endin

[2022-01-19 17:59] maruja0516 commented on #32
@Rabia2219 @priyatalwar @ExperimentsInHonesty any update on the user group?

[2022-01-20 17:12] sniux commented on #39
Update for 01-20-2022

- Integrated questions from the Research Plan Wiki: Initial Setup #1 into the spreadsheet
- Indicated why they need to be added to the form
- Renumbered in the purple column
- Indicated the reason for not including specific questions in the new research.

[2022-01-20 17:23] Rabia2219 commented on #32
@maruja0516 here's the issue with related links for the user groups: #107

[2022-01-20 18:30] ExperimentsInHonesty commented on #39
@sniux

- [ ] Break apart q2 into qualitative and quantitative
- [ ] add all of the questions into section 3 and add their numbers

[2022-01-20 18:44] ExperimentsInHonesty commented on #98
Tech Work Internship
Tech Work Experience
Where learning STEMS from doing
Decided on Brand personality
curious,inclusive /friendly /welcoming, supportive /encouraging
help on the journey
"Everyone makes mistakes, so why can't you?"
"If you keep practicing, you can do anything.”
Supportive: We incorporate mentorship into our culture. It supports through defined interaction with peers, pros and mana

[2022-01-23 16:50] ExperimentsInHonesty opened #110 "Funding Research"
### Overview
We need a place to put all links to funding resources that we come across, so that we can refer to them when making a funding plan

### Action Items

### Resources/Instructions
[California Training Benefits FAQ from California Employment Development Department (EDD)](https://edd.ca.gov/pdf_pub_ctr/de8714u.pdf)

[2022-01-24 17:16] Rabia2219 commented on #93
Date: 2022-1-24

Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
YES:
1 new issue #110 was added that does not have the feature assigned yet.

Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   role, ending at

[2022-01-24 17:17] Rabia2219 commented on #49
01/24/22 Agenda and Notes

### Prework
- [ ] issue for audit #93

### Roll Call

#### Recurring items: Happens on the PM Monday meeting
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/internship/projects/1#column-15516595)
 - [ ] check Branding issue to see if there is anything the team needs to do, so that we can prioritize it #68
 - [ ] Accountab

[2022-01-24 17:17] Rabia2219 commented on #43
Susan has joined our team.

[2022-01-24 18:20] ExperimentsInHonesty commented on #107
Notes from Figma (figure out how they fit into the persona):
Sometimes the students we are speaking to have no confidence in the structures that support them
Some students are benefiting from structures that support them

[2022-01-24 18:27] ExperimentsInHonesty commented on #68
<details>
<Summary>Nike</summary>

<img src="https://uploads-ssl.webflow.com/5de2db6d3719a1e2f3e4454c/5de41ea95f17622f593c027d_Nike-Brand-Personality.png" />
</details>

[2022-01-24 18:50] ExperimentsInHonesty commented on #68
Personality notes from our Inspiration
BigBird: kind, curious, uses his words, inclusive/friendly/welcoming, supportive/encouraging
Adults: there to help the journey
"Everyone makes mistakes, so why can't you?"
"If you keep practicing, you can do anything.”

Nike Style

<details>
<summary>Drafts</summary>

- Bonnie: [Name of Brand] has an inclusive, supportive, inspirational and can-do personality

[2022-01-24 18:58] ExperimentsInHonesty commented on #68
Personality notes from our Inspiration
BigBird: kind, curious, uses his words, inclusive/friendly/welcoming, supportive/encouraging
Adults: there to help the journey
"Everyone makes mistakes, so why can't you?"
"If you keep practicing, you can do anything.”

Avon Style
How do write content on the website and marketing materials?
How does the voice sound?
- Tone (jokes/casual but not stodgy)
- Tech

[2022-01-24 19:09] ExperimentsInHonesty commented on #68
Tone is factual
provide examples wherever possible
soft skills advice giving throughout
opportunities for self evaluation
Conversational
methodical and informative
nonjudgmental
succinct
respectful no matter how little experience the audience has
responsible

[2022-01-24 19:42] ExperimentsInHonesty commented on #68
@kellychoe we have been working on the personality.  All our notes are above. We can review with you on Thursday when we meet.

[2022-01-24 19:47] ExperimentsInHonesty commented on #82
Priyanka will come to onboarding at 7pm

[2022-01-24 21:10] ExperimentsInHonesty commented on #33
- add text of acceptance letter draft
  - fill out this page, right now its completely empty https://github.com/hackforla/internship/wiki/Linked-Process

[2022-01-25 21:51] kellychoe commented on #68
Amazing!  :)

[2022-01-25 23:06] ExperimentsInHonesty commented on #62
## 2022-01-25 Research Meeting Agenda

### prework

### Recurring Action Items
- [ ] Record meeting
   - [ ] Turn  recording and transcript on
   - [ ] Upload recording and transcript to folder with today's date inside this  [folder](https://drive.google.com/drive/folders/1migRz8iO4vOMwYZFVsgAjCIpS7SgChfL?usp=sharing)
    - [ ] Add link to the new folder you created at the top of the comment
- [ ]

[2022-01-25 23:06] ExperimentsInHonesty commented on #108
Please provide update
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be completed?"
5. Pictures (if necessary): "Add any pictures that will help illustrate what you ar

[2022-01-25 23:07] aditipaulphd commented on #108
Havent had enough time to work on literature review for stats this week.

[2022-01-25 23:08] ExperimentsInHonesty commented on #39
Please provide update
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be completed?"
5. Pictures (if necessary): "Add any pictures that will help illustrate what you ar

[2022-01-25 23:13] ExperimentsInHonesty commented on #63
Hi @tonydo95 , Sorry for the delay in getting back you, We have the following meetings now.  Do any of these work for you?

Tuesday at 3:00pm PST
Thursday at 10am PST

I have added you to all the invites, in case they do.  If they don't maybe we can setup a time for a recurring 15 min meeting between the two of us.

[2022-01-25 23:19] ExperimentsInHonesty commented on #63
Next steps
- [ ] @tin will do the item for line 37
- [ ] @ExperimentsInHonesty will resolve the remainder of the comment and let Tin know she is done.
- [ ] Once Bonnie done, then Tin can put into a visualization.  We may need to group the items into categories.

[2022-01-25 23:23] ExperimentsInHonesty commented on #33
1. Progress: Still finding items to add
2. Blockers: Time Availablity
3. Availability: None
4. ETA: Mid Feb

[2022-01-26 16:10] Rabia2219 commented on #107
We need to review [IP: Personas - User Stories and Journeys [Template with examples]](https://docs.google.com/document/d/1B1ZQN4DOkNukcVQefCQpT9AfkUVaIDf1QQQVHf_gFQg/edit?usp=sharing), which was updated by Seena so that we have a completed list for our User Groups.

[2022-01-26 18:01] ExperimentsInHonesty opened #111 "Verify that we are meeting federal and California standards for Internships"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps c

[2022-01-26 18:03] ExperimentsInHonesty commented on #111
[Opinion/Intern Program Exemption: LA Weekly](https://www.dir.ca.gov/dlse/opinions/1998-11-12.pdf)

1. The training, even though it includes actual operation of the employer's facilities, is similar to that which would be given in a vocational school.
2. The training is for the benefit of the trainees or students.
3. The trainees or students do not displace regular employees, but work under their

[2022-01-26 18:09] Rabia2219 commented on #111
When searching https://www.dol.gov/agencies/whd/fact-sheets/71-flsa-internships:
I found these to be important:
The Test for Unpaid Interns and Students
Courts have used the “primary beneficiary test” to determine whether an intern or student is, in fact, an employee under the FLSA.2 In short, this test allows courts to examine the “economic reality” of the intern-employer relationship to determin

[2022-01-26 18:12] Rabia2219 commented on #111
Another important note:
Footnotes

1 - The FLSA exempts certain people who volunteer to perform services for a state or local government agency or who volunteer for humanitarian purposes for non-profit food banks. WHD also recognizes an exception for individuals who volunteer their time, freely and without anticipation of compensation, for religious, charitable, civic, or humanitarian purposes to

[2022-01-27 00:29] priyatalwar opened #112 "Recruit New Product Manager"
### Overview
We need a product manager to help us drive the next phase of our project and oversee the preparation of the internship for next summer. As a PM you will be responsible for working with the UI/UX and other PMs, managing the Kanban board, creating issues for milestones, and helping to prioritize the backlog.

### Action Items
- [x] Edit note
- [x] Post it in opportunities
- [x] Post ope

[2022-01-27 00:46] ExperimentsInHonesty commented on #97
@seenaiype Sorry for the delay, we will have feedback for you next week.  We had to reprioritize this week to respond to a stakeholder

[2022-01-27 00:59] ExperimentsInHonesty commented on #82
Priyanka will post again.

[2022-01-27 17:04] Rabia2219 commented on #49
Reach out to other schools to find out if they have any internship opportunity offering and if its not too late to be included.
**Note:** Brentwood mentions the Internships on their website but there is no contact information for potential sponsors. Also HackforLA is not listed in the list of past sponsors.
**Marlborough:**
Internship program not mentioned on website.
Spoke to Amy at the Front Off

[2022-01-27 17:17] Rabia2219 opened #113 "IS22: Search for potential partners"
### Overview
We need to reach out to other schools to find out if they have any internship opportunity offerings and if its not too late to be included.

### Action Items

- [x] Find appropriate contact
- [x] Send Email
   - [x] Marlborough
   - [x] Havard-Westlake
   - [x] Archer (second choices)
   - [x] Buckley (second choices)
   - [x] Crossroads (second choices)
   - [x] Loyola

### Findings/

[2022-01-27 17:21] Rabia2219 commented on #101
## All Team Meeting Agenda 2022-01-06

### prework

- [ ] Check Justin's update #47

### Roll Call:

### Recurring Action Items
- [ ]  Accountability and Support Check.
  - [ ]  Review assignments for each Research & Analysis team member (starting with those present)
     - [ ] [Snigdha](https://github.com/hackforla/internship/issues/assigned/sniux)
     - [ ] [Tin](https://github.com/hackforla/in

[2022-01-27 17:53] ExperimentsInHonesty commented on #47
Please provide attribution for where you got the guidance from on the internet

[2022-01-27 18:28] ExperimentsInHonesty commented on #106
https://sv.academy/
https://joinhandshake.com/

[2022-01-28 07:10] priyatalwar commented on #82
Update 1/27 Reached out to Maria (she contacted us before and was interested in the UX Research Lead position), can share her resume, and decide if we want to pursue it.

[2022-01-28 15:56] Rabia2219 opened #114 "IS22: Create new intern opportunity listings"
### Overview
We need to add all the information to the wiki for the new intern opportunity listings we are going to have to provide to the schools sometime between the 28th and the 4th when their listing go live.

### Action Items

- [x] Create New Listing
  - [x] a combined version
  - [x] separate for each version
  - [x] what will appear on the wiki when they go there
- [x] Review
- [x] Add to

[2022-01-28 16:23] Rabia2219 commented on #49
01/28/22 Agenda and Notes

### Prework
- [ ] Send emails to potential high school partners
- [ ] Start work on new intern opportunity information

### Roll Call
- [ ] Bonnie
- [ ] Rabia
- [ ] Priyanka

#### New Items
New Issue Approval:
#113
#114

#### Items from last meeting

- [ ] Make an epic for kicking off the internship 2022 and include all of the below as issues that need to be made.

- [ ]

[2022-01-28 16:37] ExperimentsInHonesty opened #115 "2022 Internship kickoff: what we need to do"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps c

[2022-01-28 16:45] ExperimentsInHonesty commented on #115
Things to add to the wiki
Seena will make Timeline dates spreadsheet
link to website for brentwood internship website http://www.bwscampus.com/alumni/career-resources/summer-internship-opportunities

Email questions to send to Flor and Emily
Last year the opportunities were hard to understand for the volunteers.  The format seems to be focused on only one role.  Would it be possible to have three

[2022-01-28 16:46] ExperimentsInHonesty commented on #115
# Example of prior year posting
Eligibility: Current 10th, 11th, 12th, College-age alum

Industry: Computer Science (UI Design)

Compensation: Voluntary

Location: Virtual

Number of Positions Available: 3

Time Frame: 5 days per week/4-6 weeks

Description/Main Responsibilities:

UI Designer
Front-end Developer Special Projects Coordinator

Skills Required:

UI Designer

Familiarity with design (

[2022-01-28 16:51] ExperimentsInHonesty commented on #115
Add this info to our c&c analysis
6. Berkery Noyes
Eligibility: Current 10th, 11th, 12th, College-age alum

Industry: Computer Programming

Compensation: Paid, Minimum Wage

Location: Virtual

Number of Positions Available: 1

Time Frame: 5 days a week, 10 weeks

Description/Main Responsibilities: Computer Programming Intern

Skills Required: Some Coding skills in Javascript

What professional exp

[2022-01-28 17:14] ExperimentsInHonesty commented on #115
Timelime needs to include
free code camp for a week before the internship starts
4 weeks of Internship
Last week of internship is just Linkedin polishing

[2022-01-28 17:24] ExperimentsInHonesty commented on #115
# email from Flor with answers to recent questions
Interview Times
  As a general note, open interview time frames are set to take place during Brentwood Upper School contact time, activities period, late start, or after school.
Can you tell us what time the contact time, activities period and late start is?  Or are these times specific to each student.

These times are shared among all students,

[2022-01-28 17:28] ExperimentsInHonesty commented on #115
Create issues for
- responsibility checklist (are you showing up effectively?)
- How to reach out to the mentors and peers on the project

[2022-01-28 17:29] Rabia2219 opened #116 "Correspondence from Brentwood School for Summer 2022 cohort"
### Overview
We need to put all the email correspondence between Brentwood School and the Internship Team in one place.
### Action Items

- [ ] Copy and paste each email in the comments

### Resources/Instructions
Brentwood Contacts:
Emily Ellis
eellis@bwscampus.com
Flor Cruz
fmcruz@bwscampus.com

[2022-01-28 17:30] ExperimentsInHonesty commented on #115
Things to add to the wiki
- Take Timeline from slide deck and make a dates spreadsheet.  Include these date
  - student acceptances by Friday, April 29
- link to website for brentwood internship website http://www.bwscampus.com/alumni/career-resources/summer-internship-opportunities
Times when its ok to communicate with Interns (Brentwood Blocks these out)
- Contact Time:
   - Mondays 12:10 p.m. -

[2022-01-28 17:36] ExperimentsInHonesty commented on #33
Things to add to the wiki
- Take Timeline from slide deck and make a dates spreadsheet.  Include these dates #33
  - student acceptances by Friday, April 29
- link to website for brentwood internship website http://www.bwscampus.com/alumni/career-resources/summer-internship-opportunities #33
Times when its ok to communicate with Interns (Brentwood Blocks these out) #33
- Contact Time:
   - Mondays

[2022-01-28 17:43] ExperimentsInHonesty commented on #84
Add this info to our c&c analysis
2021 brentwood internship

6. Berkery Noyes
Eligibility: Current 10th, 11th, 12th, College-age alum

Industry: Computer Programming

Compensation: Paid, Minimum Wage

Location: Virtual

Number of Positions Available: 1

Time Frame: 5 days a week, 10 weeks

Description/Main Responsibilities: Computer Programming Intern

Skills Required: Some Coding skills in Javasc

[2022-01-28 17:46] ExperimentsInHonesty commented on #115
Non urgent
Reach out to  company that did the paid internship last year in software development from brentwood #84 and ask them if they are going to do it again this year, and let them know that we have a recommendation from our internship cohort of 2021 who was a stand out developer.

[2022-01-28 18:29] Rabia2219 opened #117 "List of information to collect from new school partners"
### Overview
We need to create a list of type of information we have from Brentwood and that we will need from other schools.

### Action Items

- [ ] Review information from Brentwood
- [ ] Make a list
- [ ] Create questionnaire for new school partners

### Resources/Instructions
[Brentwood Summer 22 Internship Brochure](https://resources.finalsite.net/images/v1642542729/brentwoodca/nhuvyzhlwkgcv

[2022-01-28 18:40] priyatalwar opened #118 "How to reach out to the mentors and peers on the project"
### Overview
We need to create a guide on how to reach out to the mentors and peers on the project so our interns know how to go about it.

### Action Items
- [ ] Gather examples of how other projects or volunteers have done this (if applicable), adding each example as a link in the resources section below
   - [ ] Once done, remove the "Guide: Gather Examples" label and add the "Guide: Research"

[2022-01-28 18:45] priyatalwar opened #119 "IS22: Schedule AMA and figure out who will need to be there and what we will cover"
### Overview
We need to schedule an AMA so we can answer any questions our summer cohort 22 may have

### Action Items

- [x] Write to BWS about the best time to schedule
- [x] Figure out logistics
- [x] Revise AMA presentation

### Resources/Instructions
- #116
- [IS21 AMA](https://docs.google.com/document/d/1v_ZUO0sK-CFkkOCcTA1MejDS-ohCHCzDFFG2bVciJQY/edit?usp=sharing)
- [IS22 FAQ](https://docs.

[2022-01-28 18:50] priyatalwar opened #120 "Create Timeline Spreadsheet"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps c

[2022-01-28 18:52] priyatalwar opened #121 "Create a Responsibility Checklist"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps c

[2022-01-28 18:54] priyatalwar commented on #115
Update 1/28: Sent the email to BWS. Rabia and I created issues for the above.

[2022-01-29 03:36] Rabia2219 commented on #116
Notes from call with Bonnie on 01/28/22:

In response to our email questions...Flor gave Bonnie the following answers during their phone conversation:

Q1) Last year the opportunities were hard to understand for the volunteers. Our offering included 3 different positions while the rest of the internships were just one position. Would it be possible to have two different listings for each of the po

[2022-01-29 03:36] Rabia2219 commented on #113
Discussion points from call with Bonnie on 01/28/22

For the future cohorts:

1. We should have a UX researcher:

   - Put a together a list of schools, both public and private to reach out to with a list of questions about internship programs (do they have one? why? what is the set up? would they be interested in 'internship in a box', etc)
   - Do an analysis of the situation about internships i

[2022-01-29 03:50] Rabia2219 commented on #113
Update:
Heard back from Marlborough:
[code]

[2022-01-31 03:15] Rabia2219 commented on #114
@aditipaulphd...this is the document for the wiki text: [Summer 22 Internship Description - Text for Wiki](https://docs.google.com/document/d/10nQkeFlzPe3GvzJQNWOjTZmxMVf8bB8cAKQt7yciV0k/edit?usp=sharing)

[2022-01-31 04:30] Rabia2219 commented on #102
@aditipaulphd...I believe this is the correct issue...link is under resources...

[2022-01-31 17:14] priyatalwar commented on #93
Date: 2022-1-31

Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
YES:

Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   role, ending at 1/0
   size, ending at 1/2
   feature, ending at 2/1
   milestone, endin